
	<!-- css
	custom_profile.css -->
	
	<style>

		/*.fontfam {
			font-family: JuneBug;
		}
		.gold {
			color: gold;
			font-size: 40px;
		}
		.red {
			color: red;
			font-size: 40px;			
		}
		.blue {
			color: blue;	
			font-size: 40px;			
		}	
		.green {
			color: green;	
			font-size: 60px;			
		}*/	

		.col-left-full-page {
			display: table-cell; width: 0px;	
		}
		.col-midd-full-page {
			display: table-cell; 
			width: 1000px;			
			/*border-left: 2px #41B737 solid;
			border-right: 2px #41B737 solid;*/
		}
		.col-right-full-page {
			display: table-cell; width: 0px;
		}
		.col-full-page-center {
			text-align: center;
		}	
				
	</style>

	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		
		<div style="height: 70px;"></div>
		
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left-full-page">
				</div>
				
				<div class="col-midd-full-page col-full-page-center">
											
					<img src="../assets_knowstory/knowstory-icon-2-w634-h212.png" alt="knowstory-icon-2-w634-h212.png">
						
					<!-- <div class="fontfam">
						<span class="red">Happy </span><span class="blue"> Birthday </span><span class="gold"> !</span>
						<div style="height: 80px;"></div>
						<span class="green">KnowStory</span>
					</div> -->
								
				</div>
				
				<div class="col-right-full-page">
				</div>
												
			</div>
		</div>
	</div>

