
	<style>
	
		.fontfam {
			font-family: JuneBug;
		}
		.gold {
			color: gold;
			font-size: 40px;
		}
		.red {
			color: red;
			font-size: 40px;			
		}
		.blue {
			color: blue;	
			font-size: 40px;			
		}	
		.green {
			color: green;	
			font-size: 60px;			
		}	
			
	</style>

	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left">
				</div>
				
				<div class="col-midd">
					
					<div style="height: 40px;"></div>
			
					<div style="text-align: center;">
						<div class="fontfam">
							<span class="red">Happy </span><span class="blue"> Birthday </span><span class="gold"> !</span>
							<div style="height: 80px;"></div>
							<span class="green">KnowStory</span>
						</div>
					</div>
								
				</div>
				
				<div class="col-right">
				</div>								
			</div>
		</div>
	</div>
