<% provide(:title, 'Caption Hover Effects - Demo 3') %>
		
		
		
		
		
		
		
			<ul class="grid cs-style-3 boxtemp-blue">
				<li>
					<figure class="boxtemp-red">
						<img src="/assets/1.png" alt="img01">
						<figcaption>
							<h3>$$$</h3>
							<span>Эрик</span>
							<a href="">Классно!</a>
						</figcaption>
					</figure>
				</li>
			</ul>
