
		<!-- <link rel="stylesheet" href="/assets/jquery-ui.css"> -->		
		<!-- <script src="/assets/jquery-ui.js"></script> -->
		<!-- <script src="/assets/jquery-min.js"></script> -->

		<!-- <link rel="stylesheet" href="../styles/custom_mtablets.css"> -->		
		<!-- <link rel="stylesheet" href="../styles/custom_tabs.css"> -->
		
		<style>
			
			.dtab-ul {
				/*text-align: left;*/
				width: 790px;
			}
			.dtab-container {
				width: 100%;
				/*overflow-x: scroll;*/
			}
			
		</style>

<!-- 
Listing                    
Square                        
Poster Pins                        
See Posters
Premium Positions 
-->

		<div style="width: 790px; margin: 0 auto; background: #fff; min-height: 850px;">						
		
			<!-- <div style="height: 70px;"></div> -->
		
			<div id="mtabs" class="mtabs dtab-container">
				<ul class="dtab-ul">
					<!-- <li><a href="#tabs-A" id="tabsA">Tablets</a></li> -->				
					<li><a href="#tabs-0" id="tabs0" class="mtab mtab-yellow" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: 400; color: #000;">Listing</a></li>				
					<li><a href="#tabs-1" id="tabs1" class="mtab mtab-blue" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: 400; color: #000;">Square</a></li>
					<li><a href="#tabs-2" id="tabs2" class="mtab mtab-blue" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: 400; color: #000;">Poster Pins</a></li>
					<li><a href="#tabs-3" id="tabs3" class="mtab mtab-blue" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: 400; color: #000;">See Posters</a></li>
					<li><a href="#tabs-4" id="tabs4" class="mtab mtab-blue" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: 400; color: #000;">Premium Positions</a></li>
				</ul>
			</div>			
		
			<div id="render_ads"></div>

			<%= hidden_field_tag :pos1, params[:pos1] %>
						
		</div>

		<script>

			selected_index = 0;
			last_index = 0;
			selected_id = "";
			last_id = "";
			function change_selected(selected_index) {
				selected_id = "#tabs" + selected_index;
				last_id = "#tabs" + last_index; 
				
				switch (last_index)
				{
				  	case 0:
						$(last_id).removeClass("mtab-selected").addClass("mtab-yellow");
						break;
				  	case 1:
				  	case 2:
				  	case 3:
				  	case 4:
				  	// case 5:
				  	// case 6:
				  	// case 7:
				  	// case 8:
				  	// case 9:
				  	// case 10:
				  	// case 11:
				  	// case 12:
				  	// case 13:
				  	// case 14:
				  	// case 15:
				  	// case 16:
				  	// case 17:
				  	// case 18:
				  	// case 19:
				  	// case 20:
						$(last_id).removeClass("mtab-selected").addClass("mtab-blue");
						break;
					default:
					//
				}
				
				switch (selected_index)
				{
				  	case 0:
						$(selected_id).removeClass("mtab-yellow").addClass("mtab-selected");
						break;
				  	case 1:
				  	case 2:
				  	case 3:
				  	case 4:
				  	// case 5:
				  	// case 6:
				  	// case 7:
				  	// case 8:
				  	// case 9:
				  	// case 10:				  	
				  	// case 11:
				  	// case 12:
				  	// case 13:
				  	// case 14:
				  	// case 15:
				  	// case 16:
				  	// case 17:
				  	// case 18:
				  	// case 19:
				  	// case 20:
						$(selected_id).removeClass("mtab-blue").addClass("mtab-selected");
						break;
					default:
					//
				}
				
				last_index = selected_index;
			}				
				
// Listing                    
// Square                        
// Poster Pins                        
// See Posters
// Premium Positions 
				
			$('#tabs0').on('click', function() {
				change_selected(0);
			   	// $.get("/tab_listing", null, null, "script");
			   	$.get("/Publisher-Listings", null, null, "script");			   	
			});

			$('#tabs1').on('click', function() {
				change_selected(1);
			   	$.get("/Publisher-Squares", null, null, "script");
			   	
				// $.get( "/dtab1lets", null, null, 'script', function() {
				// })
				// .done(function() {
					// $("#tablets th a, #tablets .pagination a").on("click", function() {
						 // $.get("/dtab1lets/list", null, null, "script");
						// return false;
					// });
				// })
				// .fail(function() {
					// alert( "ajax load error" );
				// });
			});
	
			$('#tabs2').on('click', function() {
				change_selected(2);				
			   $.get("/Publisher-Pins", null, null, "script");
			});
			$('#tabs3').on('click', function() {
				change_selected(3);
			   	$.get("/See-Posters", null, null, "script");
			});
			$('#tabs4').on('click', function() {
				change_selected(4);
			   	$.get("/Poster-Premium-Positions", null, null, "script");
			});
			// $('#tabs5').on('click', function() {
				// change_selected(5);
			   	// $.get("/dtab5lets", null, null, "script");
			// });
			
			$(function() {
				$('#tabs0').click();
			});			
	
		</script>

