

			<div style="height: 20px;"></div>
			<a href="/PublisherCreateJournalPoster" class="no-underline"><span class="right-title-sub"> Start Poster</span></a>
			<div style="height: 20px;"></div>
			<div class="pad-left-20">
				<div class="ad-box">
					<div>Ad 1</div>
					<div>*Current</div>

				</div>
				<div style="height: 20px;"></div>				
				<div class="ad-box">
					<div>Ad 2</div>
					<div>*Pending</div>

				</div>
				<div style="height: 20px;"></div>				
				<div class="ad-box">
					<div>Ad 3</div>
					<div>*Disabled</div>

				</div>
				<div style="height: 20px;"></div>				
				<div class="ad-box">
					<div>Ad 4</div>
					<div>*Developing</div>

				</div>
				
			</div>