
	<style>

		.profile-links-left {
			
		}	
		.profile-links-left ul {
			
		}
		.profile-links-left ul li {
			height: 20px;
			width: 100%;
			/*background-color: #fff;*/
			list-style: none;						
		}	
		.profile-links-left ul li span {
			height: 20px;
			width: 100%;			
			font-family:Arial, Helvetica, sans-serif;
			/*font-size: 13px;
			/*color: #9F6720;   */ 		
		}	
		.profile-links-left ul li a {
			height: 20px;
			width: 100%;			
			font-family:Arial, Helvetica, sans-serif;
			/*font-size: 13px;
			/*color: #9F6720;  */  		
		}	
			

		.profile-labels-left {
			
		}	
		.profile-labels-left ul {
			
		}
		.profile-labels-left ul li {
			height: 20px;
			width: 100%;
			/*background-color: #fff;*/
			list-style: none;						
		}	
		.profile-labels-left ul li span {
			height: 20px;
			padding-left:15px;
			width: 100%;			
			font-family:Arial, Helvetica, sans-serif;
			/*font-size: 13px;
			/*color: #9F6720;    */		
		}	
		.profile-labels-left ul li a {
			height: 20px;
			width: 100%;			
			font-family:Arial, Helvetica, sans-serif;
			/*font-size: 13px;
			/*color: #9F6720;    */		
		}	
		.profile-labels-left ul li:hover {
		}	

		.profile-links-left ul li.sub {
			padding-left: 40px;
		}
		.line-separator {
			width: 90%;
			border-top: 2px #DCE3DF solid;	
			margin: 10px 0 10px 0;
		}
		
	</style>

	<div class="profile-labels-left">
		<ul>
			<li>
				<a href="/Publisher-Admin"><span href="#">My Story</span></a>
			</li>
		</ul>		
	</div>	
	<div class="profile-links-left">
		<ul>
			<!--<li id="profile-links-left-7" class="sub">
				<a id="profile-links-left-7-a" href="/Publisher-Admin">Home</a>
			</li>
			<!--<li id="profile-links-left-8" class="sub">
				<!-- <a id="profile-links-left-9-a" href="/MemberProfilePhotos">Photos</a>
				<a id="profile-links-left-8-a" href="/Photos">Photos</a>
			</li>-->						
			<li id="profile-links-left-9" class="sub">
				<a id="profile-links-left-9-a" href="/Publisher-Profile-Admin">Edit Profile</a>
			</li>
			<!--<li id="profile-links-left-10" class="sub">
				<a id="profile-links-left-10-a" href="/Publisher-Admin-Settings">Settings</a>
			</li>-->
			<li id="profile-links-left-12" class="sub">
		      <a id="profile-links-left-12-a" href="/Connections">My Connections</a>
		    </li>
		    <li id="profile-links-left-11" class="sub">
		      <a id="profile-links-left-11-a" href="/Mail">My Mail</a>
		    </li>  
		</ul>
	</div>
	<div class="profile-labels-left">
		<ul>
			<li>
				<a href="/Publisher"><span href="#">Corporate Story</span></a>
			</li>
		</ul>		
	</div>	
	<div class="profile-links-left">
		<ul>
			<!--<li id="profile-links-left-2" class="sub">
				<a id="profile-links-left-2-a" href="/Publisher">Home</a>
			</li>			
			<li id="profile-links-left-3" class="sub">
				<a id="profile-links-left-3-a" href="/Publisher-Photos">Photos</a>
			</li>-->
			<li id="profile-links-left-4" class="sub">
				<a id="profile-links-left-4-a" href="/Publisher-Profile">Edit Profile</a>
			</li>
			<li id="profile-links-left-5" class="sub">
				<a id="profile-links-left-5-a" href="/Publisher-Settings">Settings</a>
			</li>
			<li id="profile-links-left-12" class="sub">
		      <a id="profile-links-left-12-a" href="/Connections">Connections</a>
		    </li> 
			<li id="profile-links-left-11" class="sub">
		      <a id="profile-links-left-11-a" href="/Mail">Mail</a>
		    </li> 
		    <li id="profile-links-left-13" class="sub">
		      <a id="profile-links-left-13-a" href="/Groups">Groups</a>
		    </li>
		    <li id="profile-links-left-14" class="sub">
		      <a id="profile-links-left-14-a" href="/Metrics">Metrics</a>
		    </li> 
		    <li id="profile-links-left-15" class="sub">
		      <a id="profile-links-left-15-a" href="/Advertisements">Ads</a>
		    </li>
		    <li id="profile-links-left-15" class="sub">
		      <a id="profile-links-left-15-a" href="/Corporate-Members">Corporate Members</a>
		    </li> 		     
		</ul>
	</div>
	
	<!-- <div class="line-separator"></div>
	<div class="profile-links-left">
		<ul>			
			<li id="profile-links-left-5">
				<a id="profile-links-left-5-a" href="/Publishers">Home</a>
			</li>
			<li id="profile-links-left-8">
				<a id="profile-links-left-8-a" href="/Publisher-Profile">Profile</a>
			</li>	
			<li id="profile-links-left-9" class="sub">
				<a id="profile-links-left-9-a" href="/PublisherSettings">Settings</a>
			</li>
		</ul>
	</div> -->
	<!--<div class="line-separator"></div>
	<div class="profile-links-left">
		<ul>			
		    <li id="profile-links-left-11">
		      <a id="profile-links-left-11-a" href="/Mail">Mail</a>
		    </li> 
		    <li id="profile-links-left-12">
		      <a id="profile-links-left-12-a" href="/Connections">Connections</a>
		    </li> 
		    <li id="profile-links-left-13">
		      <a id="profile-links-left-13-a" href="/Groups">Groups</a>
		    </li>
		</ul>
	</div>
	<div class="line-separator"></div>
	<div class="profile-links-left">
		<ul>			
		    <li id="profile-links-left-14">
		      <a id="profile-links-left-14-a" href="/Metrics">Metrics</a>
		    </li> 
		</ul>
	</div>-->
	<div class="profile-labels-left">
		<ul>
			<li>
				<span href="#">Product Story</span>
			</li>
		</ul>		
	</div>	
	<div class="profile-links-left">
		<ul>	
			<li id="profile-links-left-16" class="sub">
				<a id="profile-links-left-16-a" href="/Publisher-Products">Products</a>
			</li>		
		    <li id="profile-links-left-15" class="sub">
		      <a id="profile-links-left-15-a" href="/Advertisements">Ads</a>
		    </li> 
				
		</ul>
	</div>
	<div class="profile-links-left">
		<ul>			
			<% if session[:publisher_has_journalposter] %>
			<li id="profile-links-left-17" class="sub">
				<a id="profile-links-left-17-a" href="/Publisher-Posters">Posters</a>
			</li>	
			<% end %>
		</ul>
	</div>

	<script>
		
		$(window).load( function() {
		//$(document).ready(function(){

			$('li#profile-links-left-1').on('click', function() {
				window.location = document.getElementById('profile-links-left-1-a').href;
			});
			$('li#profile-links-left-2').on('click', function() {
				window.location = document.getElementById('profile-links-left-2-a').href;				
			});
			$('li#profile-links-left-3').on('click', function() {
				window.location = document.getElementById('profile-links-left-3-a').href;				
			});
			$('li#profile-links-left-4').on('click', function() {
				window.location = document.getElementById('profile-links-left-4-a').href;				
			});
			$('li#profile-links-left-5').on('click', function() {
				window.location = document.getElementById('profile-links-left-5-a').href;				
			});
			$('li#profile-links-left-6').on('click', function() {
				window.location = document.getElementById('profile-links-left-6-a').href;				
			});
			$('li#profile-links-left-7').on('click', function() {
				window.location = document.getElementById('profile-links-left-7-a').href;				
			});
			$('li#profile-links-left-8').on('click', function() {
				window.location = document.getElementById('profile-links-left-8-a').href;				
			});
			$('li#profile-links-left-9').on('click', function() {
				window.location = document.getElementById('profile-links-left-9-a').href;				
			});
			$('li#profile-links-left-10').on('click', function() {
				window.location = document.getElementById('profile-links-left-10-a').href;				
			});
			$('li#profile-links-left-11').on('click', function() {
				window.location = document.getElementById('profile-links-left-11-a').href;				
			});
			$('li#profile-links-left-12').on('click', function() {
				window.location = document.getElementById('profile-links-left-12-a').href;				
			});
			$('li#profile-links-left-13').on('click', function() {
				window.location = document.getElementById('profile-links-left-13-a').href;				
			});
			$('li#profile-links-left-14').on('click', function() {
				window.location = document.getElementById('profile-links-left-14-a').href;				
			});
			$('li#profile-links-left-15').on('click', function() {
				window.location = document.getElementById('profile-links-left-15-a').href;				
			});
			$('li#profile-links-left-16').on('click', function() {
				window.location = document.getElementById('profile-links-left-16-a').href;				
			});
			$('li#profile-links-left-17').on('click', function() {
				window.location = document.getElementById('profile-links-left-17-a').href;				
			});

		});
		
	</script>
	