<div style="text-align: left;">
	<span class="normal">Publishers</span>	
	<div class="line-space"></div>
	<span class="normal">Username: <%= session[:username] %></span>
	<div class="line-space"></div>
	<span><a style="font-family: msyh; font-size: 13px;" href="/journalposterpurchases/new">Purchase Journal Poster</a></span>
</div>
