<!-- <#%= stylesheet_link_tag "ad-column", media: "all", "data-turbolinks-track" => true %#> -->

<div id="ad-column">
<!-- <ul class="ad-list">
	<li><a href="#"><img src=""></a></li>
	<li><a href="#"><img src=""></a></li>
	<li><a href="#"><img src=""></a></li>
	<li><a href="#"><img src=""></a></li>
	<li><a href="#"><img src=""></a></li>
	<li><a href="#"><img src=""></a></li>
</ul> -->
</div>