<!-- <#%= stylesheet_link_tag "ad-column", media: "all", "data-turbolinks-track" => true %#> -->
<!--
<div id="ad-column">
 <ul class="ad-list">
	<li><a href="#"><img src=""></a></li>
	<li><a href="#"><img src=""></a></li>
	<li><a href="#"><img src=""></a></li>
	<li><a href="#"><img src=""></a></li>
	<li><a href="#"><img src=""></a></li>
	<li><a href="#"><img src=""></a></li>
</ul> 
</div>
-->



<div style="text-align: left;">
<img src="/assets_knowstory/fills/search-fill.jpg" style="width: 275px; margin-bottom: 15px;">
<img src="/assets_knowstory/fills/poster-fill.jpg" style="width: 275px; margin-bottom: 15px;">
<img src="/assets_knowstory/fills/reading-fill.jpg" style="width: 275px; margin-bottom: 15px;">
<img src="/assets_knowstory/fills/list-fill-1-2.jpg" style="width: 275px;margin-bottom: 15px;">
<img src="/assets_knowstory/fills/list-fill-3-4.jpg" style="width: 275px;margin-bottom: 30px;">
<img class="listing-last" src="/assets_knowstory/fills/list-fill-5-6.jpg" style="width: 275px;margin-bottom: 15px;">

</div>