<style>
	#ks-footer {width: 100%; margin-top: 50px;}

	#foot-1 {background: #49853f; color:#fff;}
	#foot-1 img {background: #fff; float:left; margin-top: -30px;}
	.ks-foot-links {list-style: none outside none; width: 900px; margin:0 auto;}
	.ks-foot-links li {display: inline; margin: 0 32px; font-size: 24px;}
	#foot-1 a:link {color:#fff; text-decoration: none;}
	#foot-1 a:hover {color:#a6a6a6; text-decoration: none;}
	#foot-1 a:active {color:#fff; text-decoration: none;}
	#foot-1 a:visited {color:#fff; text-decoration: none;}

	#foot-seperator {height:15px; background: #ffffff;}

	#foot-2 {background: #49853f; color:#fff; font-size: 16px; text-align: center; padding-bottom: 15px;}
</style>

<div id="ks-footer">
	<div id="foot-1">
		<a target="_blank" href="http://thelearningcounsel.com"><img alt="The Learning Counsel" src="/images_site/tlc-logo.png"></a>
		<ul class="ks-foot-links">
			<li><a href="/About">About Us</a></li>
			<li><a href="/Advertise">Advertise</a></li>
			<li><a href="/Policies">Policies</a></li>
			<li><a href="/Fraud-Reporting">Fraud Reporting</a></li>
			<li><a href="/Support">Support</a></li>
		</ul>
	</div>

	<div id="foot-seperator">
	</div>

	<div id="foot-2">
		<span>&copy; Copyright 2015 KnowStory. All Rights Reserved.</span>
	</div>

</div>