
<div class="tabs" id="journalpostertabs">
  	<ul>
	    <li id="tab1">
	    	<a href="/Journal-Posters-1" class="tab" onclick="make_active(1);">Curriculum Resources</a>
	    </li>
	    <li id="tab2" >
	    	<a href="/Journal-Posters-2" class="tab" onclick="make_active(2);">Teacher Tools</a>
	    </li>
	    <li id="tab3">
	    	<a href="/Journal-Posters-3" class="tab" onclick="make_active(3);">School Operations</a>
	    </li>
	    <li id="tab4">
	    	<a href="/Journal-Posters-4" class="tab" onclick="make_active(4);">Digital Content</a>
	    </li>
	    <li id="tab5">
	    	<a href="/Journal-Posters-5" class="tab" onclick="make_active(5);">Professional Learning</a>	    	
	    </li>
	</ul>
</div>

<script>
	
	function make_active(index_tab) {		
		switch (index_tab)
		{
		  case 1:
		  		$("#tab1").addClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").removeClass("active");
		  		//$("#tab6").removeClass("active");			  		
		  	break;
		  case 2:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").addClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").removeClass("active");
		  		//$("#tab6").removeClass("active");			  					  
		  	break;
		  case 3:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").addClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").removeClass("active");
		  		//$("#tab6").removeClass("active");
		  	break;			  		
		  case 4:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").addClass("active");
		  		$("#tab5").removeClass("active");
		  		//$("#tab6").removeClass("active");
		  	break;			  		
		  case 5:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").addClass("active");
		  		//$("#tab6").removeClass("active");
		  	break;			  		
		  case 6:
		  		$("#tab1").removeClass("active");
		  		$("#tab2").removeClass("active");
		  		$("#tab3").removeClass("active");
		  		$("#tab4").removeClass("active");
		  		$("#tab5").removeClass("active");
		  		///$("#tab6").addClass("active");			  		
		  	break;

		  default:
		  //
		}
	}
	
</script>
