<% provide(:title, 'Publisher Ads') %>


	<style>
		
		.ad-box {
     		border: 2px solid #11520B;
			box-shadow: 0 3px 3px #6F6F6F;
     		width: 560px; /*or whatever fits best for 3 on a row*/
     		height: 160px;
		}
		
	</style>


	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left">
					<%= render 'share/dir_publishers_left'%>
				</div>
				
				<div class="col-midd">
					<div class="line-space-20"></div>
			
					<div style="text-align: left;">
						<span class="normal pad-left-20">Advertisements</span>
					</div>
					
					<%= render 'publisher_ads/index' %>
					
				</div>
				
				<div class="col-right">
					<%= render 'share/dir_publishers_right' %>
				</div>								
			</div>
		</div>
	</div>

	<script>
	  
		//$(window).load( function() {
	
		//});
	  
	</script>		
