<% provide(:title, 'Publisher Ads') %>


<style>
	/*Do not place in the assets pipeline*/
	.nav-publisher-product-summary .drop-16 .drop-16-target {
		background-color: #e8e8e8;
	}	
	
</style>

<div style="text-align: left;">
	<span class="normal pad-left-20">Advertisements</span>
	<a href="/PublisherCreateJournalPoster" class="no-underline"><span class="right-title-sub">Start Poster</span></a>
</div>


<!-- <script>
  
	//$(window).load( function() {
	$(document).ready( function() {
		$(".nav-publisher-product-summary .drop-16 .drop-16-target").css({
			'background-color' : '#f2f2f2'
		});
	});
  
</script> -->		


