
<style>
	
.drop-namespace101 .drop-hidden {
  display: none !important;
    visibility: hidden !important;  
}
.drop-namespace101 .drop-clear-both {
  clear: both;
}
.drop-namespace101 .drop-101 {
	width: 200px;
}
.drop-namespace101 .drop-101 .drop-101-triangle {
  	width: 0px;
  	height: 0px;
  	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 8px solid #fff;
  	position: relative;
  	left: 3px;
  	float: left;
}
.drop-namespace101 .drop-101 .drop-101-box {
  	width: 200px;
  	float: left;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-namespace101 .drop-101 .drop-101-container-links {
}
.drop-namespace101 .drop-101 .margin-top-hide-1 {
	margin-top: -16px;
}
.drop-namespace101 .drop-101 .margin-top-show-1 {
	margin-top: -6px;
}
.drop-namespace101 .drop-101 .drop-101-link-1 {
	width: 100%;
}
.drop-namespace101 .drop-101 .drop-101-link-1:hover .span-1 {
}   
.drop-namespace101 .drop-101 .drop-101-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-namespace101 .drop-101 a.drop-101-link-a-1 {
	text-decoration: none;
}
.drop-namespace101 .drop-101 a.drop-101-link-a-1:hover {
	text-decoration: none;
}
.drop-namespace101 .drop-101 .drop-101-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-namespace101 .drop-101 .drop-101-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-namespace101 .drop-101 .drop-101-divider-1 {
  	height: 2px;
}
.drop-namespace101 .drop-101 .drop-101-divider-2 {
  	height: 10px;
}
.drop-namespace101 .drop-101 .background-transparent {
  	background-color: transparent;
}
 .drop-namespace101 .background-white {
  	background-color: #fff;
}
.drop-namespace101 .drop-101 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-namespace101 .drop-101 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-namespace101 .drop-101 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-namespace101 .drop-101 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-namespace101 .drop-101 .nav-drop-1:hover {
  	cursor: pointer;
}
.drop-namespace101 .drop-101 .nav-drop-1:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-namespace101 .drop-101 .nav-drop-1:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-namespace101 .drop-101 .nav-drop-1:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-namespace101 .drop-101 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-namespace101 .drop-101-target-icon {
	display: inline-block;
}	
.drop-namespace101 .drop-101-target-text {
	display: inline-block;
}	
.drop-namespace101 .drop-101 a:focus {
	outline: none;	
}
.drop-namespace101 .drop-101 a:active {
	outline: none;
}
.drop-namespace101 .drop-101 a:visited {
	outline: none;
}
.drop-namespace101 .drop-101-table {
	display: table;
}
.drop-namespace101 .drop-101-table-row {
	display: table-row;
}
.drop-namespace101 .drop-101-table-cell-1 {
	display: table-cell;
	width: 174px;
}
.drop-namespace101 .drop-101-table-cell-2 {
	display: table-cell;
	width: 12px;
}	
.drop-namespace101 .drop-101-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
}
.drop-namespace101 .drop-101-1:hover {
  	background: #f6f6f6;
}
.drop-namespace101 .drop-101-1-target {
	position: relative;
}
.drop-namespace101 .drop-101-1 .drop-101-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
  	position: relative;
  	float: left;
  	left: -8px;
  	top: 33px;
}
.drop-namespace101 .drop-101-1 .drop-101-1-container {
  	position: relative;
}
.drop-namespace101 .drop-101-1 .drop-101-1-box {
  	width: 200px;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-namespace101 .drop-101-1 .drop-101-1-container-links {
}
.drop-namespace101 .drop-101-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
}
.drop-namespace101 .drop-101-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
}
.drop-namespace101 .drop-101-1 .drop-101-1-link-1 {
  	width: 100%;
}
.drop-namespace101 .drop-101-1 .drop-101-1-link-1:hover {
  	background: #f6f6f6;
}
.drop-namespace101 .drop-101-1 .drop-101-1-link-1:hover .span-1 {
}   
.drop-namespace101 .drop-101-1 .drop-101-1-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-namespace101 .drop-101-1 a.drop-101-1-link-a-1 {
	text-decoration: none;
}
.drop-namespace101 .drop-101-1 a.drop-101-1-link-a-1:hover {
	text-decoration: none;
}
.drop-namespace101 .drop-101-1 .drop-101-1-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-namespace101 .drop-101-1 .drop-101-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-namespace101 .drop-101-1 .drop-101-1-divider-1 {
  	height: 2px;
}
.drop-namespace101 .drop-101-1 .drop-101-1-divider-2 {
  	height: 10px;
}
.drop-namespace101 .drop-101-1 .background-transparent {
  	background-color: transparent;
}
.drop-namespace101 .drop-101-1 .background-white {
  	background-color: #fff;
}
.drop-namespace101 .drop-101-1 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-namespace101 .drop-101-1 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-namespace101 .drop-101-1 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-namespace101 .drop-101-1 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-namespace101 .drop-101-1 .nav-drop-1:hover {
  	cursor: pointer;
}
.drop-namespace101 .drop-101-1 .nav-drop-1:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-namespace101 .drop-101-1 .nav-drop-1:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-namespace101 .drop-101-1 .nav-drop-1:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-namespace101 .drop-101-1 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-namespace101 .drop-101-1-target-icon {
	display: inline-block;
}	
.drop-namespace101 .drop-101-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
}	
	
</style>

<style>

.container-figure-image-border-load {
	border: 2px solid #fff;
}	
.container-figure-image-border {
	border: 2px solid #ccc;
}
.container-figure-image-border-edit {
	border: 2px solid #fbb040;
}	
	
</style>


<div class="drop-namespace101 hidden">
	<% if @image_1 %>   				
	
		<div class="container-figure-image container-figure-image-border-load container-figure-image-1 drop-101" style="position: relative;">
			<figure class="dialog-101-1-figure cursor-pointer" data-width="<%= @image_1.width %>" data-src-600="<%= @image_1.image_url(:image_600_600) %>">
				<img id="image_1_img" class="" alt="" src="<%= @image_1.image_url(:image_375_300) + '?' + (rand(10..90) * rand(100..900)).to_s if @image_1.image? %>" />
				<figcaption class="edit-image hidden drop-101-target">
						<div class="img-1-text">Edit photo</div>
				</figcaption>
			</figure>
	    	<div class="drop-101-container drop-hidden">
				<div class="drop-101-box background-transparent margin-top-hide-1">
					<div class="drop-101-triangle"></div>
					<div style="clear: both;"></div>
					<div class="drop-101-container-links background-white drop-101-border drop-101-shadow">
						<div class="drop-101-divider-2"></div>
						<div class="drop-101-link-1 cursor-pointer" data-id="1">
							<div class="drop-101-1">
						    	<div class="drop-101-1-target">
						    		<div class="drop-101-1-target-text">
						    			<span class="drop-101-1-span-1">New/Change</span>
						    		</div>						    		
						    	</div>
					    	</div>
						</div>
						<div class="drop-101-divider-1"></div>
						<div class="drop-101-link-1 cursor-pointer" data-id="2">
							<div class="drop-101-1">
						    	<div class="drop-101-1-target">
						    		<div class="drop-101-1-target-text">
						    			<span class="drop-101-1-span-1">Crop/Center</span>
						    		</div>						    		
						    	</div>
					    	</div>
						</div>
						<div class="drop-101-divider-1"></div>
						<div class="drop-101-link-1 cursor-pointer" data-id="3">
							<div class="drop-101-1">
						    	<div class="drop-101-1-target">
						    		<div class="drop-101-1-target-text">
						    			<span class="drop-101-1-span-1">Delete</span>
						    		</div>						    		
						    	</div>
					    	</div>
						</div>
						<div class="drop-101-divider-2"></div>
					</div>
				</div>
	        </div>
		</div>

	<% else %>

		<div class="container-figure-image container-figure-image-border-load container-figure-image-1 drop-101" style="position: relative;">
			<figure class="dialog-101-1-figure-generic" data-width="375" data-src-600="">
				<img id="image_1_img_generic" class="" alt="" src="<%= image_path('avatars/avatar-gen-product-w375-h300.png') %>" />
				<figcaption class="edit-image hidden cursor-pointer drop-101-target">
						<div class="img-1-text">Add a photo</div>
				</figcaption>
			</figure>
	    	<div class="drop-101-container drop-hidden">
				<div class="drop-101-box background-transparent margin-top-hide-1">
					<div class="drop-101-triangle"></div>
					<div style="clear: both;"></div>
					<div class="drop-101-container-links background-white drop-101-border drop-101-shadow">
						<div class="drop-101-divider-2"></div>
						<div class="drop-101-link-1 cursor-pointer" data-id="4">
							<div class="drop-101-1">
						    	<div class="drop-101-1-target">
						    		<div class="drop-101-1-target-text">
						    			<span class="drop-101-1-span-1">New Photo</span>
						    		</div>						    		
						    	</div>
					    	</div>
						</div>
						<div class="drop-101-divider-2"></div>
					</div>
				</div>
	        </div>
		</div>
	<% end %>
</div>


<script>

	var drop_visible_namespace101 = false;
	function drop_show_namespace101() {
		$(".drop-namespace101 .drop-101-container").removeClass('drop-hidden');
		$(".drop-namespace101 .drop-101-box").fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
		drop_visible_namespace101 = true;			
	}	
	function drop_hide_namespace101() {
		$(".drop-namespace101 .drop-101-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);		
		drop_visible_namespace101 = false;			
	}	
	function drop_toggle_namespace101() {
		if (drop_visible_namespace101) {
			drop_hide_namespace101();
		}
		else {
			drop_close_all_called_namespace101 = false;
			drop_show_namespace101();
		}
	}	
	
	function dropCloseAll_namespace101() {
		drop_close_all_called_namespace101 = true;
		drop_hide_namespace101();
	}
	
	
	var drop_close_all_called_namespace101 = false;
	
	
	$(document).ready(function () {				

		$("img").one("load", function() {
			if((this.id == "image_1_img") || (this.id == "image_1_img_generic")) {
				var img_w = this.width;
				var img_h = this.height;

				$(".container-figure-image-1").css({
					// width : img_w + 4,
					// height : img_h + 4
					width : img_w,
					height : img_h						
				})// .removeClass("container-figure-image-border-load").addClass("container-figure-image-border");													
			}
			// if(this.id == "image_1_generic_img") {
				// var img_w = this.width;
				// var img_h = this.height;
				// $(".container-figure-image-1").css({
					// // width : img_w + 4,
					// // height : img_h + 4
					// width : img_w,
					// height : img_h						
				// }).removeClass("container-figure-image-border-load").addClass("container-figure-image-border");				
			// }				
			if(this.id == "image_1_img_600") {
				var img_w = this.width;
				var img_h = this.height;
				$("#figure_dialog_101_1").css({
					width : img_w,
					height : img_h
				});																			
			}								
		}).each(function() {
		  	if(this.complete) {
		  		$(this).load();
		  		$(".drop-namespace101").removeClass("hidden");
		  	}
		});

		$(document).on('click', function(e) {
			var target_namespace101 = $(e.target).parents('.drop-namespace101').attr("class");
			if (target_namespace101 == null) {
				drop_hide_namespace101();
			}
		});

		$(".drop-namespace101 .drop-101-target").on('click', function() {
			drop_toggle_namespace101();
		});
		$(".drop-namespace101 .drop-101-link-1[data-id='1']").on("click", function() {
			dropCloseAll_namespace101();
			$(document).trigger("btn_image_1_change_click");
		});
		$(".drop-namespace101 .drop-101-link-1[data-id='2']").on("click", function() {
			dropCloseAll_namespace101();
			$(document).trigger("btn_image_1_crop_click");
		});
		$(".drop-namespace101 .drop-101-link-1[data-id='3']").on("click", function() {
			dropCloseAll_namespace101();
			$(document).trigger("btn_image_1_delete_click");
		});
		$(".drop-namespace101 .drop-101-link-1[data-id='4']").on("click", function() {
			dropCloseAll_namespace101();
			$(document).trigger("btn_image_1_new_click");
		});

		$("#image_1_img").on("load", function() {
			var img_w = this.width;
			var img_h = this.height;
			$(".container-figure-image-1").css({
				width : img_w,
				height : img_h						
			});													
		}).each(function() {
		  	if(this.complete) {
		  		$(this).load();
		  		$(".drop-namespace101").removeClass("hidden");
		  	}
		});

		$("#image_1_img_generic").on("load", function() {
			var img_w = this.width;
			var img_h = this.height;
			$(".container-figure-image-1").css({
				width : img_w,
				height : img_h						
			});													
		}).each(function() {
		  	if(this.complete) {
		  		$(this).load();
		  		$(".drop-namespace101").removeClass("hidden");
		  	}
		});

		$("#image_1_img_600").on("load", function() {
			var img_w = this.width;
			var img_h = this.height;
			$("#figure_dialog_101_1").css({
				width : img_w,
				height : img_h
			});																			
		}).each(function() {
		  	if(this.complete) {
		  		$(this).load();
		  	}
		});

	});
	
</script>


<!-- <script>

	// $(window).load( function() {
	$(document).ready( function () {				

		// $("img").one("load", function() {
			// if((this.id == "image_1_img") || (this.id == "image_1_generic_img")) {
				// var img_w = this.width;
				// var img_h = this.height;
// 
				// $(".container-figure-image-1").css({
					// // width : img_w + 4,
					// // height : img_h + 4
					// width : img_w,
					// height : img_h						
				// })// .removeClass("container-figure-image-border-load").addClass("container-figure-image-border");													
			// }
			// // if(this.id == "image_1_generic_img") {
				// // var img_w = this.width;
				// // var img_h = this.height;
				// // $(".container-figure-image-1").css({
					// // // width : img_w + 4,
					// // // height : img_h + 4
					// // width : img_w,
					// // height : img_h						
				// // }).removeClass("container-figure-image-border-load").addClass("container-figure-image-border");				
			// // }				
			// if(this.id == "image_1_img_600") {
				// var img_w = this.width;
				// var img_h = this.height;
				// $("#figure_dialog_101_1").css({
					// width : img_w,
					// height : img_h
				// });																			
			// }								
		// }).each(function() {
		  	// if(this.complete) {
		  		// $(this).load();
		  		// $(".drop-namespace101").removeClass("hidden");
		  	// }
		// });


		$("#image_1_img").on("load", function() {
			var img_w = this.width;
			var img_h = this.height;
			$(".container-figure-image-1").css({
				width : img_w,
				height : img_h						
			});													
		}).each(function() {
		  	if(this.complete) {
		  		$(this).load();
		  		$(".drop-namespace101").removeClass("hidden");
		  	}
		});

		$("#image_1_img_generic").on("load", function() {
			var img_w = this.width;
			var img_h = this.height;
			$(".container-figure-image-1").css({
				width : img_w,
				height : img_h						
			});													
		}).each(function() {
		  	if(this.complete) {
		  		$(this).load();
		  		$(".drop-namespace101").removeClass("hidden");
		  	}
		});

		$("#image_1_img_600").on("load", function() {
			var img_w = this.width;
			var img_h = this.height;
			$("#figure_dialog_101_1").css({
				width : img_w,
				height : img_h
			});																			
		}).each(function() {
		  	if(this.complete) {
		  		$(this).load();
		  	}
		});
		
		// // var this_img;			
		// $(".dialog-101-1-figure").on('click', function(e) {
			// // alert("dialog-11-figure");
			// if ( e.target.nodeName == "IMG" ) {
// 
				// $("#dialog_overlay").jqmShow();
				// $("#overlay_loading").removeClass("display-none");
// 
				// // // alert($(this).attr("id"));
				// // var w = $(this).data("width");
				// // // alert(w);
				// // w += 120;
				// // var w2 = -(w/2);
				// var src_img = $(this).data("src-600");
				// // alert(src_img);
				// $('<img src="'+ src_img +'">').load(function(){
					// $("#figure_dialog_101_1").append($(this));
					// // var image_1_url = gon.image_1_url;
					// // var s_tmpl = "templates/figure_dialog_101_1";
					// // $.tmpl(s_tmpl, {
						// // src_image: image_1_url
					// // }).appendTo($("#figure_dialog_101_1"));
// 
					// // $(".jqmWindow-101-1").css({
						// // 'margin-left' : w2,
						// // 'width' : w  
					// // });
					// $("#overlay_loading").addClass("display-none");
					// $("#dialog_overlay").jqmHide();
					// $("#dialog_101_1").jqmShow();
					// $("#dialog_101_1 .close-container").css({ 'position' : 'fixed' });	
				// }).error(function(){
					// alert('error loading image');
				// });
			// }
		// });
// 		
		// $('#dialog_101_1').jqm({
			// overlay: 84,
			// onShow: function(hash) {
				// hash.o.prependTo('body');
				// hash.w.css('top', ($(window).scrollTop() + 10).toString() + 'px');
				// hash.w.css('opacity', 1.0).fadeIn(100);
			// },
			// onHide: function(hash) {
				// alert('onHide');
				// hash.o.remove();
				// hash.w.css('top', '-8000px');
				// $("#figure_dialog_101_1 img").remove();
			// }
		// }); 		
		
		// $('#dialog_101_1').jqm({
			// overlay: 84,
			// onShow: function(hash) {
				// hash.w.css('opacity', 1.0).fadeIn(10);
				// hash.o.prependTo('body');
				// hash.w.css('top', '10px');
			// },
			// onHide: function(hash) {
				// hash.o.remove();
				// hash.w.css('top', '-8000px');
				// $("#figure_dialog_101_1 img").remove();
				// // hash.w.fadeOut('10',function(){ 
					// // hash.o.remove(); 
				// // });
			// }
		// }); 		

		// $('#dialog_overlay').jqm({
			// overlay: 84,
			// onShow: function(hash) {
				// hash.w.css('opacity', 1.0).fadeIn(10);
				// hash.o.prependTo('body');
				// // hash.w.css('top', '0px');
			// },
			// onHide: function(hash) {
				// hash.o.remove();
				// hash.w.css('top', '-8000px');
			// }
		// }); 		


		// $('#dialog_101_5').jqm({
			// onShow: function(hash) {
				// hash.o.prependTo('body');
				// hash.w.css('top', ($(window).scrollTop() + 10).toString() + 'px');
				// hash.w.css('opacity', 1.0).fadeIn(100);
			// }
		// }); 		
		
		// $('#dialog_101_5').jqm({
			// onShow: function(hash) {
				// hash.o.prependTo('body');
				// hash.w.css('top', '-720px');
				// hash.w.css('opacity', 1.0).fadeIn(200);
				// // hash.w.show();
				// $('#dialog_101_5').animate(
					// {bottom:'-=740', top:'+=740'}, 
					// 500, 
					// 'easeInOutCirc', 
					// function() {
						// $('#dialog_101_5').animate(
							// {bottom:'+=4', top:'-=4'}, 
							// 100, 
							// 'easeInBounce', 
							// function() {
							// }
						// );
					// }
				// );
			// }
		// }); 		
	
	});
  

</script> -->		

