
<style>
	
.drop-namespace102 .drop-hidden {
  display: none !important;
    visibility: hidden !important;  
}
.drop-namespace102 .drop-clear-both {
  clear: both;
}
.drop-namespace102 .drop-102 {
	width: 200px;
}
.drop-namespace102 .drop-102 .drop-102-triangle {
  	width: 0px;
  	height: 0px;
  	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 8px solid #fff;
  	position: relative;
  	left: 3px;
  	float: left;
}
.drop-namespace102 .drop-102 .drop-102-box {
  	width: 200px;
  	float: left;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-namespace102 .drop-102 .drop-102-container-links {
}
.drop-namespace102 .drop-102 .margin-top-hide-1 {
	margin-top: -16px;
}
.drop-namespace102 .drop-102 .margin-top-show-1 {
	margin-top: -6px;
}
.drop-namespace102 .drop-102 .drop-102-link-1 {
	width: 100%;
}
.drop-namespace102 .drop-102 .drop-102-link-1:hover .span-1 {
}   
.drop-namespace102 .drop-102 .drop-102-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-namespace102 .drop-102 a.drop-102-link-a-1 {
	text-decoration: none;
}
.drop-namespace102 .drop-102 a.drop-102-link-a-1:hover {
	text-decoration: none;
}
.drop-namespace102 .drop-102 .drop-102-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-namespace102 .drop-102 .drop-102-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-namespace102 .drop-102 .drop-102-divider-1 {
  	height: 2px;
}
.drop-namespace102 .drop-102 .drop-102-divider-2 {
  	height: 10px;
}
.drop-namespace102 .drop-102 .background-transparent {
  	background-color: transparent;
}
 .drop-namespace102 .background-white {
  	background-color: #fff;
}
.drop-namespace102 .drop-102 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-namespace102 .drop-102 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-namespace102 .drop-102 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-namespace102 .drop-102 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-namespace102 .drop-102 .nav-drop-1:hover {
  	cursor: pointer;
}
.drop-namespace102 .drop-102 .nav-drop-1:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-namespace102 .drop-102 .nav-drop-1:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-namespace102 .drop-102 .nav-drop-1:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-namespace102 .drop-102 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-namespace102 .drop-102-target-icon {
	display: inline-block;
}	
.drop-namespace102 .drop-102-target-text {
	display: inline-block;
}	
.drop-namespace102 .drop-102 a:focus {
	outline: none;	
}
.drop-namespace102 .drop-102 a:active {
	outline: none;
}
.drop-namespace102 .drop-102 a:visited {
	outline: none;
}
.drop-namespace102 .drop-102-table {
	display: table;
}
.drop-namespace102 .drop-102-table-row {
	display: table-row;
}
.drop-namespace102 .drop-102-table-cell-1 {
	display: table-cell;
	width: 174px;
}
.drop-namespace102 .drop-102-table-cell-2 {
	display: table-cell;
	width: 12px;
}	
.drop-namespace102 .drop-102-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
}
.drop-namespace102 .drop-102-1:hover {
  	background: #f6f6f6;
}
.drop-namespace102 .drop-102-1-target {
	position: relative;
}
.drop-namespace102 .drop-102-1 .drop-102-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
  	position: relative;
  	float: left;
  	left: -8px;
  	top: 33px;
}
.drop-namespace102 .drop-102-1 .drop-102-1-container {
  	position: relative;
}
.drop-namespace102 .drop-102-1 .drop-102-1-box {
  	width: 200px;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-namespace102 .drop-102-1 .drop-102-1-container-links {
}
.drop-namespace102 .drop-102-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
}
.drop-namespace102 .drop-102-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
}
.drop-namespace102 .drop-102-1 .drop-102-1-link-1 {
  	width: 100%;
}
.drop-namespace102 .drop-102-1 .drop-102-1-link-1:hover {
  	background: #f6f6f6;
}
.drop-namespace102 .drop-102-1 .drop-102-1-link-1:hover .span-1 {
}   
.drop-namespace102 .drop-102-1 .drop-102-1-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-namespace102 .drop-102-1 a.drop-102-1-link-a-1 {
	text-decoration: none;
}
.drop-namespace102 .drop-102-1 a.drop-102-1-link-a-1:hover {
	text-decoration: none;
}
.drop-namespace102 .drop-102-1 .drop-102-1-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-namespace102 .drop-102-1 .drop-102-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-namespace102 .drop-102-1 .drop-102-1-divider-1 {
  	height: 2px;
}
.drop-namespace102 .drop-102-1 .drop-102-1-divider-2 {
  	height: 10px;
}
.drop-namespace102 .drop-102-1 .background-transparent {
  	background-color: transparent;
}
.drop-namespace102 .drop-102-1 .background-white {
  	background-color: #fff;
}
.drop-namespace102 .drop-102-1 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-namespace102 .drop-102-1 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-namespace102 .drop-102-1 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-namespace102 .drop-102-1 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-namespace102 .drop-102-1 .nav-drop-1:hover {
  	cursor: pointer;
}
.drop-namespace102 .drop-102-1 .nav-drop-1:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-namespace102 .drop-102-1 .nav-drop-1:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-namespace102 .drop-102-1 .nav-drop-1:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-namespace102 .drop-102-1 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-namespace102 .drop-102-1-target-icon {
	display: inline-block;
}	
.drop-namespace102 .drop-102-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
}	
.drop-namespace102 .container-figure-image-border-load-102 {
	border: 2px solid #fff;
}	
.drop-namespace102 .container-figure-image-border-102 {
	border: 2px solid #fff;
}
.drop-namespace102 .container-figure-image-border-edit-102 {
	border: 2px solid #fbb040;
}	
	
.drop-namespace102 figure img,
 .drop-namespace102 figure {
  border: medium none; 
  overflow: hidden;
} 
.drop-namespace102 .figure-image-2-edit {
  border: 2px solid #fbb040;
} 
.drop-namespace102 .figure-image-2-edit img {
  margin-top: -2px;
  margin-right: -2px;
  margin-bottom: -4px;
  margin-left: -2px;
} 
.drop-namespace102 figcaption.edit-image-2 {   
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  text-align: center;
  background: url("/assets/forms/background-000000-o100-w10-h10.png") repeat;
}
.drop-namespace102 figcaption.edit-image-2 div.img-2-container {
  position: relative;
  top: 46%;
  height: auto;
}     
.drop-namespace102 figcaption.edit-image-2 div.img-2-container div.img-2 {
  width: 72px;
  height: 60px;
  margin: auto;
  background: url("/assets/forms/logo_camera_1_w72_h60.png") no-repeat;
}     
.drop-namespace102 figcaption.edit-image-2 div.img-2-container div.img-2-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
}     
	
</style>


<div class="drop-namespace102">
	<% if @image_2 %>   				
	
		<div class="container-figure-image container-figure-image-border-load-102 container-figure-image-2 drop-102" style="position: relative;">
			<figure class="dialog-102-1-figure cursor-pointer" data-width="<%= @image_2.width %>" data-src-600="<%= @image_2.image_url(:image_600_600) %>">
				<img id="image_2_img" class="" alt="" src="<%= @image_2.image_url(:image_375_300) + '?' + (rand(10..90) * rand(100..900)).to_s if @image_2.image? %>" />
				<figcaption class="edit-image-2 hidden drop-102-target">
						<div class="img-2-container">
							<!-- <div class="img-2"></div> -->
							<div class="img-2-text">Edit photo</div>
						</div>
				</figcaption>
			</figure>
	    	<div class="drop-102-container drop-hidden">
				<div class="drop-102-box background-transparent margin-top-hide-1">
					<div class="drop-102-triangle"></div>
					<div style="clear: both;"></div>
					<div class="drop-102-container-links background-white drop-102-border drop-102-shadow">
						<div class="drop-102-divider-2"></div>
						<div class="drop-102-link-1 cursor-pointer" data-id="1">
							<div class="drop-102-1">
						    	<div class="drop-102-1-target">
						    		<div class="drop-102-1-target-text">
						    			<span class="drop-102-1-span-1">New/Change</span>
						    		</div>						    		
						    	</div>
					    	</div>
						</div>
						<div class="drop-102-divider-1"></div>
						<div class="drop-102-link-1 cursor-pointer" data-id="2">
							<div class="drop-102-1">
						    	<div class="drop-102-1-target">
						    		<div class="drop-102-1-target-text">
						    			<span class="drop-102-1-span-1">Crop/Center</span>
						    		</div>						    		
						    	</div>
					    	</div>
						</div>
						<div class="drop-102-divider-1"></div>
						<div class="drop-102-link-1 cursor-pointer" data-id="3">
							<div class="drop-102-1">
						    	<div class="drop-102-1-target">
						    		<div class="drop-102-1-target-text">
						    			<span class="drop-102-1-span-1">Delete</span>
						    		</div>						    		
						    	</div>
					    	</div>
						</div>
						<div class="drop-102-divider-2"></div>
					</div>
				</div>
	        </div>
		</div>

	<% else %>

		<div class="container-figure-image container-figure-image-border-load-102 container-figure-image-2 drop-102" style="position: relative;">
			<figure class="dialog-102-1-figure-generic" data-width="375" data-src-600="">
				<img id="image_2_img_generic" class="" alt="" src="<%= image_path('avatars/avatar-gen-corp-w375-h300.png') %>" />
				<figcaption class="edit-image-2 hidden cursor-pointer drop-102-target">
						<div class="img-1-text">Add a photo</div>
				</figcaption>
			</figure>
	    	<div class="drop-102-container drop-hidden">
				<div class="drop-102-box background-transparent margin-top-hide-1">
					<div class="drop-102-triangle"></div>
					<div style="clear: both;"></div>
					<div class="drop-102-container-links background-white drop-102-border drop-102-shadow">
						<div class="drop-102-divider-2"></div>
						<div class="drop-102-link-1 cursor-pointer" data-id="4">
							<div class="drop-102-1">
						    	<div class="drop-102-1-target">
						    		<div class="drop-102-1-target-text">
						    			<span class="drop-102-1-span-1">New Photo</span>
						    		</div>						    		
						    	</div>
					    	</div>
						</div>
						<div class="drop-102-divider-2"></div>
					</div>
				</div>
	        </div>
		</div>
	<% end %>
</div>


<script>

	var drop_visible_namespace102 = false;
	function drop_show_namespace102() {
		$(".drop-namespace102 .drop-102-container").removeClass('drop-hidden');
		$(".drop-namespace102 .drop-102-box").fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
		drop_visible_namespace102 = true;			
	}	
	function drop_hide_namespace102() {
		$(".drop-namespace102 .drop-102-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);		
		drop_visible_namespace102 = false;			
	}	
	function drop_toggle_namespace102() {
		if (drop_visible_namespace102) {
			drop_hide_namespace102();
		}
		else {
			drop_close_all_called_namespace102 = false;
			drop_show_namespace102();
		}
	}	
	
	function dropCloseAll_namespace102() {
		drop_close_all_called_namespace102 = true;
		drop_hide_namespace102();
	}
	
	
	var drop_close_all_called_namespace102 = false;
	
	
	$(document).ready(function () {				

		$(document).on('click', function(e) {
			var target_namespace102 = $(e.target).parents('.drop-namespace102').attr("class");
			if (target_namespace102 == null) {
				drop_hide_namespace102();
			}
		});

		$(".drop-namespace102 .drop-102-target").on('click', function() {
			drop_toggle_namespace102();
		});
		$(".drop-namespace102 .drop-102-link-1[data-id='1']").on("click", function() {
			dropCloseAll_namespace102();
			$(document).trigger("btn_image_2_change_click");
		});
		$(".drop-namespace102 .drop-102-link-1[data-id='2']").on("click", function() {
			dropCloseAll_namespace102();
			$(document).trigger("btn_image_2_crop_click");
		});
		$(".drop-namespace102 .drop-102-link-1[data-id='3']").on("click", function() {
			dropCloseAll_namespace102();
			$(document).trigger("btn_image_2_delete_click");
		});
		$(".drop-namespace102 .drop-102-link-1[data-id='4']").on("click", function() {
			dropCloseAll_namespace102();
			$(document).trigger("btn_image_2_new_click");
		});

		$("#image_2_img").one("load", function() {
			var img_w = this.width;
			var img_h = this.height;
			$(".container-figure-image-2").css({
				width : img_w,
				height : img_h						
			});				
			var img_w_edit = img_w - 4;
			var img_h_edit = img_h - 4;
			$(".drop-namespace102 .figure-image-2-edit").css({
				// width : img_w_edit,
				height : img_h_edit						
			});
			$(".drop-namespace102 figcaption.edit-image-2").css({
				width : img_w_edit,
				height : img_h_edit						
			});
			
			editImage_2_init(img_w, img_h, img_w_edit, img_h_edit);
		}).each(function() {
		  	if(this.complete) {
		  		$(this).load();
		  		// $(".drop-namespace102").removeClass("hidden");
		  	}
		});

		$("#image_2_img_generic").one("load", function() {
			var img_w = this.width;
			var img_h = this.height;
			$(".container-figure-image-2").css({
				width : img_w,
				height : img_h						
			});													

			var img_w_edit = img_w - 4;
			var img_h_edit = img_h - 4;
			$(".drop-namespace102 .figure-image-2-edit").css({
				// width : img_w_edit,
				height : img_h_edit						
			});
			$(".drop-namespace102 figcaption.edit-image-2").css({
				width : img_w_edit,
				height : img_h_edit						
			});
			
			editImage_2_init(img_w, img_h, img_w_edit, img_h_edit);
		}).each(function() {
		  	if(this.complete) {
		  		$(this).load();
		  		// $(".drop-namespace102").removeClass("hidden");
		  	}
		});

		$("#image_2_img_600").one("load", function() {
			var img_w = this.width;
			var img_h = this.height;
			$("#figure_dialog_102_1").css({
				width : img_w,
				height : img_h
			});																			
		}).each(function() {
		  	if(this.complete) {
		  		$(this).load();
		  		// $(".drop-namespace102").removeClass("hidden");
		  	}
		});

	});
	
</script>
