
<style>
	
.drop-namespace103 .drop-hidden {
  display: none !important;
    visibility: hidden !important;  
}
.drop-namespace103 .drop-clear-both {
  clear: both;
}
.drop-namespace103 .drop-103 {
	width: 200px;
}
.drop-namespace103 .drop-103 .drop-103-triangle {
  	width: 0px;
  	height: 0px;
  	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 8px solid #fff;
  	position: relative;
  	left: 3px;
  	float: left;
}
.drop-namespace103 .drop-103 .drop-103-box {
  	width: 200px;
  	float: left;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-namespace103 .drop-103 .drop-103-container-links {
}
.drop-namespace103 .drop-103 .margin-top-hide-1 {
	margin-top: -16px;
}
.drop-namespace103 .drop-103 .margin-top-show-1 {
	margin-top: -6px;
}
.drop-namespace103 .drop-103 .drop-103-link-1 {
	width: 100%;
}
.drop-namespace103 .drop-103 .drop-103-link-1:hover .span-1 {
}   
.drop-namespace103 .drop-103 .drop-103-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-namespace103 .drop-103 a.drop-103-link-a-1 {
	text-decoration: none;
}
.drop-namespace103 .drop-103 a.drop-103-link-a-1:hover {
	text-decoration: none;
}
.drop-namespace103 .drop-103 .drop-103-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-namespace103 .drop-103 .drop-103-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-namespace103 .drop-103 .drop-103-divider-1 {
  	height: 2px;
}
.drop-namespace103 .drop-103 .drop-103-divider-2 {
  	height: 10px;
}
.drop-namespace103 .drop-103 .background-transparent {
  	background-color: transparent;
}
 .drop-namespace103 .background-white {
  	background-color: #fff;
}
.drop-namespace103 .drop-103 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-namespace103 .drop-103 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-namespace103 .drop-103 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-namespace103 .drop-103 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-namespace103 .drop-103 .nav-drop-1:hover {
  	cursor: pointer;
}
.drop-namespace103 .drop-103 .nav-drop-1:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-namespace103 .drop-103 .nav-drop-1:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-namespace103 .drop-103 .nav-drop-1:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-namespace103 .drop-103 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-namespace103 .drop-103-target-icon {
	display: inline-block;
}	
.drop-namespace103 .drop-103-target-text {
	display: inline-block;
}	
.drop-namespace103 .drop-103 a:focus {
	outline: none;	
}
.drop-namespace103 .drop-103 a:active {
	outline: none;
}
.drop-namespace103 .drop-103 a:visited {
	outline: none;
}
.drop-namespace103 .drop-103-table {
	display: table;
}
.drop-namespace103 .drop-103-table-row {
	display: table-row;
}
.drop-namespace103 .drop-103-table-cell-1 {
	display: table-cell;
	width: 174px;
}
.drop-namespace103 .drop-103-table-cell-2 {
	display: table-cell;
	width: 12px;
}	
.drop-namespace103 .drop-103-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
}
.drop-namespace103 .drop-103-1:hover {
  	background: #f6f6f6;
}
.drop-namespace103 .drop-103-1-target {
	position: relative;
}
.drop-namespace103 .drop-103-1 .drop-103-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
  	position: relative;
  	float: left;
  	left: -8px;
  	top: 33px;
}
.drop-namespace103 .drop-103-1 .drop-103-1-container {
  	position: relative;
}
.drop-namespace103 .drop-103-1 .drop-103-1-box {
  	width: 200px;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-namespace103 .drop-103-1 .drop-103-1-container-links {
}
.drop-namespace103 .drop-103-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
}
.drop-namespace103 .drop-103-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
}
.drop-namespace103 .drop-103-1 .drop-103-1-link-1 {
  	width: 100%;
}
.drop-namespace103 .drop-103-1 .drop-103-1-link-1:hover {
  	background: #f6f6f6;
}
.drop-namespace103 .drop-103-1 .drop-103-1-link-1:hover .span-1 {
}   
.drop-namespace103 .drop-103-1 .drop-103-1-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-namespace103 .drop-103-1 a.drop-103-1-link-a-1 {
	text-decoration: none;
}
.drop-namespace103 .drop-103-1 a.drop-103-1-link-a-1:hover {
	text-decoration: none;
}
.drop-namespace103 .drop-103-1 .drop-103-1-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-namespace103 .drop-103-1 .drop-103-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-namespace103 .drop-103-1 .drop-103-1-divider-1 {
  	height: 2px;
}
.drop-namespace103 .drop-103-1 .drop-103-1-divider-2 {
  	height: 10px;
}
.drop-namespace103 .drop-103-1 .background-transparent {
  	background-color: transparent;
}
.drop-namespace103 .drop-103-1 .background-white {
  	background-color: #fff;
}
.drop-namespace103 .drop-103-1 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-namespace103 .drop-103-1 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-namespace103 .drop-103-1 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-namespace103 .drop-103-1 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-namespace103 .drop-103-1 .nav-drop-1:hover {
  	cursor: pointer;
}
.drop-namespace103 .drop-103-1 .nav-drop-1:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-namespace103 .drop-103-1 .nav-drop-1:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-namespace103 .drop-103-1 .nav-drop-1:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-namespace103 .drop-103-1 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-namespace103 .drop-103-1-target-icon {
	display: inline-block;
}	
.drop-namespace103 .drop-103-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
}	
.drop-namespace103 .container-figure-image-border-load-103 {
	border: 2px solid #fff;
}	
.drop-namespace103 .container-figure-image-border-103 {
	border: 2px solid #fff;
}
.drop-namespace103 .container-figure-image-border-edit-103 {
	border: 2px solid #fbb040;
}	
	
</style>


<div class="drop-namespace103">
	<% if @image_3 %>   				
	
		<div class="container-figure-image container-figure-image-border-load-103 container-figure-image-3 drop-103" style="position: relative;">
			<figure class="dialog-103-1-figure cursor-pointer" data-width="<%= @image_3.width %>" data-src-600="<%= @image_3.image_url(:image_600_600) %>">
				<img id="image_3_img" class="" alt="" src="<%= @image_3.image_url(:image_345_300) + '?' + (rand(10..90) * rand(100..900)).to_s if @image_3.image? %>" />
				<figcaption class="edit-image hidden drop-103-target">
						<div class="img-1-text">Edit photo</div>
				</figcaption>
			</figure>
	    	<div class="drop-103-container drop-hidden">
				<div class="drop-103-box background-transparent margin-top-hide-1">
					<div class="drop-103-triangle"></div>
					<div style="clear: both;"></div>
					<div class="drop-103-container-links background-white drop-103-border drop-103-shadow">
						<div class="drop-103-divider-2"></div>
						<div class="drop-103-link-1 cursor-pointer" data-id="1">
							<div class="drop-103-1">
						    	<div class="drop-103-1-target">
						    		<div class="drop-103-1-target-text">
						    			<span class="drop-103-1-span-1">New/Change</span>
						    		</div>						    		
						    	</div>
					    	</div>
						</div>
						<div class="drop-103-divider-1"></div>
						<div class="drop-103-link-1 cursor-pointer" data-id="2">
							<div class="drop-103-1">
						    	<div class="drop-103-1-target">
						    		<div class="drop-103-1-target-text">
						    			<span class="drop-103-1-span-1">Crop/Center</span>
						    		</div>						    		
						    	</div>
					    	</div>
						</div>
						<div class="drop-103-divider-1"></div>
						<div class="drop-103-link-1 cursor-pointer" data-id="3">
							<div class="drop-103-1">
						    	<div class="drop-103-1-target">
						    		<div class="drop-103-1-target-text">
						    			<span class="drop-103-1-span-1">Delete</span>
						    		</div>						    		
						    	</div>
					    	</div>
						</div>
						<div class="drop-103-divider-2"></div>
					</div>
				</div>
	        </div>
		</div>

	<% else %>

		<div class="container-figure-image container-figure-image-border-load-103 container-figure-image-3 drop-103" style="position: relative;">
			<figure class="dialog-103-1-figure-generic" data-width="345" data-src-600="">
				<img id="image_3_img_generic" class="" alt="" src="<%= image_path('avatars/avatar-gen-product-w345-h300.png') %>" />
				<figcaption class="edit-image hidden cursor-pointer drop-103-target">
						<div class="img-1-text">Add a photo</div>
				</figcaption>
			</figure>
	    	<div class="drop-103-container drop-hidden">
				<div class="drop-103-box background-transparent margin-top-hide-1">
					<div class="drop-103-triangle"></div>
					<div style="clear: both;"></div>
					<div class="drop-103-container-links background-white drop-103-border drop-103-shadow">
						<div class="drop-103-divider-2"></div>
						<div class="drop-103-link-1 cursor-pointer" data-id="4">
							<div class="drop-103-1">
						    	<div class="drop-103-1-target">
						    		<div class="drop-103-1-target-text">
						    			<span class="drop-103-1-span-1">New Photo</span>
						    		</div>						    		
						    	</div>
					    	</div>
						</div>
						<div class="drop-103-divider-2"></div>
					</div>
				</div>
	        </div>
		</div>
	<% end %>
</div>


<script>

	var drop_visible_namespace103 = false;
	function drop_show_namespace103() {
		$(".drop-namespace103 .drop-103-container").removeClass('drop-hidden');
		$(".drop-namespace103 .drop-103-box").fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
		drop_visible_namespace103 = true;			
	}	
	function drop_hide_namespace103() {
		$(".drop-namespace103 .drop-103-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);		
		drop_visible_namespace103 = false;			
	}	
	function drop_toggle_namespace103() {
		if (drop_visible_namespace103) {
			drop_hide_namespace103();
		}
		else {
			drop_close_all_called_namespace103 = false;
			drop_show_namespace103();
		}
	}	
	
	function dropCloseAll_namespace103() {
		drop_close_all_called_namespace103 = true;
		drop_hide_namespace103();
	}
	
	
	var drop_close_all_called_namespace103 = false;
	
	
	$(document).ready(function () {				

		$(document).on('click', function(e) {
			var target_namespace103 = $(e.target).parents('.drop-namespace103').attr("class");
			if (target_namespace103 == null) {
				drop_hide_namespace103();
			}
		});

		$(".drop-namespace103 .drop-103-target").on('click', function() {
			drop_toggle_namespace103();
		});
		$(".drop-namespace103 .drop-103-link-1[data-id='1']").on("click", function() {
			dropCloseAll_namespace103();
			$(document).trigger("btn_image_3_change_click");
		});
		$(".drop-namespace103 .drop-103-link-1[data-id='2']").on("click", function() {
			dropCloseAll_namespace103();
			$(document).trigger("btn_image_3_crop_click");
		});
		$(".drop-namespace103 .drop-103-link-1[data-id='3']").on("click", function() {
			dropCloseAll_namespace103();
			$(document).trigger("btn_image_3_delete_click");
		});
		$(".drop-namespace103 .drop-103-link-1[data-id='4']").on("click", function() {
			dropCloseAll_namespace103();
			$(document).trigger("btn_image_3_new_click");
		});

		$("#image_3_img").on("load", function() {
			var img_w = this.width;
			var img_h = this.height;
			$(".container-figure-image-3").css({
				width : img_w,
				height : img_h						
			});													
		}).each(function() {
		  	if(this.complete) {
		  		$(this).load();
		  		$(".drop-namespace103").removeClass("hidden");
		  	}
		});

		$("#image_3_img_generic").on("load", function() {
			var img_w = this.width;
			var img_h = this.height;
			$(".container-figure-image-3").css({
				width : img_w,
				height : img_h						
			});													
		}).each(function() {
		  	if(this.complete) {
		  		$(this).load();
		  		$(".drop-namespace103").removeClass("hidden");
		  	}
		});

		$("#image_3_img_600").on("load", function() {
			var img_w = this.width;
			var img_h = this.height;
			$("#figure_dialog_103_1").css({
				width : img_w,
				height : img_h
			});																			
		}).each(function() {
		  	if(this.complete) {
		  		$(this).load();
		  	}
		});

	});
	
</script>
