<% if false %>
					<div style="height: 16px;"></div>

					<div class="title-bar-profile-4 title-bar-profile-1-top-border">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left-long padding-left-8">
									<div class="position-relative">
										<div class="position-absolute top-minus-24">												
											<span>Corporation Contact</span>
										</div>
									</div>		
								</div>
								<!-- <div class="cell-title-bar-profile-center">
									<span></span>
								</div> -->
								<div class="cell-title-bar-profile-right">
									<div class="btn-opt-edit-container-outer">
										<div class="btn-opt-edit-container">
											<div id="open_edit_story_4" class="btn-opt-edit" tabindex="">
												Edit
											</div>
											<div id="close_edit_story_4" class="btn-opt-edit hidden" tabindex="">
												Cancel
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
<% end %>

					<div class="table" style="height: 210px; margin: 0;">
						<div class="row">
							<div class="cell-475">
								<div class="table pad-marg-null">
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Corporate URL:</span>
													</div>
													<div class="cell-280 edit-story-4 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute" style="top: -3px; right: 5px;">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_product_manifest_corporate_logo_url" name="publisher_product_manifest[corporate_logo_url]" tabindex="12" type="text" value="<%= @publisher_product_manifest.corporate_logo_url %>" placeholder="Corporate URL" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-4">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute" style="top: -1px;">
																		<span id="span_corporate_logo_url" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
								</div>
							</div>
							<div class="cell-225" id="container_image_4" style="padding: 1px 4px 0 0;">
								<div id="drop_container_image_4" class="drop width-200 float-right">
									<div id="render_image_4" class="padding-0">
										<%= render 'image_4' %>
							        </div>
								</div>
							</div>
						</div>
					</div>
