
<% if false %>
					<div class="title-bar-profile-4">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<span>Evaluation</span>		
								</div>
								<div class="cell-title-bar-profile-center">
								</div>
								<div class="cell-title-bar-profile-right">
								</div>
							</div>
						</div>
					</div>
<% end %>
								
			   		<div style="height: 10px;"></div>

			   		<div class="table">
			   			<div class="row">
			   				<div class="cell-20"></div>
							<div class="cell-330">
						   		<div class="table">
						   			<div class="row">
										<div class="cell-325">
											<div class="box-detail">
												<div class="table box-detail-table-1">
													<div class="row box-detail-row">
														<div class="cell-325">
															<div class="cell-265">
																<div class="box-detail-title">
																	Allow Teacher Ratings											
																</div>
															</div>
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_info_allow_teacher_rating" class="question-icon info-show-20 required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <!-- <div class="tooltiptitle"></div> -->
												                    <div class="tooltiptext">What is this?</div>
												                </div>																								
															</div>																		
															<div class="cell-20 min-h-20 min-w-20">
																<!-- <div id="required_allow_teacher_rating" class="required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Required</div>
												                </div> -->																								
															</div>
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_edit_allow_teacher_rating" class="edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex=""></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Edit</div>
												                </div>																								
															</div>
														</div>
													</div>
													
													<div class="row">
														<div class="cell-325">
															<div id="edit_allow_teacher_rating" class="hidden">
																<div>
																	<div class="cb-cell-1">
																		<span class="allow-label">Allow teacher ratings?</span>
																	</div>
																	<div class="cb-cell-2">
																		<div class="cb-container-1" id="cb_container_allow_teacher_rating">
																			<div class="cb-container-1a"><span>Yes/No</span></div>
																			<div class="cb-container-1b"><div id="cb_allow_teacher_rating" class="cb-button cb-align"></div></div>
																			<input id="cb_publisher_product_manifest_allow_teacher_rating" name="cb_publisher_product_manifest[allow_teacher_rating]" type="checkbox" value="" />
																		</div>
																	</div>
																	<div class="cb-cell-3"></div>
																</div>
																<div style="padding: 4px;">
																	<div style="display: inline-block;">
																		<div id="submit_allow_teacher_rating" class="btn-submit-product" tabindex="">Save</div>
																	</div>
																	<div style="display: inline-block;">
																		<div id="cancel_allow_teacher_rating" class="btn-submit-product" tabindex="">Cancel</div>
																	</div>	
																</div>																													
															</div>

															<div id="show_allow_teacher_rating">
																<div class="cb-cell-1"><span class="allow-label">Allow teacher ratings: </span></div>
																<div id="box_allow_teacher_rating" class="cb-cell-2"><span class="allow-label"></span></div>
																<div class="cb-cell-3"></div>
															</div>
														</div>
													</div>
													
												</div>
											</div> <!-- box -->

										</div>
									</div>
									
									
						   			<div class="row">
										<div class="cell-325">

										   	<div id="form_info_allow_teacher_rating" class="form-info-outer form-info-outer-allow-teacher-rating">
										   		<div style="height: 10px;"></div>
										   		<div class="form-info-inner form-info-inner-allow-teacher-rating">
										   			<div id="form_info_allow_teacher_rating_a">
										   				
												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
												   					<div id="close_info_allow_teacher_rating" class="form-edit-close pop-info tip-left-center">
												   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
												   					</div>
													                <div class="tip-content">
													                    <div class="tooltiptext">Close</div>
													                </div>													   																		   					
												   					<div style="clear: both;"></div>
												   				</div>
										   					</div>
														</div>				   				

												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
																	<span class="info-text-2">
																		Allow teacher rating																		
																	</span>
																	<!-- <div>
																		<div class="info-text-spacer"></div>																			
																		<div><span class="info-text-1">Core</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Provides content or curriculum that address core subjects.																		
																			</span>
																		</div>
																	</div> -->										   					
												   				</div>
										   					</div>
														</div>				   				
						
													</div>
												</div>
											</div>

										</div>
									</div>													
									
									<div class="row-divider-space-8"></div>
									<div class="row-divider-space-8"></div>

						   			<div class="row">
										<div class="cell-325">
											<div class="box-detail">
												<div class="table box-detail-table-1">
													<div class="row box-detail-row">
														<div class="cell-325">
															<div class="cell-265">
																<div class="box-detail-title">
																	Allow Comments									
																</div>
															</div>
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_info_allow_comments" class="question-icon info-show-20 required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <!-- <div class="tooltiptitle"></div> -->
												                    <div class="tooltiptext">What is this?</div>
												                </div>																								
															</div>																		
															<div class="cell-20 min-h-20 min-w-20">
																<!-- <div id="required_allow_comments" class="required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Required</div>
												                </div> -->																								
															</div>
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_edit_allow_comments" class="edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex=""></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Edit</div>
												                </div>																								
															</div>
														</div>
													</div>
													
													<div class="row">
														<div class="cell-325">
															<div id="edit_allow_comments" class="hidden">
																<div>
																	<div class="cb-cell-1">
																		<span class="allow-label">Allow comments?</span>
																	</div>
																	<div class="cb-cell-2">
																		<div class="cb-container-1" id="cb_container_allow_comments">
																			<div class="cb-container-1a"><span>Yes/No</span></div>
																			<div class="cb-container-1b"><div id="cb_allow_comments" class="cb-button cb-align"></div></div>
																			<input id="cb_publisher_product_manifest_allow_comments" name="cb_publisher_product_manifest[allow_comments]" type="checkbox" value="" />
																		</div>
																	</div>
																	<div class="cb-cell-3"></div>
																</div>
																<!-- <div id="render_allow_comments" class="cb-cell-4 render-1"></div>
																<div class="cb-cell-5"></div> -->

																<div style="padding: 4px;">
																	<div style="display: inline-block;">
																		<div id="submit_allow_comments" class="btn-submit-product" tabindex="">Save</div>
																	</div>
																	<div style="display: inline-block;">
																		<div id="cancel_allow_comments" class="btn-submit-product" tabindex="">Cancel</div>
																	</div>	
																</div>																													
															</div>

															<div id="show_allow_comments">
																<div class="cb-cell-1"><span class="allow-label">Allow comments: </span></div>
																<div id="box_allow_comments" class="cb-cell-2"><span class="allow-label"></span></div>
																<div class="cb-cell-3"></div>
															</div>
														</div>
													</div>
													
												</div>
											</div> <!-- box -->

										</div>
									</div>
									
									
						   			<div class="row">
										<div class="cell-325">

										   	<div id="form_info_allow_comments" class="form-info-outer form-info-outer-allow-comments">
										   		<div style="height: 10px;"></div>
										   		<div class="form-info-inner form-info-inner-allow-comments">
										   			<div id="form_info_allow_comments_a">
										   				
												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
												   					<div id="close_info_allow_comments" class="form-edit-close pop-info tip-left-center">
												   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
												   					</div>
													                <div class="tip-content">
													                    <div class="tooltiptext">Close</div>
													                </div>													   																		   					
												   					<div style="clear: both;"></div>
												   				</div>
										   					</div>
														</div>				   				

												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
																	<span class="info-text-2">
																		Allow comments																		
																	</span>
																	<!-- <div>
																		<div class="info-text-spacer"></div>																			
																		<div><span class="info-text-1">Core</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Provides content or curriculum that address core subjects.																		
																			</span>
																		</div>
																	</div> -->										   					
												   				</div>
										   					</div>
														</div>				   				
						
													</div>
												</div>
											</div>

										</div>
									</div>													
			   		
			   					</div>
			   				</div>
			   				
							<div class="cell-20"></div>
			   				
							<div class="cell-330">
						   		<div class="table">
						   			<div class="row">
										<div class="cell-325">
											<div class="box-detail">
												<div class="table box-detail-table-1">
													<div class="row box-detail-row">
														<div class="cell-325">
															<div class="cell-265">
																<div class="box-detail-title">
																	Allow Student Likes											
																</div>
															</div>
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_info_allow_student_likes" class="question-icon info-show-20 required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <!-- <div class="tooltiptitle"></div> -->
												                    <div class="tooltiptext">What is this?</div>
												                </div>																								
															</div>																		
															<div class="cell-20 min-h-20 min-w-20">
																<!-- <div id="required_allow_student_likes" class="required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Required</div>
												                </div> -->																								
															</div>
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_edit_allow_student_likes" class="edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex=""></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Edit</div>
												                </div>																								
															</div>
														</div>
													</div>
													
													<div class="row">
														<div class="cell-325">
															<div id="edit_allow_student_likes" class="hidden">
																<div>
																	<div class="cb-cell-1">
																		<span class="allow-label">Allow student Likes?</span>
																	</div>
																	<div class="cb-cell-2">
																		<div class="cb-container-1" id="cb_container_allow_student_likes">
																			<div class="cb-container-1a"><span>Yes/No</span></div>
																			<div class="cb-container-1b"><div id="cb_allow_student_likes" class="cb-button cb-align"></div></div>
																			<input id="cb_publisher_product_manifest_allow_student_likes" name="cb_publisher_product_manifest[allow_student_likes]" type="checkbox" value="" />
																		</div>
																	</div>
																	<div class="cb-cell-3"></div>
																</div>

																<div style="padding: 4px;">
																	<div style="display: inline-block;">
																		<div id="submit_allow_student_likes" class="btn-submit-product" tabindex="">Save</div>
																	</div>
																	<div style="display: inline-block;">
																		<div id="cancel_allow_student_likes" class="btn-submit-product" tabindex="">Cancel</div>
																	</div>	
																</div>																													
															</div>

															<div id="show_allow_student_likes">
																<div class="cb-cell-1"><span class="allow-label">Allow Student Likes: </span></div>
																<div id="box_allow_student_likes" class="cb-cell-2"><span class="allow-label"></span></div>
																<div class="cb-cell-3"></div>
															</div>
														</div>
													</div>
													
												</div>
											</div>

										</div>
									</div>
									
									
						   			<div class="row">
										<div class="cell-325">

										   	<div id="form_info_allow_student_likes" class="form-info-outer form-info-outer-allow-student-likes">
										   		<div style="height: 10px;"></div>
										   		<div class="form-info-inner form-info-inner-allow-student-likes">
										   			<div id="form_info_allow_student_likes_a">
										   				
												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
												   					<div id="close_info_allow_student_likes" class="form-edit-close pop-info tip-left-center">
												   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
												   					</div>
													                <div class="tip-content">
													                    <div class="tooltiptext">Close</div>
													                </div>													   					
												   					<div style="clear: both;"></div>
												   				</div>
										   					</div>
														</div>				   				

												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
																	<span class="info-text-2">
																		Allow student likes																		
																	</span>
																	<!-- <div>
																		<div class="info-text-spacer"></div>																			
																		<div><span class="info-text-1">Core</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Provides content or curriculum that address core subjects.																		
																			</span>
																		</div>
																	</div> -->													   					
												   				</div>
										   					</div>
														</div>				   				
						
													</div>
												</div>
											</div>

										</div>
									</div>													
									
									<div class="row-divider-space-8"></div>
			   		
			   					</div>
			   				</div>
			   				
							<div class="cell-20"></div>  				
			   			</div>
			   		</div>
