
<% if false %>
					<div style="height: 16px;"></div>

					<div class="title-bar-profile-4">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<span>Core Standards</span>		
								</div>
								<div class="cell-title-bar-profile-center">
								</div>
								<div class="cell-title-bar-profile-right">
								</div>
							</div>
						</div>
					</div>
<% end %>
								
			   		<div style="height: 10px;"></div>
			   		<div class="table">
			   			<div class="row">

							<div class="cell-20"></div>
							
<!-- 
box_detail_standard			box-detail-1			box-detail-2
box_detail_table_standard	box-detail-table-1		box-detail-table-2
cell_outer_standard			cell-325				cell-670
cell_inner_standard			cell-265				cell-670 
-->
				
							<div class="cell-670" style="min-width: 670px; min-height: 1px;">
								<div id="box_detail_core_literacy_standard" class="box-detail-2" style="background-color: #fff;">
									<div id="box_detail_table_core_literacy_standard" class="table box-detail-table-2">
										<div class="row box-detail-row">
											<div id="cell_outer_core_literacy_standard" class="cell-670">
												<div id="cell_inner_core_literacy_standard" class="cell-670">
													<div class="box-detail-title">
														Core Literacy Standards											
													</div>														
												</div>													
												<div class="cell-20 min-h-20 min-w-20">
													<div id="open_info_core_literacy_standard" class="question-icon info-show-20 required-1 pop-info tip-top-center"></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">What is this?</div>
									                </div>																								
												</div>																		
												<div class="cell-20 min-h-20 min-w-20">
													<!-- <div id="required_core_literacy_standard" class="required-1 pop-info tip-top-center"></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Required</div>
									                </div> -->																								
												</div>
												<div class="cell-20 min-h-20 min-w-20">
													<div id="open_edit_core_literacy_standard" class="edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex=""></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Edit</div>
									                </div>																								
												</div>
											</div>
										</div>
									</div>
									<div class="table box-detail-table-2">
										<!-- <div class="row box-detail-row"> -->
										<div class="row">
											<!-- <div class="cell-670" style="height: 40px;"> -->
											<div class="cell-670">

												<div id="edit_core_literacy_standard" class="hidden">
													<div class="row-divider-space-8"></div>
													<div id="tablets" style="margin-left: 20px;">
														<%= render 'publisher_product_manifests/list_core_literacy_standards' %>
													</div>		
													<div style="height:30px;"></div>
													<div style="display: inline-block; margin-left: 20px;">
														<div id="submit_core_literacy_standard" class="btn-submit-product" tabindex="">Save</div>
													</div>
													<div style="display: inline-block;">
														<div id="cancel_core_literacy_standard" class="btn-submit-product" tabindex="">Cancel</div>
													</div>	
													<div style="height:8px;"></div>
												</div>

												<!-- <div id="show_core_literacy_standard" class="box-detail-padding"> -->
												<div id="show_core_literacy_standard">
													<!-- <div><#%= @publisher_product_core_literacy_standards.count %#></div> -->
													<div id="box_core_literacy_standard"></div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="cell-20"></div>
						</div>
						
						
			   			<div class="row">
							<div class="cell-20"></div>
							<div class="cell-670">
							   	<div id="form_info_core_literacy_standard" class="form-info-outer-core-literacy-standard" style="width: 670px;">
							   		<div style="height: 10px;"></div>
							   		<div class="form-info-inner form-info-inner-core-literacy-standard">
							   			<div id="form_info_core_literacy_standard_a">
							   				
									   		<div class="table">
									   			<div class="row">
									   				<div class="cell-100percent form-edit-background">
									   					<div id="close_info_core_literacy_standard" class="form-edit-close pop-info tip-left-center">
									   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
									   					</div>
										                <div class="tip-content">
										                    <div class="tooltiptext">Close</div>
										                </div>													   																		   					
									   					<div style="clear: both;"></div>
									   				</div>
							   					</div>
											</div>				   				

									   		<div class="table">
									   			<div class="row">
									   				<div class="cell-100percent form-edit-background">
														<span class="info-text-2">
															Core Literacy Standards																		
														</span>
														<!-- <div>
															<div><span class="info-text-1">Core</span></div>
															<div style="padding: 0 0 0 6px;">
																<span class="info-text-2">
																	Provides content or curriculum that address core subjects.																		
																</span>
															</div>
														</div> -->										   					
									   				</div>
							   					</div>
											</div>				   				
										</div>
									</div>
								</div>
							</div>
							<div class="cell-20"></div>
						</div>
						
					</div>

			   		<div style="height: 10px;"></div>

			   		<div class="table">
			   			<div class="row">

							<div class="cell-20"></div>
							
<!-- 
box_detail_standard			box-detail-1			box-detail-2
box_detail_table_standard	box-detail-table-1		box-detail-table-2
cell_outer_standard			cell-325				cell-670
cell_inner_standard			cell-265				cell-670 
-->
				
							<div class="cell-670" style="min-width: 670px; min-height: 1px;">
								<div id="box_detail_core_math_standard" class="box-detail-2" style="background-color: #fff;">
									<div id="box_detail_table_core_math_standard" class="table box-detail-table-2">
										<div class="row box-detail-row">
											<div id="cell_outer_core_math_standard" class="cell-670">
												<div id="cell_inner_core_math_standard" class="cell-670">
													<div class="box-detail-title">
														Core Math Standards											
													</div>														
												</div>													
												<div class="cell-20 min-h-20 min-w-20">
													<div id="open_info_core_math_standard" class="question-icon info-show-20 required-1 pop-info tip-top-center"></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">What is this?</div>
									                </div>																								
												</div>																		
												<div class="cell-20 min-h-20 min-w-20">
													<!-- <div id="required_core_math_standard" class="required-1 pop-info tip-top-center"></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Required</div>
									                </div> -->																								
												</div>
												<div class="cell-20 min-h-20 min-w-20">
													<div id="open_edit_core_math_standard" class="edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex=""></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Edit</div>
									                </div>																								
												</div>
											</div>
										</div>
									</div>
									<div class="table box-detail-table-2">
										<!-- <div class="row box-detail-row"> -->
										<div class="row">
											<!-- <div class="cell-670" style="height: 40px;"> -->
											<div class="cell-670">

												<div id="edit_core_math_standard" class="hidden">
													<div class="row-divider-space-8"></div>
													<div id="tablets" style="margin-left: 20px;">
														<%= render 'publisher_product_manifests/list_core_math_standards' %>
													</div>		
													<div style="height:30px;"></div>
													<div style="display: inline-block; margin-left: 20px;">
														<div id="submit_core_math_standard" class="btn-submit-product" tabindex="">Save</div>
													</div>
													<div style="display: inline-block;">
														<div id="cancel_core_math_standard" class="btn-submit-product" tabindex="">Cancel</div>
													</div>	
													<div style="height:8px;"></div>
												</div>

												<!-- <div id="show_core_math_standard" class="box-detail-padding"> -->
												<div id="show_core_math_standard">
													<!-- <div><#%= @publisher_product_core_math_standards.count %#></div> -->
													<div id="box_core_math_standard"></div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="cell-20"></div>
						</div>
						
						
			   			<div class="row">
							<div class="cell-20"></div>
							<div class="cell-670">
							   	<div id="form_info_core_math_standard" class="form-info-outer-core-math-standard" style="width: 670px;">
							   		<div style="height: 10px;"></div>
							   		<div class="form-info-inner form-info-inner-core-math-standard">
							   			<div id="form_info_core_math_standard_a">
							   				
									   		<div class="table">
									   			<div class="row">
									   				<div class="cell-100percent form-edit-background">
									   					<div id="close_info_core_math_standard" class="form-edit-close pop-info tip-left-center">
									   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
									   					</div>
										                <div class="tip-content">
										                    <div class="tooltiptext">Close</div>
										                </div>													   																		   					
									   					<div style="clear: both;"></div>
									   				</div>
							   					</div>
											</div>				   				

									   		<div class="table">
									   			<div class="row">
									   				<div class="cell-100percent form-edit-background">
														<span class="info-text-2">
															Core Math Standards																		
														</span>
														<!-- <div>
															<div><span class="info-text-1">Core</span></div>
															<div style="padding: 0 0 0 6px;">
																<span class="info-text-2">
																	Provides content or curriculum that address core subjects.																		
																</span>
															</div>
														</div> -->										   					
									   				</div>
							   					</div>
											</div>				   				
										</div>
									</div>
								</div>
							</div>
							<div class="cell-20"></div>
						</div>
						
					</div>
