<% if false %>
					<div class="title-bar-profile-4">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<span>Pricing</span>		
								</div>
								<div class="cell-title-bar-profile-center">
								</div>
								<div class="cell-title-bar-profile-right">
								</div>
							</div>
						</div>
					</div>
<% end %>
					
					<div style="height: 10px;"></div>					

			   		<div class="table">
			   			<div class="row">
			   				<div class="cell-20"></div>
							<div class="cell-330">
								<div class="box-detail">
									<div class="table box-detail-table-1">
										<div class="row box-detail-row">
											<div class="cell-325">
												<div class="cell-265">
													<div class="box-detail-title">
														Pricing Model											
													</div>
												</div>
												<div class="cell-20 min-h-20 min-w-20">
													<div id="open_info_pricing_model" class="question-icon info-show-20 required-1 pop-info tip-top-center"></div>
									                <div class="tip-content">
									                    <!-- <div class="tooltiptitle"></div> -->
									                    <div class="tooltiptext">What is this?</div>
									                </div>																								
												</div>																		
												<div class="cell-20 min-h-20 min-w-20">
													<!-- <div id="required_pricing_model" class="required-1 pop-info tip-top-center"></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Required</div>
									                </div> -->																								
												</div>
												<div class="cell-20 min-h-20 min-w-20">
													<div id="open_edit_pricing_model" class="edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex=""></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Edit</div>
									                </div>																								
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="cell-325">
												<div id="edit_pricing_model" class="hidden">
													
													<div style="padding: 4px;">
										          		<select id="publisher_product_pricing_model" name="publisher_product[pricing_model]" data-placeholder="-Select-" class="chosen-select" multiple style="width:314px;" tabindex="">
															<% @pricing_models.each do|pricing_model| %>
																<option value="<%= pricing_model.id %>"><%= pricing_model.col_1 %></option>
															<% end %>
										          		</select>
													</div>
													<div style="padding: 4px;">
														<div style="display: inline-block;">
															<div id="submit_pricing_model" class="btn-submit-product" tabindex="">Save</div>
														</div>
														<div style="display: inline-block;">
															<div id="cancel_pricing_model" class="btn-submit-product" tabindex="">Cancel</div>
														</div>	
													</div>												
												</div>
												<div id="show_pricing_model">
													<div id="box_pricing_model"></div>
												</div>
											</div>
										</div>
										
									</div>
								</div>

					
							</div>
							<div class="cell-330" style="min-width: 330px; min-height: 1px;"></div>
							<div class="cell-30"></div>
						</div>


			   			<div class="row">
			   				<div class="cell-20"></div>
							<div class="cell-330">
							   	<div id="form_info_pricing_model" class="form-info-outer form-info-outer-pricing-model">
							   		<div style="height: 10px;"></div>
							   		<div class="form-info-inner form-info-inner-pricing-model">
							   			<div id="form_info_pricing_model_a">
									   		<div class="table">
									   			<div class="row">
									   				<div class="cell-100percent form-edit-background">
									   					<div id="close_info_pricing_model" class="form-edit-close pop-info tip-left-center">
									   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
									   					</div>
										                <div class="tip-content">
										                    <div class="tooltiptext">Close</div>
										                </div>													   																		   					
									   					<div style="clear: both;"></div>
									   				</div>
							   					</div>
											</div>				   				
									   		<div class="table">
									   			<div class="row">
									   				<div class="cell-100percent form-edit-background">
														<span class="info-text-2">
															A freemium product is provided with limited features for free and charges for full-feature functionality.
														</span>													   																		   					
									   				</div>
							   					</div>
											</div>				   				
										</div>
									</div>
								</div>
							</div>
							<div class="cell-330" style="min-width: 330px; min-height: 1px;"></div>
							<div class="cell-30"></div>
						</div>
					</div>

					<div style="height: 16px;"></div>

			   		<div class="table">
			   			<div class="row">
							<div class="cell-20"></div>
							<div class="cell-670" style="min-width: 670px; min-height: 1px;">
								<div class="box-detail-2" style="background-color: #fff;">
									<div class="table box-detail-table-2">
										<div class="row box-detail-row">
											<div class="cell-670">
												<div class="cell-630">
													<div class="box-detail-title">
														Price											
													</div>														
												</div>													
												<div class="cell-20 min-h-20 min-w-20">
													<div id="open_info_price" class="question-icon info-show-20 required-1 pop-info tip-top-center"></div>
									                <div class="tip-content">
									                    <!-- <div class="tooltiptitle"></div> -->
									                    <div class="tooltiptext">What is this?</div>
									                </div>																								
												</div>																		
												<div class="cell-20 min-h-20 min-w-20">
													<!-- <div id="required_price" class="required-1 pop-info tip-top-center"></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Required</div>
									                </div> -->																								
												</div>
												<div class="cell-20 min-h-20 min-w-20">
													<div id="open_edit_price" class="edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex=""></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Edit</div>
									                </div>																								
												</div>
											</div>
										</div>
										<div class="row">
											<div class="cell-670">
												<div id="edit_price" class="hidden">
													<div class="table-product-price" id="table_product_price" tabindex="3100">						
														<div class="row-divider-space-8"></div>
														
														<!-- 1 -->															
														<div class="row-product-price">
															<div class="cell-product-price-1">
																<span id="span_price_1" class="price-list" tabindex="3110">Price (subscription -1)</span>
															</div>
															<div class="cell-product-price-2">
																<div class="cb-container-1d">
																	<div id="cb_price_1" class="cb-button cb-align-price" tabindex="3111"></div>
																</div>
																<input id="ch_price_1" name="ch_price_1" type="checkbox" value="" />
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<input class="input-home-profile-d" id="publisher_product_price_price_1_dec" name="publisher_product_price[price_1_dec]" tabindex="3112" type="text" value="" placeholder="" />
															</div>
															<div id="render_price_1" class="cell-product-price-5 render-1"></div>
														</div>	

														<!-- 2 -->														
														<div class="row-product-price">
															<div class="cell-product-price-1">
																<span id="span_price_2" class="price-list" tabindex="3120">Price (subscription -enterprise 1-999 seats)</span>
															</div>
															<div class="cell-product-price-2">
																<div class="cb-container-1d">
																	<div id="cb_price_2" class="cb-button cb-align-price" tabindex="3121"></div>
																</div>
																<input id="ch_price_2" name="ch_price_2" type="checkbox" value="" />
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<input class="input-home-profile-d" id="publisher_product_price_price_2_dec" name="publisher_product_price[price_2_dec]" tabindex="3122" type="text" value="" placeholder="" />
															</div>
															<div id="render_price_2" class="cell-product-price-5 render-1"></div>
														</div>	
				
														<!-- 3 -->
														<div class="row-product-price">
															<div class="cell-product-price-1">
																<span id="span_price_3" class="price-list" tabindex="3130">Price (subscription - enterprise 1000-4999 seats)</span>
															</div>
															<div class="cell-product-price-2">
																<div class="cb-container-1d">
																	<div id="cb_price_3" class="cb-button cb-align-price" tabindex="3131"></div>
																</div>
																<input id="ch_price_3" name="ch_price_3" type="checkbox" value="" />
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<input class="input-home-profile-d" id="publisher_product_price_price_3_dec" name="publisher_product_price[price_3_dec]" tabindex="3132" type="text" value="" placeholder="" />
															</div>
															<div id="render_price_3" class="cell-product-price-5 render-1"></div>
														</div>	
					
														<!-- 4 -->
														<div class="row-product-price">
															<div class="cell-product-price-1">
																<span id="span_price_4" class="price-list" tabindex="3140">Price (subscription - enterprise 5000-9999 seats)</span>
															</div>
															<div class="cell-product-price-2">
																<div class="cb-container-1d">
																	<div id="cb_price_4" class="cb-button cb-align-price" tabindex="3141"></div>
																</div>
																<input id="ch_price_4" name="ch_price_4" type="checkbox" value="" />
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<input class="input-home-profile-d" id="publisher_product_price_price_4_dec" name="publisher_product_price[price_4_dec]" tabindex="3142" type="text" value="" placeholder="" />
															</div>
															<div id="render_price_4" class="cell-product-price-5 render-1"></div>
														</div>	
				
														<!-- 5 -->
														<div class="row-product-price">
															<div class="cell-product-price-1">
																<span id="span_price_5" class="price-list" tabindex="3150">Price (subscription - enterprise 10,000+ seats)</span>
															</div>
															<div class="cell-product-price-2">
																<div class="cb-container-1d">
																	<div id="cb_price_5" class="cb-button cb-align-price" tabindex="3151"></div>
																</div>
																<input id="ch_price_5" name="ch_price_5" type="checkbox" value="" />
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<input class="input-home-profile-d" id="publisher_product_price_price_5_dec" name="publisher_product_price[price_5_dec]" tabindex="3152" type="text" value="" placeholder="" />
															</div>
															<div id="render_price_5" class="cell-product-price-5 render-1"></div>
														</div>	
					
														<!-- 6 -->
														<div class="row-product-price">
															<div class="cell-product-price-1">
																<span id="span_price_6" class="price-list" tabindex="3160">Price - Single User</span>
															</div>
															<div class="cell-product-price-2">
																<div class="cb-container-1d">
																	<div id="cb_price_6" class="cb-button cb-align-price" tabindex="3161"></div>
																</div>
																<input id="ch_price_6" name="ch_price_6" type="checkbox" value="" />
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<input class="input-home-profile-d" id="publisher_product_price_price_6_dec" name="publisher_product_price[price_6_dec]" tabindex="3162" type="text" value="" placeholder="" />
															</div>
															<div id="render_price_6" class="cell-product-price-5 render-1"></div>
														</div>	
				
														<!-- 7 -->
														<div class="row-product-price">
															<div class="cell-product-price-1">
																<span id="span_price_7" class="price-list" tabindex="3170">Price (server - enterprise 1-999 seats)</span>
															</div>
															<div class="cell-product-price-2">
																<div class="cb-container-1d">
																	<div id="cb_price_7" class="cb-button cb-align-price" tabindex="3171"></div>
																</div>
																<input id="ch_price_7" name="ch_price_7" type="checkbox" value="" />
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<input class="input-home-profile-d" id="publisher_product_price_price_7_dec" name="publisher_product_price[price_7_dec]" tabindex="3172" type="text" value="" placeholder="" />
															</div>
															<div id="render_price_7" class="cell-product-price-5 render-1"></div>
														</div>	
					
														<!-- 8 -->
														<div class="row-product-price">
															<div class="cell-product-price-1">
																<span id="span_price_8" class="price-list" tabindex="3180">Price (server - enterprise 1000-4999 seats)</span>
															</div>
															<div class="cell-product-price-2">
																<div class="cb-container-1d">
																	<div id="cb_price_8" class="cb-button cb-align-price" tabindex="3181"></div>
																</div>
																<input id="ch_price_8" name="ch_price_8" type="checkbox" value="" />
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<input class="input-home-profile-d" id="publisher_product_price_price_8_dec" name="publisher_product_price[price_8_dec]" tabindex="3182" type="text" value="" placeholder="" />
															</div>
															<div id="render_price_8" class="cell-product-price-5 render-1"></div>
														</div>	
					
														<!-- 9 -->
														<div class="row-product-price">
															<div class="cell-product-price-1">
																<span id="span_price_9" class="price-list" tabindex="3190">Price (server - enterprise 5000-9999 seats)</span>
															</div>
															<div class="cell-product-price-2">
																<div class="cb-container-1d">
																	<div id="cb_price_9" class="cb-button cb-align-price" tabindex="3191"></div>
																</div>
																<input id="ch_price_9" name="ch_price_9" type="checkbox" value="" />
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<input class="input-home-profile-d" id="publisher_product_price_price_9_dec" name="publisher_product_price[price_9_dec]" tabindex="3192" type="text" value="" placeholder="" />
															</div>
															<div id="render_price_9" class="cell-product-price-5 render-1"></div>
														</div>	
					
														<!-- 10 -->
														<div class="row-product-price">
															<div class="cell-product-price-1">
																<span id="span_price_10" class="price-list" tabindex="3200">Price (server - enterprise 10,000+ seats)</span>
															</div>
															<div class="cell-product-price-2">
																<div class="cb-container-1d">
																	<div id="cb_price_10" class="cb-button cb-align-price" tabindex="3201"></div>
																</div>
																<input id="ch_price_10" name="ch_price_10" type="checkbox" value="" />
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<input class="input-home-profile-d" id="publisher_product_price_price_10_dec" name="publisher_product_price[price_10_dec]" tabindex="3202" type="text" value="" placeholder="" />
															</div>
															<div id="render_price_10" class="cell-product-price-5 render-1"></div>
														</div>	
					
														<!-- 11 -->
														<div class="row-product-price">
															<div class="cell-product-price-1">
																<span id="span_price_11" class="price-list" tabindex="3210">Call for Pricing</span>
															</div>
															<div class="cell-product-price-2">
																<div class="cb-container-1d">
																	<div id="cb_price_11" class="cb-button cb-align-price" tabindex="3211"></div>
																</div>
																<input id="ch_price_11" name="ch_price_11" type="checkbox" value="" />
															</div>
															<div class="cell-product-price-3"></div>
															<div class="cell-product-price-4">
															</div>
															<div id="render_price_11" class="cell-product-price-5 render-1"></div>
														</div>	
				
														<div class="row-divider-space-8"></div>
														<div class="row-divider-space-8"></div>
														<div class="row-product-price">
															<div class="cell-product-price-1">
																<div style="height:4px;"></div>
																<div style="display: inline-block;">
																	<div id="submit_price" class="btn-submit-product" tabindex="3220">Save</div>
																</div>
																<div style="display: inline-block;">
																	<div id="cancel_price" class="btn-submit-product" tabindex="3221">Cancel</div>
																</div>	
															</div>										
															<div class="cell-product-price-2">
															</div>
															<div class="cell-product-price-3"></div>
															<div class="cell-product-price-4">
															</div>
															<div class="cell-product-price-5">
															</div>								
														</div>

														<div class="row-divider-space-8"></div>															
													</div>
												
												</div>
												<div id="show_price">
													<!-- <div id="box_price"></div> -->
													
													<div class="table-product-price">	
														
														<!-- <div class="form-home-profile-row"></div> -->		
														<!-- <div class="row-divider-space-8"></div> -->			
				
														<div id="row_price_1" class="row-product-price">
															<div class="cell-product-price-1">
																<span class="price-list">Price (subscription -1)</span>
															</div>
															<div class="cell-product-price-2">
																<!-- <input id="ch_price_1" name="ch_price_1" type="checkbox" value="" /> -->
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<div id="price_1_dec"></div>
															</div>
															<div class="cell-product-price-5 render-1"></div>
														</div>	

														<div id="row_price_2" class="row-product-price">
															<div class="cell-product-price-1">
																<span class="price-list">Price (subscription -enterprise 1-999 seats)</span>
															</div>
															<div class="cell-product-price-2">
																<!-- <input id="ch_price_1" name="ch_price_1" type="checkbox" value="" /> -->
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<div id="price_2_dec" class="min-w-20 h-24"></div>
															</div>
															<div class="cell-product-price-5 render-1"></div>
														</div>	

														<div id="row_price_3" class="row-product-price">
															<div class="cell-product-price-1">
																<span class="price-list">Price (subscription - enterprise 1000-4999 seats)</span>
															</div>
															<div class="cell-product-price-2">
																<!-- <input id="ch_price_1" name="ch_price_1" type="checkbox" value="" /> -->
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<div id="price_3_dec" class="min-w-20 min-h-20"></div>
															</div>
															<div class="cell-product-price-5 render-1"></div>
														</div>	

														<div id="row_price_4" class="row-product-price">
															<div class="cell-product-price-1">
																<span class="price-list">Price (subscription - enterprise 5000-9999 seats)</span>
															</div>
															<div class="cell-product-price-2">
																<!-- <input id="ch_price_1" name="ch_price_1" type="checkbox" value="" /> -->
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<div id="price_4_dec" class="min-w-20 min-h-20"></div>
															</div>
															<div class="cell-product-price-5 render-1"></div>
														</div>	

														<div id="row_price_5" class="row-product-price">
															<div class="cell-product-price-1">
																<span class="price-list">Price (subscription - enterprise 10,000+ seats)</span>
															</div>
															<div class="cell-product-price-2">
																<!-- <input id="ch_price_1" name="ch_price_1" type="checkbox" value="" /> -->
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<div id="price_5_dec" class="min-w-20 min-h-20"></div>
															</div>
															<div class="cell-product-price-5 render-1"></div>
														</div>	

														<div id="row_price_6" class="row-product-price">
															<div class="cell-product-price-1">
																<span class="price-list">Price - Single User</span>
															</div>
															<div class="cell-product-price-2">
																<!-- <input id="ch_price_1" name="ch_price_1" type="checkbox" value="" /> -->
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<div id="price_6_dec" class="min-w-20 min-h-20"></div>
															</div>
															<div class="cell-product-price-5 render-1"></div>
														</div>	

														<div id="row_price_7" class="row-product-price">
															<div class="cell-product-price-1">
																<span class="price-list">Price (server - enterprise 1-999 seats)</span>
															</div>
															<div class="cell-product-price-2">
																<!-- <input id="ch_price_1" name="ch_price_1" type="checkbox" value="" /> -->
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<div id="price_7_dec" class="min-w-20 min-h-20"></div>
															</div>
															<div class="cell-product-price-5 render-1"></div>
														</div>	

														<div id="row_price_8" class="row-product-price">
															<div class="cell-product-price-1">
																<span class="price-list">Price (server - enterprise 1000-4999 seats)</span>
															</div>
															<div class="cell-product-price-2">
																<!-- <input id="ch_price_1" name="ch_price_1" type="checkbox" value="" /> -->
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<div id="price_8_dec" class="min-w-20 min-h-20"></div>
															</div>
															<div class="cell-product-price-5 render-1"></div>
														</div>	

														<div id="row_price_9" class="row-product-price">
															<div class="cell-product-price-1">
																<span class="price-list">Price (server - enterprise 5000-9999 seats)</span>
															</div>
															<div class="cell-product-price-2">
																<!-- <input id="ch_price_1" name="ch_price_1" type="checkbox" value="" /> -->
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<div id="price_9_dec" class="min-w-20 min-h-20"></div>
															</div>
															<div class="cell-product-price-5 render-1"></div>
														</div>	

														<div id="row_price_10" class="row-product-price">
															<div class="cell-product-price-1">
																<span class="price-list">Price (server - enterprise 10,000+ seats)</span>
															</div>
															<div class="cell-product-price-2">
																<!-- <input id="ch_price_1" name="ch_price_1" type="checkbox" value="" /> -->
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
															<div class="cell-product-price-4">
																<div id="price_10_dec" class="min-w-20 min-h-20"></div>
															</div>
															<div class="cell-product-price-5 render-1"></div>
														</div>	

														<div id="row_price_11" class="row-product-price">
															<div class="cell-product-price-1">
																<span class="price-list">Call for Pricing</span>
															</div>
															<div class="cell-product-price-2">
																<!-- <input id="ch_price_1" name="ch_price_1" type="checkbox" value="" /> -->
															</div>
															<div class="cell-product-price-3"><div class="container-dollar-sign"></div></div>
															<div class="cell-product-price-4">
																<div id="price_11_dec" class="min-w-20 min-h-20"></div>
															</div>
															<div class="cell-product-price-5 render-1"></div>
														</div>	
														
														<!-- <div class="row-divider-space-8"></div> -->

													</div>
												</div>
												
											</div>
											
										</div>
										
									</div>
								</div>
							</div>

							<div class="cell-20"></div>
							
							<!-- <div class="cell-30" style="min-width: 30px; min-height: 1px;"></div> -->
							
						</div>

						
						<!-- <div class="row-divider-space-8"></div> -->
			   			<div class="row">
							<div class="cell-20"></div>
							<div class="cell-670">
							   	<div id="form_info_price" class="form-info-outer-price" style="width: 670px;">
							   		<div style="height: 10px;"></div>
							   		<div class="form-info-inner form-info-inner-price">
							   			<div id="form_info_price_a">
							   				
									   		<div class="table">
									   			<div class="row">
									   				<div class="cell-100percent form-edit-background">
									   					<div id="close_info_price" class="form-edit-close pop-info tip-left-center">
									   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
									   					</div>
										                <div class="tip-content">
										                    <div class="tooltiptext">Close</div>
										                </div>													   																		   					
									   					<div style="clear: both;"></div>
									   				</div>
							   					</div>
											</div>				   				

									   		<div class="table">
									   			<div class="row">
									   				<div class="cell-100percent form-edit-background">
														<!-- <div>
															<div><span class="info-text-1">Audio</span></div>
															<div style="padding: 0 0 0 6px;"> -->
																<span class="info-text-2">
																	Price
																</span>
															<!-- </div>
														</div> -->
									   				</div>
							   					</div>
											</div>				   				
										</div>
									</div>
								</div>
							</div>
							<div class="cell-20"></div>
						</div>
					</div>

				   	<div id="form_price" class="form-edit-outer form-edit-outer-price">
				   		<div style="height: 10px;"></div>
				   		<div class="form-edit-inner form-edit-inner-price">
				   			<div id="form_price_a">
				   				
				   				<!-- <#%= form_tag url_for(:action => :update_description, :id => ''), :remote => true do %#> -->
						   		<div class="table">
						   			<div class="row">
						   				<div class="cell-100percent">
						   					<div id="close_form_price" class="form-edit-close">
						   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
						   					</div>
						   					<div style="clear: both;"></div>
						   				</div>
				   					</div>
								</div>				   				
								
								<div class="table">			
									<div class="row">
										<div class="cell-25"></div>
										<div class="cell-650">
										</div>
										<div class="cell-25">
											<div id="render_" class="render-1"></div>	
										</div>
									</div>							
								</div>

								<div class="table">
									<div class="row">
										<div class="cell-25"></div>
										<div class="cell-100">
											<div id="char_num_" class="char-num">count</div>
										</div>
										<div class="cell-450"></div>
										<div class="cell-100">
											<!-- <#%= submit_tag 'Save', :id => 'submit_description' %#> -->
											<!-- <div id="submit_description" class="btn-submit-home-profile" tabindex="14">Save</div> -->
										</div>
										<div class="cell-25"></div>							
									</div>							
								</div>
							   	
							<!-- <#% end %#> -->
				   				
							</div>
						</div>
					</div>
