<div class="container-figure-image-list container-figure-image-border">
	<figure>
		<%= publisher_product_pos1_200_for(@publisher_product) %>
	</figure>
</div>
<!-- <script>
	alert('publisher_product_pos1_200_for(@publisher_product)');
</script> -->
