

									<div class="listing-space"></div>
									<div class="table pad-marg-null">
										<div class="row">
											<div class="cell-370">
												<div id="show_name_product">
												    <% if !((@publisher_product_description.name_product.blank?) or (@publisher_product_description.name_product.empty?) or (@publisher_product_description.name_product.nil?)) %> 
														<span class="form-text-16"><%= @publisher_product_description_name_product %></span>
													<% else %>
														<span class="form-text-16">Product Name</span>
												    <% end %>
												</div>
											</div>
											<div class="cell-60">
											</div>
										</div>		
									</div>

									<div class="listing-space"></div>

									<div class="table pad-marg-null">
										<div class="row">
											<div class="cell-370">
												<div id="show_product_tagline">
													<!-- <span id="span_product_tagline" class="form-text-16"><#%= @publisher_product_description_product_tagline %#></span> -->
													<span class="form-text-16">Tagline</span>
												</div>
											</div>
											<div class="cell-60">
											</div>
										</div>		
									</div>

									<div class="listing-space"></div>

									<div class="table pad-marg-null">
										<div class="row">
											<div class="cell-370">
												<div id="show_versions">
													<!-- <span id="span_versions" class="form-text-16"><#%= @publisher_product_description_versions %#></span> -->
													<span class="form-text-16">Versions</span>
												</div>
											</div>
											<div class="cell-60">
											</div>
										</div>		
									</div>


