<div class="users-row">
	<div class="users-cell-image">
		<div>
			<%= avatar_for user %>
		</div>
	</div>
	<div class="users-cell">
		<div>
			<span class="user-name">users
				<!-- <#%= link_to (user.name_first + ' ' + user.name_last).html_safe, ("/id" + user.id.to_s).html_safe %#> -->
			</span>
		</div>
	</div>
</div>
