	
	<div class="wrapper">

		<div class="image">
		<a rel="gallery" title="Broadway Tower in Cotswolds, England" href="http://upload.wikimedia.org/wikipedia/commons/c/cb/Broadway_tower_edit.jpg">
		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Broadway_tower_edit.jpg/200px-Broadway_tower_edit.jpg">
		</a>
		<div class="caption">
		<a href="http://en.wikipedia.org/wiki/Broadway_Tower">
		Broadway Tower in Cotswolds, England
		</a>
		<br>
		Taken by Wikimedian
		<a href="http://en.wikipedia.org/wiki/User:Newton2">
		Newton2
		</a>
		</div>
		</div>
		<div class="image">
		<a rel="gallery" title="New York City at Night, HDR" href="http://upload.wikimedia.org/wikipedia/commons/thumb/2/22/New_York_City_at_night_HDR.jpg/1280px-New_York_City_at_night_HDR.jpg">
		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/22/New_York_City_at_night_HDR.jpg/200px-New_York_City_at_night_HDR.jpg">
		</a>
		<div class="caption">
		<a href="http://en.wikipedia.org/wiki/New_York">
		New York City at Night, HDR
		</a>
		<br>
		Taken by
		<a href="http://www.flickr.com/people/paulobar/">
		Paulo Barcellos Jr.
		</a>
		</div>
		</div>
		<div class="image">
		<a rel="gallery" title="Red Squirrel with pronounced winter ear tufts" href="http://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Eichh%C3%B6rnchen_D%C3%BCsseldorf_Hofgarten_edit.jpg/1280px-Eichh%C3%B6rnchen_D%C3%BCsseldorf_Hofgarten_edit.jpg">
		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Eichh%C3%B6rnchen_D%C3%BCsseldorf_Hofgarten_edit.jpg/200px-Eichh%C3%B6rnchen_D%C3%BCsseldorf_Hofgarten_edit.jpg">
		</a>
		<div class="caption">
		<a href="http://en.wikipedia.org/wiki/Red_Squirrel">
		Red Squirrel with pronounced winter ear tufts
		</a>
		<br>
		Taken by Wikimedian
		<a href="http://commons.wikimedia.org/wiki/User:Ray_eye">
		Ray eye
		</a>
		</div>
		</div>

	<!-- <div class="image">
		<a href="http://upload.wikimedia.org/wikipedia/commons/c/cb/Broadway_tower_edit.jpg" title="Broadway Tower in Cotswolds, England" rel="gallery">
			<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Broadway_tower_edit.jpg/200px-Broadway_tower_edit.jpg" class="image">
		</a>
		<div class="caption">
			<a href="http://en.wikipedia.org/wiki/Broadway_Tower"> Broadway Tower in Cotswolds, England </a>
			<br>
			Taken by Wikimedian
			<a href="http://en.wikipedia.org/wiki/User:Newton2"> Newton2 </a>
		</div>
	</div>
	<div class="image">
	<a href="http://upload.wikimedia.org/wikipedia/commons/thumb/2/22/New_York_City_at_night_HDR.jpg/1280px-New_York_City_at_night_HDR.jpg" title="New York City at Night, HDR" rel="gallery">
	<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/22/New_York_City_at_night_HDR.jpg/200px-New_York_City_at_night_HDR.jpg" class="image">
	</a>
	<div class="caption">
	<a href="http://en.wikipedia.org/wiki/New_York"> New York City at Night, HDR </a>
	<br>
	Taken by
	<a href="http://www.flickr.com/people/paulobar/"> Paulo Barcellos Jr. </a>
	</div>
	</div>
	<div class="image">
	<a href="http://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Eichh%C3%B6rnchen_D%C3%BCsseldorf_Hofgarten_edit.jpg/1280px-Eichh%C3%B6rnchen_D%C3%BCsseldorf_Hofgarten_edit.jpg" title="Red Squirrel with pronounced winter ear tufts" rel="gallery">
	<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Eichh%C3%B6rnchen_D%C3%BCsseldorf_Hofgarten_edit.jpg/200px-Eichh%C3%B6rnchen_D%C3%BCsseldorf_Hofgarten_edit.jpg" class="image">
	</a>
	<div class="caption">
	<a href="http://en.wikipedia.org/wiki/Red_Squirrel"> Red Squirrel with pronounced winter ear tufts </a>
	<br>
	Taken by Wikimedian
	<a href="http://commons.wikimedia.org/wiki/User:Ray_eye"> Ray eye </a>
	</div>
	</div> -->
	
	
	</div>
	<!-- <div id="fullscreenSlideshowContainer" style="position: absolute; top: 0px; left: 0px; width: 100%; text-align: center; background-color: rgb(0, 0, 0); height: 562px; display: none;">
	<div id="fs-close" class="ui">×</div>
	<div id="fs-loader" class="ui" style="display: none;">Loading...</div>
	<div id="fs-prev" class="ui"><</div>
	<div id="fs-next" class="ui">></div>
	<div id="fs-caption" class="ui" style="display: none;">
	<span>Broadway Tower in Cotswolds, England</span>
	</div>
	<img class="slide" style="position: absolute; left: 50%; top: 50%; height: 695px; width: auto; margin-left: -512.5px; margin-top: -347.5px; display: none;" src="http://upload.wikimedia.org/wikipedia/commons/c/cb/Broadway_tower_edit.jpg">
	<img class="slide" style="position: absolute; left: 50%; top: 50%; height: 1079px; width: auto; margin-left: -816.5px; margin-top: -539.5px; display: none;" src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/22/New_York_City_at_night_HDR.jpg/1280px-New_York_City_at_night_HDR.jpg">
	<img class="slide" style="position: absolute; left: 50%; top: 50%; height: 1079px; width: auto; margin-left: -794.5px; margin-top: -539.5px; display: none;" src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Eichh%C3%B6rnchen_D%C3%BCsseldorf_Hofgarten_edit.jpg/1280px-Eichh%C3%B6rnchen_D%C3%BCsseldorf_Hofgarten_edit.jpg">
	</div> -->
	
	 <script>
	 
	   	// $(function(){
		// $(window).load( function() {
		$(document).ready(function () {				
	   		
			$('.image img').fullscreenslides();
			// All events are bound to this container element
			var $container = $('#fullscreenSlideshowContainer');
			$container
			//This is triggered once:
			.bind("init", function() {
			// The slideshow does not provide its own UI, so add your own
			// check the fullscreenstyle.css for corresponding styles
			$container
			.append('<div class="ui" id="fs-close">&times;</div>')
			.append('<div class="ui" id="fs-loader">Loading...</div>')
			.append('<div class="ui" id="fs-prev">&lt;</div>')
			.append('<div class="ui" id="fs-next">&gt;</div>')
			.append('<div class="ui" id="fs-caption"><span></span></div>');
			// Bind to the ui elements and trigger slideshow events
			$('#fs-prev').click(function(){
			// You can trigger the transition to the previous slide
			$container.trigger("prevSlide");
			});
			$('#fs-next').click(function(){
			// You can trigger the transition to the next slide
			$container.trigger("nextSlide");
			});
			$('#fs-close').click(function(){
			// You can close the slide show like this:
			$container.trigger("close");
			});
			})
			// When a slide starts to load this is called
			.bind("startLoading", function() {
			// show spinner
			$('#fs-loader').show();
			})
			// When a slide stops to load this is called:
			.bind("stopLoading", function() {
			// hide spinner
			$('#fs-loader').hide();
			})
			// When a slide is shown this is called.
			// The "loading" events are triggered only once per slide.
			// The "start" and "end" events are called every time.
			// Notice the "slide" argument:
			.bind("startOfSlide", function(event, slide) {
			// set and show caption
			$('#fs-caption span').text(slide.title);
			$('#fs-caption').show();
			})
			// before a slide is hidden this is called:
			.bind("endOfSlide", function(event, slide) {
			$('#fs-caption').hide();
			});	   		
	   		
	   		
	   		
	   		
	   		
	   		// alert('1');
	   		
			// $("img").fullscreenslides();
// 			 
			// var $container = $('#fullscreenSlideshowContainer');
			// $container.bind("init", function() { 
				// // $container.append('<div class="ui" id="fullscreen-close">&times;</div>').append('<div class="ui" id="fullscreen-loader"></div>').append('<div class="ui" id="fullscreen-prev">&larr;</div>').append('<div class="ui" id="fullscreen-next">&rarr;</div>');
				// $container.append('<div class="ui" id="fs-close">x</div>').append('<div class="ui" id="fs-loader"></div>').append('<div class="ui" id="fs-prev"><</div>').append('<div class="ui" id="fs-next">></div>');
				// $('#fs-prev').click(function(){
					// $container.trigger("prevSlide");
				// });
				// $('#fs-next').click(function(){
				  	// $container.trigger("nextSlide");
				// });
				// $('#fs-close').click(function(){
				  	// $container.trigger("close");
				// });
			// }).bind("startLoading", function() { 
				// // show spinner
			// }).bind("stopLoading", function() { 
				// // hide spinner
			// }).bind("startOfSlide", function(event, slide) { 
				// // show Caption, notice the slide element
			// }).bind("stopLoading", function(event, slide) { 
				// // hide caption
			// });
	     
	   	});

	 </script>
