

														<% if @publisher_logo_image_primary.nil? %>
													    	<div class="dropdownContain hidden">
																<div class="dropOut">
																	<div class="triangle"></div>
																	<ul>
																		<li>
																			<div id="btn_logo_image_primary_new">
																				New
																			</div>
																		</li>
																	</ul>
																</div>
													        </div>
														<% else %>
													    	<div class="dropdownContain hidden">
																<div class="dropOut">
																	<div class="triangle"></div>
																	<ul>
																		<li>
																			<div id="btn_logo_image_primary_change">
																				New/Change
																			</div>
																		</li>
																		<!-- <li>
																			<div id="btn_logo_image_primary_crop" class="btn-photo-primary-crop">
																				Crop/Center
																			</div>
																		</li> -->
																		<li>
																			<div id="btn_logo_image_primary_delete">
																				Delete
																			</div>
																		</li>
																	</ul>
																</div>
													        </div>
											        	<% end %>


	<script>
	
		
		// $(window).load( function() {
		$(document).ready( function () {				

		});
		
		
	</script>
	






