<% if @post_user_files.any? %>
	<div style="font-family: Arial, Helvetica, sans-serif; font-weight: 400; color: #333; font-size: 13px; border: 1px solid transparent; padding: 6px 5px 5px 5px;">
		<p style="color: #37633a">Attached files:</p>
		<% @post_user_files.each do |post_user_file| %>
			<div style="padding: 5px 0px 0px 5px">
				<a href="<%= post_user_file.file%>">
					<div><%= post_user_file.file_name.to_s %></div>
				</a>
			</div>	
		<% end %>
	</div>
<% end %>