
	<style>

		.profile-links-left {
			text-align: left;
		}	
		.profile-links-left ul {
			
		}
		.profile-links-left ul li {
			height: 20px;
			width: 100%;
			/*background-color: #fff;*/
			list-style: none;						
		}	
		.profile-links-left ul li span {
			height: 20px;
			width: 100%;			
			font-family:Arial, Helvetica, sans-serif;
			/*font-size: 13px;
			/*color: #9F6720;   */ 		
		}	
		.profile-links-left ul li a {
			height: 20px;
			width: 100%;			
			font-family:Arial, Helvetica, sans-serif;
			/*font-size: 13px;
			/*color: #9F6720;  */  		
		}	
			

		.profile-labels-left {
			
		}	
		.profile-labels-left ul {

		}
		.profile-labels-left ul li {
			height: 20px;
			width: 100%;
			/*background-color: #fff;*/
			list-style: none;						
		}	
		.profile-labels-left ul li span {
			height: 20px;
			padding-left:15px;
			width: 100%;			
			font-family:Arial, Helvetica, sans-serif;
			/*font-size: 13px;
			/*color: #9F6720;    */		
		}	
		.profile-labels-left ul li a {
			height: 20px;
			width: 100%;			
			font-family:Arial, Helvetica, sans-serif;
			/*font-size: 13px;
			/*color: #9F6720;    */		
		}	
		.profile-labels-left ul li:hover {
		}	

		.profile-links-left ul li.sub {
			padding-left: 40px;
		}
		.line-separator {
			width: 90%;
			border-top: 2px #DCE3DF solid;	
			margin: 10px 0 10px 0;
		}

/*Dropdown css styles*/
#primary_nav_wrap
{
	margin-top:5px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	text-decoration:none;
	font-weight:700;
	line-height:32px;
	padding:0 15px;
	
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	/*background:#f6f6f6*/
	
}


#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left: -1px;
	background: #56854E; 
		/*background: linear-gradient(top, #56854E 0%, #254520 100%);  
		background: -moz-linear-gradient(top, #56854E 0%, #254520 100%); 
		background: -webkit-linear-gradient(top, #56854E 0%,#254520 100%);
    box-shadow: 2px 2px 10px #000;*/
	padding:0;
	border-left:1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom:1px solid #ccc;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
	font-size:20px;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

.primary_nav_center {
	width:1200px;
	margin:0 auto;
}

/*End of dropdown css styles*/

	.menu-main-link-li {margin-left:175px;
	border-left:1px solid transparent;
	border-right: 1px solid transparent;
	}
	.menu-main-link-li:hover {
	border-left:1px solid #ccc;
	border-right: 1px solid #ccc;
}

	.top-link {color:#fff; font-size:28px; 
	font-family:Arial,"HelveticaNeue","Helvetica Neue",Helvetica,sans-serif;
}
	a.top-link:hover {color:#ca8e33;
	
}

	#primary_nav_wrap ul ul {
		border-radius: 0;
		text-align: center;
	}
	#primary_nav_wrap ul ul li:last-child a {
    border-radius: 0;
    box-shadow: none;
   /* background:#fff;*/
}
nav ul li:hover a {
	color: #fff;

}nav ul ul li:hover a {
	color: #ca8e33;
	
}
nav {
box-shadow: 2px 2px 10px #000;
		background: #56854E; 
		/*background: linear-gradient(top, #56854E 0%, #254520 100%);  
		background: -moz-linear-gradient(top, #56854E 0%, #254520 100%); 
		background: -webkit-linear-gradient(top, #56854E 0%,#254520 100%);*/
		}
	</style>


<div style="margin: 0 0 25px 0;">

<nav id="primary_nav_wrap">
	<div class="primary_nav_center">
<ul>
  <li class="menu-main-link-li"><a class="top-link" href="<%= @url_user_story %>">My Story</a>
    <ul>
      <li style="width:139px; text-align:left; padding-left: 2px;"><a href="/"><span>Activity</span></a></li>
      <li style="width:139px; text-align:left; padding-left: 2px;"><a href="/Journal"><span>Journal</span></a></li>
      <li style="width:139px; text-align:left; padding-left: 2px;"><a href="/KnowCred"><span>KnowCred</span></a></li>
      <!--<li><a href="#">Sub Menu 2</a></li>
      <li><a href="#">Sub Menu 3</a></li>
      <li><a href="#">Sub Menu 4</a></li>
      <li><a href="#">Sub Menu 5</a></li>-->
    </ul>
  </li>
  <li class="menu-main-link-li"><a class="top-link" href="<%= @url_profile_story %>">Corporate Story</a>
    <ul style="width:228px; text-align: left; padding-left: 2px;">
      <li><a href="/<%= @url_profile_story_home %>"><span>Corporate Activity</span></a></li>
      <li><a href="/Publisher-Advertise">Advertise</a></li>
      <!--<li><a href="#">Sub Menu 3</a></li>-->
    </ul>
  </li>
  <li class="menu-main-link-li"><a style="height:38px;" class="top-link" href="/Publisher-Product-Listings">Products</a>
    <!--<ul>
      <li class="dir"><a href="#">Sub Menu 1</a></li>
      <li class="dir"><a href="#">Sub Menu 2</a></li>
      <li><a href="#">Sub Menu 3</a></li>
      <li><a href="#">Sub Menu 4</a></li>
      <li><a href="#">Sub Menu 5</a></li>
    </ul>-->
  </li>
</ul>
</nav>
</div><!-- End center div -->
<div style="clear:both;"></div>
</div>	
	<script>
		
		$(window).load( function() {
		//$(document).ready(function(){

			$('li#profile-links-left-1').on('click', function() {
				window.location = document.getElementById('profile-links-left-1-a').href;
			});
			$('li#profile-links-left-2').on('click', function() {
				window.location = document.getElementById('profile-links-left-2-a').href;				
			});
			$('li#profile-links-left-3').on('click', function() {
				window.location = document.getElementById('profile-links-left-3-a').href;				
			});
			$('li#profile-links-left-4').on('click', function() {
				window.location = document.getElementById('profile-links-left-4-a').href;				
			});
			$('li#profile-links-left-5').on('click', function() {
				window.location = document.getElementById('profile-links-left-5-a').href;				
			});
			$('li#profile-links-left-6').on('click', function() {
				window.location = document.getElementById('profile-links-left-6-a').href;				
			});
			$('li#profile-links-left-7').on('click', function() {
				window.location = document.getElementById('profile-links-left-7-a').href;				
			});
			$('li#profile-links-left-8').on('click', function() {
				window.location = document.getElementById('profile-links-left-8-a').href;				
			});
			$('li#profile-links-left-9').on('click', function() {
				window.location = document.getElementById('profile-links-left-9-a').href;				
			});
			$('li#profile-links-left-10').on('click', function() {
				window.location = document.getElementById('profile-links-left-10-a').href;				
			});
			$('li#profile-links-left-11').on('click', function() {
				window.location = document.getElementById('profile-links-left-11-a').href;				
			});
			$('li#profile-links-left-12').on('click', function() {
				window.location = document.getElementById('profile-links-left-12-a').href;				
			});
			$('li#profile-links-left-13').on('click', function() {
				window.location = document.getElementById('profile-links-left-13-a').href;				
			});
			$('li#profile-links-left-14').on('click', function() {
				window.location = document.getElementById('profile-links-left-14-a').href;				
			});
			$('li#profile-links-left-15').on('click', function() {
				window.location = document.getElementById('profile-links-left-15-a').href;				
			});
			$('li#profile-links-left-16').on('click', function() {
				window.location = document.getElementById('profile-links-left-16-a').href;				
			});
			// $('li#profile-links-left-17').on('click', function() {
				// window.location = document.getElementById('profile-links-left-17-a').href;				
			// });

		});
		
	</script>
	
