
	<style>
		
		.container-cc {
			/*width: 600px;*/
			/*margin-left: auto;
			margin-right: auto;*/
			/*min-height: 800px;*/
		}
		
		.input-cc {
			font-family: Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 16px;
			width: 300px;
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #fff;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 6px;
		}
	
		.input-cc:focus {
			border-color: #478A3E;
			color: #000;
			-webkit-box-shadow: 0 0 10px #88E87B;
			-moz-box-shadow: 0 0 10px #88E87B;
			box-shadow: 0 0 10px #88E87B;
		}

		.input-cc-exp {
			font-family: Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 16px;
			width: 100px;
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #fff;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 6px;
		}

		.input-cc-exp:focus {
			border-color: #478A3E;
			color: #000;
			-webkit-box-shadow: 0 0 10px #88E87B;
			-moz-box-shadow: 0 0 10px #88E87B;
			box-shadow: 0 0 10px #88E87B;
		}
			
		.input-label-cc {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			font-weight: 200;
			color: #333;
			width: 300px;
			height: 18px;
		}
		span.input-label-cc-title {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			font-weight: 200;
			/*color: #214025;*/
			color: 96C785;
			width: 300px;
			height: 18px;
		}
		
		.sign-btn-cc {
		  	color: #D4F76A;
		  	display: inline-block;
		  	text-decoration: none; 
		  	width: 308px;
		  	height: 30px;
		  	background: linear-gradient(#000, #000);
		  	text-shadow: 1px 1px 1px #0E86B2; 
		  	border-radius: 6px;
		}
	
		.sign-btn-cc:focus {
		  background: #CCC; 
		  color: #5F7A2A;
		  box-shadow: inset 0 1px 0 rgba(200,200,200,0.2);
		}
		
		.sign-btn-cc:hover { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(255,255,255,0.3);
		}
		
		.sign-btn-cc:active { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(0,0,0,0.3); 
		}
		
		.space-cc {
			height: 6px;
		}
		
		.container-cc p {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #666;
		}
		span.cc-title {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			color: #D98D2D;
		}
		span.cc-title-sub {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: #A9D996;
		}
		
		/*
		#D98D2D	knowstory logo orange
		#96C785 knowstory logo green dark 
		#A9D996 knowstory logo green light
		#214025 footer green
		background-color: rgba( 65, 183, 55, 0.92); nav green
		background-color: #41B737;	nav green		
		*/ 
		
	</style>



	
	
	
	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container-cc">
					
		<!-- <div class="line-space-20"></div>
		<div style="text-align: left;">
			<span class="normal pad-left-20"></span>
		</div> -->
					
		<div class="pad-left-20">
			<span class="cc-title">Journal Poster</span>
		</div>
		<div class="pad-left-20" style="width: 570px;">
			<span class="cc-title-sub">Back Cover of Journal side AND Poster Pin & Poster Anchor + Online Listing</span>
		</div>
		
		<div style="height: 30px;"></div>
		
		<div class="pad-left-20" style="width: 570px;">
			<p><%= @msg %></p>
		</div>

	</div>

