<div style="height: 100px"></div>

<h1>Journal Poster Edit</h1>

<div style="height: 100px"></div>

<h1>Journalposterpurchases</h1>

<span>Your Journal Poster preferences were </span><%= session[:jp_saved] %>

<div style="height: 100px"></div>

<div><%= @jp.poster_text %></div>

