
	<style>
		
		.container p {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #666;
		}
		span.cc-title {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			color: #D98D2D;
		}
		span.cc-title-sub {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: #A9D996;
		}
		
		/*
		#D98D2D	knowstory logo orange
		#96C785 knowstory logo green dark 
		#A9D996 knowstory logo green light
		#214025 footer green
		background-color: rgba( 65, 183, 55, 0.92); nav green
		background-color: #41B737;	nav green		
		*/ 
		
	</style>


	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left">
					<%= render 'share/dir_publishers_left'%>
				</div>
				
				<div class="col-midd">
			
					<div class="line-space-20"></div>
			
					<div class="pad-left-20">
						<span class="cc-title">Journal Poster</span>
					</div>
					<div class="pad-left-20">
						<span class="cc-title-sub">Print Poster Pin + Online Listing</span>
					</div>
					
					<div style="height: 30px;"></div>
					
					<div class="pad-left-20" style="width: 570px;">
						<p>Sorry, something went wrong, please try your transaction again.</p>
						<br>
						<p>Contact us:</p>			
					</div>
								
				</div>
				
				<div class="col-right">
					<%= render 'share/dir_publishers_right' %>
				</div>								
			</div>
		</div>
	</div>
