
		<div class="text-align-center gen-background-color" style="width: 490px;">
			<div class="tbl-sign" style="width: 490px; margin: 0 auto;">
				<div class="row-sign">
					<div class="cell-100percent">
						<div class="label-form-gen">
							<span>Instructions to reset your password will be sent to your email.</span> 
						</div>		
					</div>
				</div>
			</div>
			<div style="height: 10px;"></div>
			<div class="tbl-sign" style="vertical-align: top;">
				<div class="row-sign" style="vertical-align: top;">
					<div class="cell-sign-1" style="vertical-align: top;">
						<input class="input-home-short wid-190 hidden" type="text">
					</div>
					<div class="cell-sign-2 text-align-right" style="vertical-align: top;">
						<input class="input-1 wid-190" style="margin-left: 10px;" id="user_new_pwd_reset_email" name="user[new_pwd_reset_email]" tabindex="1001" type="text" value="" placeholder="address@email.com" />
					</div>
					<div class="cell-sign-3"></div>
					<div class="cell-sign-4" style="vertical-align: top;">
						<div style="position: relative; width: 76px; height: 30px;" style="text-align: right; vertical-align: top;">
							<div id="submit_new_pwd_reset" class="signin-btn-home padding-btn-2" tabindex="1002" style="vertical-align: top;">Submit</div>
						</div>
					</div>
				</div>
				<div class="row-sign" style="height: 6px;"></div>
			</div>
		</div>
