<% provide(:title, 'Welcome') %>

	
	<!-- <script src="../scripts/dot.js"></script> -->    
	<script src="../scripts/jquery-dropdown-dot.js"></script>

  	


	<style>
		
		::-webkit-input-placeholder {
		   color: #778899; /*#C0C0C0;*/
		}
		
		:-moz-placeholder {
		   color: #778899; /*#C0C0C0;*/

		}
		
		::-moz-placeholder {
		   color: #778899; /*#C0C0C0;*/

		}
		
		:-ms-input-placeholder {  
		   color: #778899; /*#C0C0C0;*/

		}		
		
		.input-label-home, .input-label-home-dark {
		    color: #49853F;
		}
		.input-label-home {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			/*color: #ccc;*/
			width: 160px;
			height: 18px;
		}
		.space-home {
			height: 6px;
		}
		.form-home-table {
			display: table;
			margin: 0 auto;
		}
		.form-home-row {
			display: table-row;
		}
		.form-home-cell-1 {
			display: table-cell;
			width: 160px;
		}
		.form-home-cell-2 {
			display: table-cell;
			width: 160px;
		}
		.form-home-cell-submit {
			display: table-cell;
			width: 500px;
			text-align: center;
		}
		.form-home-cell-3 {
			display: table-cell;
			width: 60px;
		}
		.form-home-table-bd {
			display: table;
			margin: 0 auto;
		}
		.form-home-row-bd {
			display: table-row;
		}
		.form-home-cell-bd-space {
			display: table-cell;
			width: 30px;
		}
		.form-home-cell-bd {
			display: table-cell;
			width: 70px;
		}
		.form-home-cell-bd-why {
			display: table-cell;
			width: 160px;
			padding-left: 20px;

		}		
		.form-home-cell-month {
			display: table-cell;
			width: 60px;
		}
		.form-home-cell-day {
			display: table-cell;
			width: 60px;
		}
		.form-home-cell-year {
			display: table-cell;
			width: 60px;
		}
		.form-home-cell-profile-type {
			display: table-cell;
			width: 60px;
		}		
		.form-home-table-gender {
			display: table;
		}
		.form-home-row-gender {
			display: table-row;
		}
		.form-home-cell-gender-1 {
			display: table-cell;
		}		
		.form-home-cell-gender-2 {
			display: table-cell;
		}
		.form-home-cell-profile-type-1 {
			display: table-cell;
			width: 70px;
		}		
		.form-home-row-space {
			height: 4px;
		}
		
	</style>

	<style>
		
	.dropdown-1 {
		width: 106px;
	}
	.dropdown-2 {
		width: 106px;
	}
	.dropdown-3 {
		width: 106px;
	}
	.dropdown {
		font-family: msyh, Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #11520B;
		background-color: #FFF;
		border: 2px solid #11520B;
    	border-radius: 4px;			
		height: 24px;
    	position: relative;
		padding-top: 0px;
		padding-left: 12px;
		margin-right: 2px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		outline: none;
	}
	
	
	.dropdown:focus {
		color: #1f7c82;
		/*background-color:#072C53;*/
		/*-webkit-box-shadow: 0 0 25px #ccc;
		   -moz-box-shadow: 0 0 25px #ccc;
		        box-shadow: 0 0 25px #ccc;*/
		-webkit-box-shadow: 0 0 1px 1px #41B737; /*#3DC8D1;*/
		   -moz-box-shadow: 0 0 1px 1px #41B737; /*#3DC8D1;*/
		        box-shadow: 0 0 1px 1px #41B737; /*#3DC8D1;*/
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-o-transform: scale(1.03);
		-ms-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-o-transform: scale(1.03);
		-ms-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-o-transform: scale(1.03);
		-ms-transform: scale(1.03);
		transform: scale(1.03);
		outline: none;
	}
	.dropdown:focus:hover {
		color: #1f7c82;
		-webkit-box-shadow: 0 0 1px 1px #41B737; /*#3DC8D1;*/
		   -moz-box-shadow: 0 0 1px 1px #41B737; /*#3DC8D1;*/
		        box-shadow: 0 0 1px 1px #41B737; /*#3DC8D1;*/
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-o-transform: scale(1.03);
		-ms-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-o-transform: scale(1.03);
		-ms-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-o-transform: scale(1.03);
		-ms-transform: scale(1.03);
		transform: scale(1.03);
		outline: none;
	}
	.dropdown:hover {
		color: #1f7c82;
		-webkit-box-shadow: 0 0 1px 1px #37633A; /*#185C61;*/
		   -moz-box-shadow: 0 0 1px 1px #37633A; /*#185C61;*/
		        box-shadow: 0 0 1px 1px #37633A; /*#185C61;*/
	}
	
	
	
	
	
	.dropdown.focus > .selected,
	.dropdown:focus > .selected {
	    outline: none;
	}
	.dropdown > .selected:hover,
	.dropdown > .selected:focus {
	    /*cursor: pointer;*/
	}
	/*.dropdown1 > .selected i {*/
	.dropdown > .selected .down-caret {
	    position: absolute;
	    top: 0px;
	    right: 4px;
	    bottom: 0;
	    width: 12px;
	    /*height: 20px;*/
	    line-height: 20px;
	    border-left: 2px solid #11520B;
	    text-align: center;
	    /*color: #999;*/
	    color: #11520B;
	}
	.dropdown.open > .selected {
	    -webkit-border-radius: 4px 4px 0px 0px;
	    border-radius: 4px 4px 0px 0px;
	}
	.dropdown ul {
	    display: none;
	    position: absolute;
	    left: 0;
	    top: 100%;
	    width: 100%;
	    background: #FFF;
	    /*z-index: 1;    */
	    border: 1px solid #333;
	    border-top: none;
	    -webkit-border-radius: 0px 0px 4px 4px;
	    border-radius: 0px 0px 4px 4px;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    line-height: 1;
	    -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2);
	    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2);
	    /*max-height: 300px;*/
	    overflow: auto;
	    height: 100px;
	    margin: 0;
	    padding-left: 6px;
	}
	.dropdown .dropdown-1 ul {
		height: 100px;
	}
	.dropdown .dropdown-2 ul {
		height: 100px;
	}
	.dropdown .dropdown-3 ul {
		height: 100px;
	}
	.dropdown ul li.selected {
	    /*color: #ACDDE3;*/
	    color: #000;
	    /*background: #005C9E;*/
		background: #FFF;
	}
	.dropdown ul li:last-child.selected {
	    -webkit-border-radius: 0px 0px 4px 4px;
	    border-radius: 0px 0px 4px 4px;
	}
	.dropdown ul li {
	    position: relative;
	    display: block;
	    text-decoration: none;    
	    color: #1f7c82;
	    /*padding: 4px 4px;   */    
	    padding-left: 4px;
	}
	.dropdown ul li:first-child {
	    color: #838383;
	}
	.dropdown ul li:first-child.selected {
	    color: #838383;
	}
	.dropdown ul li.hover {
	    background: #fff;
	    color: #49853f;
	    font-weight: bold;
	}

	</style>		
		
		


	

	
	
	<script id="dropdown-data1-selected" type="text/x-dot-template">
		{{=it.label}}<div class="down-caret">&#9660;</div>
	</script>
	
	<script id="dropdown-data1" type="text/x-dot-template">
		<div class="dropdown dropdown-1" id="dropdown1" tabindex="20">
		    <div class="selected">{{=it.selected.label}}<div class="down-caret">&#9660;</div></div>
		    <ul>
		        {{~it.items :item:index}}
		        <li data-index="{{=index}}">{{=item.label}}</li>
		        {{~}}
		    </ul>
		</div>
	</script>		

	<script id="dropdown-data2-selected" type="text/x-dot-template">
		{{=it.label}}<div class="down-caret">&#9660;</div>
	</script>
	
	<script id="dropdown-data2" type="text/x-dot-template">
		<div class="dropdown dropdown-2" id="dropdown2" tabindex="21">
		    <div class="selected">{{=it.selected.label}}<div class="down-caret">&#9660;</div></div>
		    <ul>
		        {{~it.items :item:index}}
		        <li data-index="{{=index}}">{{=item.label}}</li>
		        {{~}}
		    </ul>
		</div>
	</script>		

	<script id="dropdown-data3-selected" type="text/x-dot-template">
		{{=it.label}}<div class="down-caret">&#9660;</div>
	</script>
	
	<script id="dropdown-data3" type="text/x-dot-template">
		<div class="dropdown dropdown-3" id="dropdown3" tabindex="22">
		    <div class="selected">{{=it.selected.label}}<div class="down-caret">&#9660;</div></div>
		    <ul>
		        {{~it.items :item:index}}
		        <li data-index="{{=index}}">{{=item.label}}</li>
		        {{~}}
		    </ul>
		</div>
	</script>		


		
		<div id="sign-up">
				
	    	<%= form_for User.new, :html => {:id => 'form_user_new' } do |f| %>	
			
			<div class="form-home-table-bd">
				<div class="form-home-row-bd">
					<div class="form-home-cell-bd">
						<span class="input-label-home">Birthday</span>
					</div>								
					<div class="form-home-cell-month">
						<select id="user_bd_month" name="user[bd_month]" data-template="#dropdown-data1" tabindex="">
							<option value="0">-Month-</option>
							<option value="1">Jan</option>
							<option value="2">Feb</option>
							<option value="3">Mar</option>
							<option value="4">Apr</option>
							<option value="5">May</option>
							<option value="6">Jun</option>
							<option value="7">Jul</option>
							<option value="8">Aug</option>
							<option value="9">Sep</option>
							<option value="10">Oct</option>
							<option value="11">Nov</option>
							<option value="12">Dec</option>
						</select>		
					</div>
					<div class="form-home-cell-day">
						<select id="user_bd_day" name="user[bd_day]" data-template="#dropdown-data2" tabindex="">
							<option value="0">-Day-</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>		
					</div>
					<div class="form-home-cell-year">
						<select id="user_bd_year" name="user[bd_year]" data-template="#dropdown-data3" tabindex="">
							<option value="0">-Year-</option>
							<% @bd_years.each do|bd_year| %>
								<option value="<%= bd_year.year %>"><%= bd_year.year %></option>
							<% end %>
						</select>		
					</div>
											
				</div>
			</div>
	
			<% end %>
		
			
		</div>
	
	
	<script>

		$(window).load( function() {
		//$(document).ready(function(){
						
			$('select').dropdown({
			    'changed': function(data) {
			    }
			});	    
						
		});
	
	</script>


