<li>
	<!-- <img id="id_image" alt="photo not appearing" src="<#%= user_profile_image.image_url(:profile_600_600) if user_profile_image.image? %#>"  width="250px" /> -->	
  	<!-- <#%= avatar_for user %#> -->
  	<span>avatar: <%= "avatar_test" %></span>
  	<!-- <#%= link_to user.name_first, user %#> -->
</li>
