<style>
	.drop-namespace202 .drop-hidden {
	display: none !important;
	visibility: hidden !important;  
	}
	.drop-namespace202 .drop-clear-both {
	clear: both;
	}
	.drop-namespace202 .drop-202 {
	width: 200px;
	}
	.drop-namespace202 .drop-202 .drop-202-triangle {
	width: 0px;
	height: 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	position: relative;
	left: 3px;
	float: left;
	}
	.drop-namespace202 .drop-202 .drop-202-box {
	width: 200px;
	float: left;
	/*position: relative;*/
	position: absolute;
	margin-top: 0px;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
	z-index: 1;
	}
	.drop-namespace202 .drop-202 .drop-202-container-links {
	}
	.drop-namespace202 .drop-202 .margin-top-hide-1 {
	margin-top: -16px;
	}
	.drop-namespace202 .drop-202 .margin-top-show-1 {
	margin-top: -6px;
	}
	.drop-namespace202 .drop-202 .drop-202-link-1 {
	width: 100%;
	}
	/*.drop-namespace202 .drop-202 .drop-202-target {
	position: relative;
	width: 200px;
	height: 19px;
	padding: 9px 0px 4px 0px;
	text-align: center;
	}
	.drop-namespace202 .drop-202 .drop-202-target:hover {
	background: #f6f6f6;
	}*/
	.drop-namespace202 .drop-202 .drop-202-link-1:hover .span-1 {
	}   
	.drop-namespace202 .drop-202 .drop-202-span-1 {
	color: #376340; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	}
	.drop-namespace202 .drop-202 a.drop-202-link-a-1 {
	text-decoration: none;
	}
	.drop-namespace202 .drop-202 a.drop-202-link-a-1:hover {
	text-decoration: none;
	}
	.drop-namespace202 .drop-202 .drop-202-border {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;      
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;     
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;      
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;     
	}
	.drop-namespace202 .drop-202 .drop-202-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.drop-namespace202 .drop-202 .drop-202-divider-1 {
	height: 2px;
	}
	.drop-namespace202 .drop-202 .drop-202-divider-2 {
	height: 10px;
	}
	.drop-namespace202 .drop-202 .background-transparent {
	background-color: transparent;
	}
	.drop-namespace202 .background-white {
	background-color: #fff;
	}
	.drop-namespace202 .drop-202 .nav-caret-container {
	width: 14px;
	height: 30px;
	padding: 0 0 0 2px;     
	}
	.drop-namespace202 .drop-202 .nav-caret {
	width: 0px;
	height: 0px;
	position: relative;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin: 16px 0 0 0px;
	}
	.drop-namespace202 .drop-202 .nav-caret-down {
	border-top: 5px solid #999;
	border-bottom: 0;     
	}
	.drop-namespace202 .drop-202 .nav-caret-up {
	border-bottom: 5px solid #999;
	border-top: 0;
	}
	.drop-namespace202 .drop-202 .nav-drop-1:hover {
	cursor: pointer;
	}
	.drop-namespace202 .drop-202 .nav-drop-1:hover .nav-avatar img {
	border: 2px solid #A9D996;
	}
	.drop-namespace202 .drop-202 .nav-drop-1:hover .nav-caret-down {
	border-top: 5px solid #A9D996;
	}
	.drop-namespace202 .drop-202 .nav-drop-1:hover .nav-caret-up {
	border-bottom: 5px solid #A9D996;
	}
	.drop-namespace202 .drop-202 .cursor-pointer:hover {
	cursor: pointer;
	}
	.drop-namespace202 .drop-202-target-icon {
	display: inline-block;
	}	
	.drop-namespace202 .drop-202-target-text {
	display: inline-block;
	}	
	.drop-namespace202 .drop-202 a:focus {
	outline: none;	
	}
	.drop-namespace202 .drop-202 a:active {
	outline: none;
	}
	.drop-namespace202 .drop-202 a:visited {
	outline: none;
	}
	.drop-namespace202 .drop-202-table {
	display: table;
	}
	.drop-namespace202 .drop-202-table-row {
	display: table-row;
	}
	.drop-namespace202 .drop-202-table-cell-1 {
	display: table-cell;
	width: 174px;
	}
	.drop-namespace202 .drop-202-table-cell-2 {
	display: table-cell;
	width: 12px;
	}
	.drop-namespace202 .drop-202-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
	}
	.drop-namespace202 .drop-202-1:hover {
	background: #f6f6f6;
	}
	.drop-namespace202 .drop-202-1-target {
	position: relative;
	}
	.drop-namespace202 .drop-202-1 .drop-202-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
	position: relative;
	float: left;
	left: -8px;
	top: 33px;
	}
	.drop-namespace202 .drop-202-1 .drop-202-1-container {
	position: relative;
	}
	.drop-namespace202 .drop-202-1 .drop-202-1-box {
	width: 200px;
	position: absolute;
	margin-top: 0px;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
	z-index: 1;
	}
	.drop-namespace202 .drop-202-1 .drop-202-1-container-links {
	}
	.drop-namespace202 .drop-202-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
	}
	.drop-namespace202 .drop-202-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
	}
	.drop-namespace202 .drop-202-1 .drop-202-1-link-1 {
	width: 100%;
	}
	.drop-namespace202 .drop-202-1 .drop-202-1-link-1:hover {
	background: #f6f6f6;
	}
	.drop-namespace202 .drop-202-1 .drop-202-1-link-1:hover .span-1 {
	}   
	.drop-namespace202 .drop-202-1 .drop-202-1-span-1 {
	color: #376340; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	}
	.drop-namespace202 .drop-202-1 a.drop-202-1-link-a-1 {
	text-decoration: none;
	}
	.drop-namespace202 .drop-202-1 a.drop-202-1-link-a-1:hover {
	text-decoration: none;
	}
	.drop-namespace202 .drop-202-1 .drop-202-1-border {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;      
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;     
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;      
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;     
	}
	.drop-namespace202 .drop-202-1 .drop-202-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.drop-namespace202 .drop-202-1 .drop-202-1-divider-1 {
	height: 2px;
	}
	.drop-namespace202 .drop-202-1 .drop-202-1-divider-2 {
	height: 10px;
	}
	.drop-namespace202 .drop-202-1 .background-transparent {
	background-color: transparent;
	}
	.drop-namespace202 .drop-202-1 .background-white {
	background-color: #fff;
	}
	.drop-namespace202 .drop-202-1 .nav-caret-container {
	width: 14px;
	height: 30px;
	padding: 0 0 0 2px;     
	}
	.drop-namespace202 .drop-202-1 .nav-caret {
	width: 0px;
	height: 0px;
	position: relative;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin: 16px 0 0 0px;
	}
	.drop-namespace202 .drop-202-1 .nav-caret-down {
	border-top: 5px solid #999;
	border-bottom: 0;     
	}
	.drop-namespace202 .drop-202-1 .nav-caret-up {
	border-bottom: 5px solid #999;
	border-top: 0;
	}
	.drop-namespace202 .drop-202-1 .nav-drop-1:hover {
	cursor: pointer;
	}
	.drop-namespace202 .drop-202-1 .nav-drop-1:hover .nav-avatar img {
	border: 2px solid #A9D996;
	}
	.drop-namespace202 .drop-202-1 .nav-drop-1:hover .nav-caret-down {
	border-top: 5px solid #A9D996;
	}
	.drop-namespace202 .drop-202-1 .nav-drop-1:hover .nav-caret-up {
	border-bottom: 5px solid #A9D996;
	}
	.drop-namespace202 .drop-202-1 .cursor-pointer:hover {
	cursor: pointer;
	}
	.drop-namespace202 .drop-202-1-target-icon {
	display: inline-block;
	}	
	.drop-namespace202 .drop-202-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
	}	
</style>

<div class="drop-namespace202">
	<% if @publisher_logo_bkgrnd_image %>   				
		<div class="container-figure-image container-figure-image-border-load container-figure-image-2 drop-202" style="position: relative;">
			<figure class="dialog-11-figure cursor-pointer" data-width="<%= @publisher_logo_bkgrnd_image.width %>" data-src-600="<%= @publisher_logo_bkgrnd_image.image_url(:image_800_500) %>">
				<img id="logo_primary_bkgrnd" class="user-primary-img" alt="" src="<%= @publisher_logo_bkgrnd_image.image_url(:image_1200_300_fill) + '?' + (rand(10..90) * rand(100..900)).to_s if @publisher_logo_bkgrnd_image.image? %>" data-id="<%= @publisher_logo_bkgrnd_image.id %>" />
				<figcaption class="edit-image hidden drop-202-target">
					<div class="img-1-text">Edit background picture</div>
				</figcaption>
			</figure>
			<div class="drop-202-container drop-hidden">
				<div class="drop-202-box background-transparent margin-top-hide-1">
					<div class="drop-202-triangle"></div>
					<div style="clear: both;"></div>
					<div class="drop-202-container-links background-white drop-202-border drop-202-shadow">
						<div class="drop-202-divider-2"></div>
						<div class="drop-202-link-1 cursor-pointer" data-id="8">
							<div class="drop-202-1">
								<div class="drop-202-1-target">
									<div class="drop-202-1-target-text">
										<span class="drop-202-1-span-1">New/Change</span>
									</div>
								</div>
							</div>
						</div>
						<div class="drop-202-divider-1"></div>
						<div class="drop-202-link-1 cursor-pointer" data-id="6">
							<div class="drop-202-1">
								<div class="drop-202-1-target">
									<div class="drop-202-1-target-text">
										<span class="drop-202-1-span-1">Crop/Center</span>
									</div>
								</div>
							</div>
						</div>
						<div class="drop-202-divider-1"></div>
						<div class="drop-202-link-1 cursor-pointer" data-id="7">
							<div class="drop-202-1">
								<div class="drop-202-1-target">
									<div class="drop-202-1-target-text">
										<span class="drop-202-1-span-1">Delete</span>
									</div>
								</div>
							</div>
						</div>
						<div class="drop-202-divider-2"></div>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<div class="container-figure-image container-figure-image-border-load container-figure-image-2 drop-202" style="position: relative; width: 1200px; height: 300px; background-color : lightgrey">
			<figure class="dialog-11-figure-generic" data-width="1200" data-src-600="">
				<img id="logo_generic_bkgrnd" class="user-primary-img" alt="" src="" style="width: 1200px; height: 300px" >
				<figcaption class="edit-image hidden cursor-pointer drop-202-target">
					<div class="img-1-text">Add a background picture</div>
				</figcaption>
			</figure>
			<div class="drop-202-container drop-hidden">
				<div class="drop-202-box background-transparent margin-top-hide-1">
					<div class="drop-202-triangle"></div>
					<div style="clear: both;"></div>
					<div class="drop-202-container-links background-white drop-202-border drop-202-shadow">
						<div class="drop-202-divider-2"></div>
						<div class="drop-202-link-1 cursor-pointer" data-id="8">
							<div class="drop-202-1">
								<div class="drop-202-1-target">
									<div class="drop-202-1-target-text">
										<span class="drop-202-1-span-1">New Picture</span>
									</div>
								</div>
							</div>
						</div>
						<div class="drop-202-divider-2"></div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
<script>
	var drop_visible_namespace202 = false;
	function drop_show_namespace202() {
		$(".drop-namespace202 .drop-202-container").removeClass('drop-hidden');
		$(".drop-namespace202 .drop-202-box").fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
		drop_visible_namespace202 = true;			
	}	
	function drop_hide_namespace202() {
		$(".drop-namespace202 .drop-202-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);		
		drop_visible_namespace202 = false;			
	}	
	function drop_toggle_namespace202() {
		if (drop_visible_namespace202) {
			drop_hide_namespace202();
		}
		else {
			drop_show_namespace202();
		}
	}	
	
	function dropCloseAll_namespace202() {
		drop_hide_namespace202();
	}

	$(document).ready(function () {				
	
		$(document).on('click', function(e) {
			var target_namespace202 = $(e.target).parents('.drop-namespace202').attr("class");
			if (target_namespace202 == null) {
				drop_hide_namespace202();
			}
		});
	
		$(".drop-namespace202 .drop-202-target").on('click', function() {
			drop_toggle_namespace202();
		});
		$(".drop-namespace202 .drop-202-link-1[data-id='5']").on("click", function() {
			dropCloseAll_namespace202();
			$(document).trigger("btn_logo_bkgrnd_image_change_click");
		});
		$(".drop-namespace202 .drop-202-link-1[data-id='6']").on("click", function() {
			dropCloseAll_namespace202();
			$(document).trigger("btn_logo_bkgrnd_image_crop_click");
		});
		$(".drop-namespace202 .drop-202-link-1[data-id='7']").on("click", function() {
			dropCloseAll_namespace202();
			$(document).trigger("btn_logo_bkgrnd_image_delete_click");
		});
		$(".drop-namespace202 .drop-202-link-1[data-id='8']").on("click", function() {
			dropCloseAll_namespace202();
			$(document).trigger("btn_logo_bkgrnd_image_new_click");
		});
	
	});
	
</script>
<script>
	// $(window).load( function() {
	$(document).ready( function () {				
	
	
		$("img").one("load", function() {
			if((this.id == "logo_primary_bkgrnd") || (this.id == "logo_generic_bkgrnd")) {
				var img_w = this.width;
				var img_h = this.height;
	
				$(".container-figure-image-2").css({
					// width : img_w + 4,
					// height : img_h + 4
					width : img_w,
					height : img_h						
				}).removeClass("container-figure-image-border-load")/*.addClass("container-figure-image-border")*/;													
			}
			if(this.id == "logo_generic_bkgrnd") {
				var img_w = this.width;
				var img_h = this.height;

				$(".container-figure-image-2").css({
					// width : img_w + 4,
					// height : img_h + 4
					width : img_w,
					height : img_h						
				}).removeClass("container-figure-image-border-load")/*.addClass("container-figure-image-border")*/;				
			}				
			if(this.id == "logo_primary_bkgrnd_600") {
				var img_w = this.width;
				var img_h = this.height;
				$("#profile_figure_dialog_11").css({
					width : img_w,
					height : img_h
				});																			
			}								
		}).each(function() {
		  	if(this.complete) $(this).load();
		});
		
		var this_img;			
		$(".dialog-11-figure").on('click', function(e) {
			if ( e.target.nodeName == "IMG" ) {
	
				$("#dialog_overlay").jqmShow();
				$("#overlay_loading").removeClass("display-none");
	
				var src_img = $(this).data("src-600");
				$('<img src="'+ src_img +'">').load(function(){
					$("#profile_figure_dialog_11 img").remove();
					$("#profile_figure_dialog_11").append($(this));
					$("#overlay_loading").addClass("display-none");
					$("#dialog_overlay").jqmHide();
					$("#dialog_11").jqmShow();	
				}).error(function(){
					alert('error loading image');
				});
			}
		});
		$('#dialog_11').jqm({
			overlay: 84,
			onShow: function(hash) {
				hash.w.css('opacity', 1.0).fadeIn(10);
				hash.o.prependTo('body');
				hash.w.css('top', '10px');
			},
			onHide: function(hash) {
				hash.o.remove();
				hash.w.css('top', '-8000px');
				$("#profile_figure_dialog_11 img").remove();
				// hash.w.fadeOut('10',function(){ 
					// hash.o.remove(); 
				// });
			}
		}); 		
		$('#dialog_overlay').jqm({
			overlay: 84,
			onShow: function(hash) {
				hash.w.css('opacity', 1.0).fadeIn(10);
				hash.o.prependTo('body');
				// hash.w.css('top', '0px');
			},
			onHide: function(hash) {
				hash.o.remove();
				hash.w.css('top', '-8000px');
			}
		}); 		
		
		$('#dialog_15').jqm({
			onShow: function(hash) {
				hash.o.prependTo('body');
				hash.w.css('top', '-720px');
				hash.w.css('opacity', 1.0).fadeIn(200);
				// hash.w.show();
				$('#dialog_15').animate(
					{bottom:'-=740', top:'+=740'}, 
					500, 
					'easeInOutCirc', 
					function() {
						$('#dialog_15').animate(
							{bottom:'+=4', top:'-=4'}, 
							100, 
							'easeInBounce', 
							function() {
							}
						);
					}
				);
			}
		}); 		
		
	});
	 
	
</script>

