
<style>
	
/*.drop-namespace100 {
	width: 200px;
}*/
.drop-namespace100 .drop-1-triangle {
  	width: 0px;
  	height: 0px;
  	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 8px solid #fff;
  	position: relative;
  	left: 3px;
  	float: left;
}
.drop-namespace100 .drop-1-box {
  	width: 200px;
  	float: left;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-namespace100 .drop-1-container-links {
}
.drop-namespace100 .margin-top-hide-1 {
	margin-top: -16px;
}
.drop-namespace100 .margin-top-show-1 {
	margin-top: -6px;
}
.drop-namespace100 .drop-1-link-1 {
	width: 100%;
}
/*.drop-namespace100 .drop-1-target {
	position: relative;
  	width: 200px;
  	height: 19px;
  	padding: 9px 0px 4px 0px;
  	text-align: center;
}*/
/*.drop-namespace100 .drop-1-target:hover {
  	background: #f6f6f6;
}*/
.drop-namespace100 .drop-1-link-1:hover .span-1 {
}   
.drop-namespace100 .drop-1-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-namespace100 a.drop-1-link-a-1 {
	text-decoration: none;
}
.drop-namespace100 a.drop-1-link-a-1:hover {
	text-decoration: none;
}
.drop-namespace100 .drop-1-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-namespace100 .drop-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-namespace100 .drop-1-divider-1 {
  	height: 2px;
}
.drop-namespace100 .drop-1-divider-2 {
  	height: 10px;
}
.drop-namespace100 .background-transparent {
  	background-color: transparent;
}
.drop-namespace100 .background-white {
  	background-color: #fff;
}
	
</style>

								<% if @publisher_logo_image_primary %>   				
								
									<!-- <div class="container-figure container-figure-1 drop-1-container-target" style="height: 200px;"> -->
									<!-- <div class="container-figure-image container-figure-image-border-load container-figure-image-1 drop-1-container-target"> -->
									<div class="container-figure-image container-figure-image-border-load container-figure-image-1 drop-namespace100" style="position: relative;">
										<figure id="figure_logo_primary_img" class="dialog-11-figure cursor-pointer" data-width="<%= @publisher_logo_image_primary.width %>" data-src-600="<%= @publisher_logo_image_primary.image_url(:user_600_600) %>">
											<img id="logo_primary_img" class="user-primary-img" alt="" src="<%= @publisher_logo_image_primary.image_url(:user_200_200) + '?' + (rand(10..90) * rand(100..900)).to_s if @publisher_logo_image_primary.image? %>" />
											<!-- <input class="container-image-hidden" type="hidden" value="<#%= @publisher_user_image_primary.image_url(:user_600_600) if @publisher_user_image_primary.image? %#>" />
											<img id="user_primary_img_600" class="hidden" alt="" src="<#%= @publisher_user_image_primary.image_url(:user_600_600) + '?' + (rand(10..90) * rand(100..900)).to_s if @publisher_user_image_primary.image? %#>" /> -->
											<figcaption id="figcaption_image_primary" class="edit-image hidden drop-1-target">
											<!-- <figcaption id="figcaption_image_primary" class="hidden drop-1-target"> -->												
												<!-- <div class="img-1-container">
													<div class="img-1"></div> -->
													<div class="img-1-text">Edit photo</div>
												<!-- </div> -->
												<!-- <span class="dialog-2 label-dialog-figcaption">Crop/Center small images</span> -->
												<!-- <img alt="" src="/assets/logo_camera_1_w72_h60.png" /> -->
												<!-- <div class="img-1"></div> -->
											</figcaption>
										</figure>
										
								    	<!-- <div class="drop-1-target cursor-pointer">
								    		<div class="drop-1-target-text">
								    			<span class="drop-1-span-1">My Story</span>
								    		</div>						    		
								    	</div> -->
								    	
								    	<div class="drop-1-container drop-hidden">
											<div class="drop-1-box background-transparent margin-top-hide-1">
												<div class="drop-1-triangle"></div>
												<div style="clear: both;"></div>
												<div class="drop-1-container-links background-white drop-1-border drop-1-shadow">
													<div class="drop-1-divider-2"></div>
													<div class="drop-1-link-1 cursor-pointer" data-id="1">
														<!-- <a href="/" class="drop-1-1-link-a-1"> -->
															<div class="drop-1-1">
														    	<div class="drop-1-1-target">
														    		<div class="drop-1-1-target-text">
														    			<span class="drop-1-1-span-1">New/Change</span>
														    		</div>
														    	</div>
													    	</div>
												    	<!-- </a> -->
													</div>
													<div class="drop-1-divider-1"></div>
													<div class="drop-1-link-1 cursor-pointer" data-id="2">
														<!-- <a href="<%= @url_user_story %>" class="drop-1-1-link-a-1"> -->
															<div class="drop-1-1">
														    	<div class="drop-1-1-target">
														    		<div class="drop-1-1-target-text">
														    			<span class="drop-1-1-span-1">Crop/Center</span>
														    		</div>						 
														    	</div>
													    	</div>
												    	<!-- </a> -->
													</div>
													<div class="drop-1-divider-1"></div>
													<div class="drop-1-link-1 cursor-pointer" data-id="3">
														<!-- <a href="/KnowCred" class="drop-1-1-link-a-1"> -->
															<div class="drop-1-1">
														    	<div class="drop-1-1-target">
														    		<div class="drop-1-1-target-text">
														    			<span class="drop-1-1-span-1">Delete</span>
														    		</div>		
														    	</div>
													    	</div>
												    	<!-- </a> -->
													</div>
													<div class="drop-1-divider-2"></div>
												</div>
											</div>
								        </div>
										
								    	<!-- <div class="drop-1-container hidden">
											<div class="dropOut">
												<div class="triangle"></div>
												<ul>
													<li>
														<div id="btn_photo_primary_change">
															New/Change
														</div>
													</li>
													<li>
														<div id="btn_photo_primary_crop" class="btn-photo-primary-crop">
															Crop/Center
														</div>
													</li>
													<li>
														<div id="btn_photo_primary_delete">
															Delete
														</div>
													</li>
												</ul>
											</div>
								        </div> -->
									</div>







								<% else %>

									<!-- <div class="container-figure container-figure-1 drop-1-container-target" style="height: 200px;"> -->
									<div class="container-figure-image container-figure-image-border-load container-figure-image-1 drop-1-container-target">
										<figure id="profile_figure_generic" class="dialog-11-figure-generic drop-1-target">
											<img id="logo_generic_img" alt="" src="../images_avatar/avatar-gen-person-w200-h200.png" />
											<figcaption id="figcaption_image_primary_generic" class="edit-image cursor-pointer hidden">
												<!-- <div class="img-1-container">
													<div class="img-1"></div> -->
													<div class="img-1-text">Add a photo</div>
												<!-- </div> -->
											</figcaption>
										</figure>
								    	<div class="drop-1-container hidden">
											<div class="dropOut">
												<div class="triangle"></div>
												<ul>
													<li>
														<div id="btn_photo_primary_new">
															New
														</div>
													</li>
												</ul>
											</div>
								        </div>										
									</div>
								
								<% end %>


<script>

	var drop_visible_namespace100 = false;
	function drop_show_namespace100() {
		$(".drop-namespace100 .drop-1-container").removeClass('drop-hidden');
		$(".drop-namespace100 .drop-1-box").fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
		drop_visible_namespace100 = true;			
	}	
	function drop_hide_namespace100() {
		$(".drop-namespace100 .drop-1-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);		
		drop_visible_namespace100 = false;			
	}	
	function drop_toggle_namespace100() {
		if (drop_visible_namespace100) {
			drop_hide_namespace100();
		}
		else {
			drop_close_all_called_namespace100 = false;
			drop_show_namespace100();
		}
	}	
	
	function dropCloseAll_namespace100() {
		drop_close_all_called_namespace100 = true;
		drop_hide_namespace100();
	}
	
	
	var drop_close_all_called_namespace100 = false;
	
	
	$(document).ready(function () {				

		$(document).on('click', function(e) {
			// var target_namespace100 = $(e.target).parents('#drop_namespace100').attr("id");
			var target_namespace100 = $(e.target).parents('.drop-namespace100').attr("class");
			if (target_namespace100 == null) {
				drop_hide_namespace100();
			}
		});

		$(".drop-namespace100 .drop-1-target").on('click', function() {
			drop_toggle_namespace100();
		});
		$(".drop-namespace100 .drop-1-link-1[data-id='1']").on("click", function() {
			dropCloseAll_namespace100();
			$(document).trigger("btn_photo_primary_change_click");
		});
		$(".drop-namespace100 .drop-1-link-1[data-id='2']").on("click", function() {
			dropCloseAll_namespace100();
			$(document).trigger("btn_photo_primary_crop_click");
		});
		$(".drop-namespace100 .drop-1-link-1[data-id='3']").on("click", function() {
			dropCloseAll_namespace100();
			$(document).trigger("btn_photo_primary_delete_click");
		});

	});
	
</script>


	<script>



		// $(window).load( function() {
		$(document).ready( function () {				

			// $("div#container_user_image_primary .drop").on('hover', function() {
				// $("div#container_user_image_primary .drop. .dropdownContain").css({ 
					// top : 200 - 8
				// });
			// });				

			$("img").one("load", function() {
				if((this.id == "logo_primary_img") || (this.id == "logo_generic_img")) {
					var img_w = this.width;
					var img_h = this.height;
					// $("div.drop-1-container-target .drop-1-target").on('mouseenter', function() {
						// $(".drop-1-container").css({ 
							// top : img_h - 14
						// });
					// });
					// $("div.drop-1-container-target .drop-1-target").on('mouseleave', function() {
						// $(".drop-1-container").css({ 
							// top : -1000
						// });
					// });
// 					
					// $("div.drop-1-container-target .drop-1-container").on('mouseenter', function() {
						// $(".drop-1-container").css({ 
							// top : img_h - 14
						// });
					// });
					// $("div.drop-1-container-target .drop-1-container").on('mouseleave', function() {
						// $(".drop-1-container").css({ 
							// top : -1000
						// });
					// });

					// $("div#container_image_1 .container-figure-image").css({
					$(".container-figure-image-1").css({
						// width : img_w + 4,
						// height : img_h + 4
						width : img_w,
						height : img_h						
					}).removeClass("container-figure-image-border-load").addClass("container-figure-image-border");													
				}
				if(this.id == "logo_generic_img") {
					var img_w = this.width;
					var img_h = this.height;
					$(".container-figure-image-1").css({
						// width : img_w + 4,
						// height : img_h + 4
						width : img_w,
						height : img_h						
					}).removeClass("container-figure-image-border-load").addClass("container-figure-image-border");				
				}				
				if(this.id == "logo_primary_img_600") {
					// alert("user_primary_img width = " + this.width);
					// alert("user_primary_img height = " + this.height);
					var img_w = this.width;
					var img_h = this.height;
					$("#figure_dialog_11").css({
						width : img_w,
						height : img_h
					});																			
				}								
			}).each(function() {
			  	if(this.complete) $(this).load();
			});





			// $("img").one("load", function() {
				// if(this.id == "user_primary_img") {
					// // alert("user_primary_img height = " + this.height);
					// // var img_w = this.width;
					// // var img_h = this.height;
					// // $("div#container_user_image_primary .drop").on('hover', function() {
						// // $("div#container_user_image_primary .drop. .dropdownContain").css({ 
							// // top : img_h - 6
						// // });
					// // });
					// // $("div#container_user_image_primary .container-figure-logo").css({
						// // width : img_w + 4,
						// // height : img_h + 4
					// // });																			
				// }
				// if(this.id == "user_primary_img_600") {
					// // alert("user_primary_img width = " + this.width);
					// // alert("user_primary_img height = " + this.height);
					// var img_w = this.width;
					// var img_h = this.height;
					// $("#figure_dialog_11").css({
						// width : img_w,
						// height : img_h
					// });																			
				// }				
				// if(this.id == "user_generic_img") {
					// // alert("user_generic_img height = " + this.height);
					// var img_w = this.width;
					// var img_h = this.height;
					// // $("div#container_user_image_primary .drop").on('hover', function() {
						// // $("div#container_user_image_primary .drop. .dropdownContain").css({ 
							// // top : img_h - 6
						// // });
					// // });			
					// // $("div#container_user_image_primary .container-figure-logo").css({
						// // width : img_w + 4,
						// // height : img_h + 4
					// // });										
				// }				
			// }).each(function() {
			  	// if(this.complete) $(this).load();
			// });
			
			
			// $("#user_primary_img").on('load', function() {
			  	// alert('Image Loaded'); 
			// }).each(function() {
			  	// if(this.complete) {
			  		// $(this).load();
			  	// } 
			// });

			// $(this).find('img').ensureLoad(function(){
			// // $("#profile_figure").find('img').ensureLoad(function(){				
			    // // loadedImages++;
			    // // if((loadedImages == $(this).find('img').length)) {
			    	// // alert('equal');	
			   	// // }
			// });
			// jQuery.fn.extend({
			    // ensureLoad: function(handler) {
			        // return $(this).each(function() {
			            // if($(this).complete) {
			            	// alert('complete');
			                // // handler.call(this);
			            // } 
			            // else {
			            	// alert('not complete');
			                // // $(this).load(handler);
			            // }
			        // });
			    // }
			// });




			// $("#user_primary_img").load(function() {
				// alert('user_primary_img load');
			// });


			// $("div#container_user_image_primary .drop").on('hover', function() {
				// $("div#container_user_image_primary .drop. .dropdownContain").css({ 
					// top : img_height - 4
				// });
			// });				
		
			// var img_generic = $("#profile_figure_generic img");
			// $("<img/>")
	    		// .attr("src", $(img_generic).attr("src"))
	    		// .load(function() {
	        		// img_width = this.width; 
	        		// $("#profile_figure_generic").css({
	        			// width : this.width
	        	// });
	    	// });		

			// var img = $("#profile_figure img");
			// $("<img/>")
	    		// .attr("src", $(img).attr("src"))
	    		// .load(function() {
	        		// img_width = this.width; 
	        		// $("#profile_figure").css({
	        			// width : this.width
	        	// });	        		
	    	// });		

			// var img = $("#profile_figure img");
			
			// $("#user_primary_img").on('load', function() {
				// alert('user_primary_img load');
			// });

			// $("#user_primary_img").load(function() {
				// alert('user_primary_img load');
			// });
			
			// $("<img/>").attr("src", $(img).attr("src")).load(function() {
				// alert('#profile_figure img');
				// // img_width = this.width;
				// // img_height = this.height;
				// // div#container_user_image_primary .drop:hover .dropdownContain { top: 186px; }
				// // $("div#container_user_image_primary .drop").on('hover', function() {
					// // $("div#container_user_image_primary .drop. .dropdownContain").css({ 
						// // top : img_height - 4
					// // });
				// // });				
				// // $("div#container_photo_primary .container-figure").css({
					// // width : img_width + 4,
					// // height : img_height + 4
				// // });				
				// // $("div#container_user_image_primary .container-figure").css({
				// // });				
        		// // $("#profile_figure").css({
        			// // width : img_width
        		// // });	        		
	    	// });		

			// $("<img/>").load(function() {
				// alert('#profile_figure img');
	    	// });		
			
			
			// $(".article-type-1").each(function() {
				// var id = $(this).data("id");
				// if(id != null) {
					// if(in_archive_ids(gon.archives, id)) {
						// var archive_img_path_carousel 	= gon.archives[id][4];
						// var archive_type 				= gon.archives[id][9];
						// var archive_slug 				= gon.archives[id][10];
						// var archive_subtitle_1_carousel = gon.archives[id][6];
						// var archive_subtitle_2_carousel = gon.archives[id][7];
						// var src_image = gon.publisher_user_image_primary_url;
						// // var s_tmpl = null;
						// var s_tmpl = "templates/figure_11";
						// $.tmpl(s_tmpl, {
							// src_image: archive_img_path_carousel,
						// }).appendTo(this);
					// }
					// else {
						// alert("page id = " + id.toString() + " not found in database");
					// }
				// }
			// });					
			
			
			
			var this_img;			
			$(".dialog-11-figure").on('click', function(e) {
				if ( e.target.nodeName == "IMG" ) {

					$("#dialog_overlay").jqmShow();
					$("#overlay_loading").removeClass("display-none");

					// // alert($(this).attr("id"));
					// var w = $(this).data("width");
					// // alert(w);
					// w += 120;
					// var w2 = -(w/2);
					var src_img = $(this).data("src-600");
					// alert(src_img);
					$('<img src="'+ src_img +'">').load(function(){
						$("#figure_dialog_11").append($(this));
						// var publisher_user_image_primary_url = gon.publisher_user_image_primary_url;
						// var s_tmpl = "templates/figure_dialog_11";
						// $.tmpl(s_tmpl, {
							// src_image: publisher_user_image_primary_url
						// }).appendTo($("#figure_dialog_11"));

						// $(".jqmWindow-11").css({
							// 'margin-left' : w2,
							// 'width' : w  
						// });
						$("#overlay_loading").addClass("display-none");
						$("#dialog_overlay").jqmHide();
						$("#dialog_11").jqmShow();	
					}).error(function(){
						alert('error loading image');
					});
				}
			});
			$('#dialog_11').jqm({
				overlay: 84,
				onShow: function(hash) {
					hash.w.css('opacity', 1.0).fadeIn(10);
					hash.o.prependTo('body');
					hash.w.css('top', '10px');
				},
				onHide: function(hash) {
					hash.o.remove();
					hash.w.css('top', '-8000px');
					$("#figure_dialog_11 img").remove();
					// hash.w.fadeOut('10',function(){ 
						// hash.o.remove(); 
					// });
				}
			}); 		
			$('#dialog_overlay').jqm({
				overlay: 84,
				onShow: function(hash) {
					hash.w.css('opacity', 1.0).fadeIn(10);
					hash.o.prependTo('body');
					// hash.w.css('top', '0px');
				},
				onHide: function(hash) {
					hash.o.remove();
					hash.w.css('top', '-8000px');
				}
			}); 		
			
			
			
			
			
			// $(".dialog-11-figure").on('click', function(e) {
				// if ( e.target.nodeName == "IMG" ) {
					// var this_src = $(this).find("input.container-image-hidden").attr("value");
					// $("#figure_dialog_11").find("img").attr("src", this_src );
					// var this_delete = $(this).find("div.tip-top-center").html();
					// $("#figure_dialog_11").find("div.tip-top-center").html(this_delete);
					// $("#dialog_11").jqmShow();	
				// }
			// });
			// $('#dialog_11').jqm({
				// onShow: function(hash) {
					// hash.o.prependTo('body');
					// hash.w.css('top', '20px');
					// hash.w.css('opacity', 1.0).fadeIn(200);
					// var img = $("#figure_dialog_11 img");
					// $("<img/>")
			    		// .attr("src", $(img).attr("src"))
			    		// .load(function() {
			        		// img_width = this.width; 
			        		// $("#figure_dialog_11").css({
			        			// // width : this.width 
			        	// });	        		
			    	// });		
				// }
			// }); 		
			

			$('#dialog_15').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-720px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog_15').animate(
						{bottom:'-=740', top:'+=740'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog_15').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
						}
					);
				}
			}); 		
			
			
            // $('.tip').each(function() {
                // var tipContent = $(this).next('.tip-content').html();
                // $(this).qtip({
                	// style: { classes: 'tooltip-text-1' },
                    // content: tipContent,
                    // show: 'mouseover',
                    // hide: 'mouseout'
                // })
            // });			
            // $('.tip-bottom-center').each(function() {
                // var tipContent = $(this).next('.tip-content').html();
                // $(this).qtip({
                	// style: { classes: 'tooltip-text-1' },
                    // content: tipContent,
                    // show: 'mouseover',
                    // hide: 'mouseout',
				    // position: {
				        // my: 'top center',
				        // at: 'bottom center'
				        // // target: $('.tip-bottom-center')
    				// }                    
                // })
            // });			
            // $('.tip-top-center').each(function() {
                // var tipContent = $(this).next('.tip-content').html();
                // $(this).qtip({
                	// style: { classes: 'tooltip-text-1' },
                    // content: tipContent,
                    // show: 'mouseover',
                    // hide: 'mouseout',
				    // position: {
				        // my: 'bottom center',
				        // at: 'top center'
				        // // target: $('.tip-top-center')
    				// }                    
                // })
            // });			
            // $('.tip-left-center').each(function() {
                // var tipContent = $(this).next('.tip-content').html();
                // $(this).qtip({
                	// style: { classes: 'tooltip-text-1' },
                    // content: tipContent,
                    // show: 'mouseover',
                    // hide: 'mouseout',
				    // position: {
				        // my: 'right top',
				        // at: 'left center'
				        // // target: $('.tip-top-center')
    				// }                    
                // })
            // });			
		
		});
	  

	</script>		

