
<style>
	
		.jqmWindow-5 {
		    display: none;
		    position: fixed;
		    left: 50%;
		    margin-left: -350px;
		    width: 700px;
			height: 700px;		    
		    background-color: #EEE;
		    color: #333;
		    border: 1px solid black;
		    padding: 0px;
		}		

		.jqmWindow-4 {
		    display: none;
		    position: fixed;
		    left: 50%;
		    margin-left: -350px;
		    width: 700px;
			height: 700px;		    
		    background-color: #EEE;
		    color: #333;
		    border: 1px solid black;
		    padding: 0px;
		}		
	
</style>


								<div class="jqmWindow jqmWindow-4" id="dialog_4">
							   		<div class="table-dl-form">
							   			<div class="row">
							   				<div class="cell-100percent">
							   					<div id="close_form4" class="form-edit-close jqmClose" tabindex="">
							   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
							   					</div>
							   					<div style="clear: both;"></div>
							   				</div>
					   					</div>
									</div>				   				
									<div class="pad-left-20">
										<div style="height: 20px;"></div>
										<div class="profile-grid profile-cs-style-3">
											<figure class="profile-figure-list" id="profile_figure_list">
												<img alt="photo not appearing" src="" />
												<figcaption class="figcaption-2">
													<div class="tip-top-center"></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Delete</div>
									                </div>																								
												</figcaption>
											</figure>
										</div>
									</div>
								</div>


								<!-- <div class="jqmWindow jqmWindow-5" id="dialog_5">
							   		<div class="table-dl-form">
							   			<div class="row">
							   				<div class="cell-100percent">
							   					<div id="close_form5" class="form-edit-close jqmClose" tabindex="">
							   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
							   					</div>
							   					<div style="clear: both;"></div>
							   				</div>
					   					</div>
									</div>				   				
									<div class="pad-left-20">
										<div style="height: 20px;"></div>
										<div class="profile-grid profile-cs-style-3">
											<figure class="profile-figure" id="profile_figure_dialog">
												<img alt="photo not appearing" src="" />
												<figcaption class="figcaption-2">
													<div class="tip-top-center"></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Delete</div>
									                </div>																								
												</figcaption>
											</figure>
										</div>
									</div>
								</div> -->

								
								<!-- <div class="jqmWindow jqmWindow-5" id="dialog_5">
							   		<div class="table-dl-form">
							   			<div class="row">
							   				<div class="cell-100percent">
							   					<div id="close_form5" class="form-edit-close jqmClose" tabindex="">
							   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
							   					</div>
							   					<div style="clear: both;"></div>
							   				</div>
					   					</div>
									</div>				   				
									<div class="pad-left-20">
										<div style="height: 20px;"></div>
										<div class="profile-grid profile-cs-style-3">
											<figure class="profile-figure" id="profile_figure_dialog">
												<img alt="photo not appearing" src="" />
												<figcaption class="figcaption-2">
													<div class="tip-top-center"></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Delete</div>
									                </div>																								
												</figcaption>
											</figure>
										</div>
									</div>
								</div> -->
								

								<% if @publisher_user_image_primary %>   				
								
									<div class="profile-grid profile-cs-style-3">
										<figure id="profile_figure" class="profile-figure dialog-5-figure">
										<!-- <figure id="profile_figure"> -->
											<img id="id_image" alt="photo not appearing" src="<%= @publisher_user_image_primary.image_url(:user_300_300) if @publisher_user_image_primary.image? %>" />
											<input class="x-container-hidden" type="hidden" value="<%= @publisher_user_image_primary.image_url(:user_600_600) if @publisher_user_image_primary.image? %>" />
											<figcaption class="figcaption-2">
												<div class="tip-top-center"><%= button_to "", destroy_publisher_user_image_publisher_users_path(:id => @publisher_user_image_primary.id), :confirm => 'Delete this photo?', :remote => true, class: 'x-container' %></div>
								                <div class="tip-content">
								                    <div class="tooltiptext">Delete</div>
								                </div>																								
											</figcaption>
											<figcaption class="figcaption-1">
												<span class="dialog-2 label-dialog-figcaption">Crop/Center small images</span>
											</figcaption>
										</figure>
									</div>

								<% else %>

									<div class="profile-grid profile-cs-style-3">
										<figure id="profile_figure_generic" class="profile-figure-generic">
											<img alt="logo not appearing" src="../images_avatar/avatar_generic_1_w250_h310.png" />
											<!-- <figcaption class="figcaption-1">
												<span class="dialog-1 label-dialog-figcaption">Add a photo</span>
											</figcaption> -->
										</figure>
									</div>
								
								<% end %>



	<script>

		// $(document).on('click','.dialog-2', {} ,function(e){
			// alert('crop');
			// $("#dialog_2").jqmShow();
		// });	

		function closeShowPhoto() {
			$("#close_form4").trigger('click');
		};	  

		// function closeShowPhotoPrimary() {
			// $("#close_form5").trigger('click');
		// };	  
		// function closeAddImagePrimary() {
			// $("#close_form1").trigger('click');
		// };	  
		// function closeCropImage() {
			// $("#close_form2").trigger('click');
		// };	  

		// $(window).load( function() {
		$(document).ready( function () {				
		
			// alert($("#profile_figure img").width());

			// $("#profile_figure_generic").on('click', function() {
				// $(".dialog-1").click();	
			// });
			var img_generic = $("#profile_figure_generic img");
			$("<img/>")
	    		.attr("src", $(img_generic).attr("src"))
	    		.load(function() {
	        		img_width = this.width; 
	        		$("#profile_figure_generic").css({
	        			width : this.width
	        	});
	    	});		
			var img = $("#profile_figure img");
			$("<img/>")
	    		.attr("src", $(img).attr("src"))
	    		.load(function() {
	        		img_width = this.width; 
	        		$("#profile_figure").css({
	        			width : this.width
	        	});	        		
	    	});		

		
			// $(".dialog-2").on('click', function() {
				// $("#dialog_2").jqmShow();
			// });
			// $(".dialog-1").on('click', function() {
				// $("#dialog_1").jqmShow();
				// $("#primary").val('true');
			// });
			// $('#dialog_1').jqm({
				// onShow: function(hash) {
					// hash.o.prependTo('body');
					// hash.w.css('top', '-740px');
					// hash.w.css('opacity', 1.0).fadeIn(200);
					// // hash.w.show();
					// $('#dialog_1').animate(
						// {bottom:'-=800', top:'+=800'}, 
						// 500, 
						// 'easeInOutCirc', 
						// function() {
							// $('#dialog_1').animate(
								// {bottom:'+=4', top:'-=4'}, 
								// 100, 
								// 'easeInBounce', 
								// function() {
								// }
							// );
							// // $('#dl_email').focus();
						// }
					// );
				// }
			// }); 		
			// $('#dialog_2').jqm({
				// onShow: function(hash) {
					// hash.o.prependTo('body');
					// hash.w.css('top', '-740px');
					// hash.w.css('opacity', 1.0).fadeIn(200);
					// // hash.w.show();
					// $('#dialog_2').animate(
						// {bottom:'-=800', top:'+=800'}, 
						// 500, 
						// 'easeInOutCirc', 
						// function() {
							// $('#dialog_2').animate(
								// {bottom:'+=4', top:'-=4'}, 
								// 100, 
								// 'easeInBounce', 
								// function() {
								// }
							// );
							// // $('#dl_email').focus();
						// }
					// );
				// }
			// }); 		
			
			
			
			
			// $(".dialog-5-figure").on('click', function(e) {
				// if ( e.target.nodeName == "IMG" ) {
					// var this_src = $(this).find("input.x-container-hidden").attr("value");
					// $("#profile_figure_dialog").find("img").attr("src", this_src );
					// var this_delete = $(this).find("div.tip-top-center").html();
					// $("#profile_figure_dialog").find("div.tip-top-center").html(this_delete);
					// $("#dialog_5").jqmShow();	
				// }
			// });
			// $('#dialog_5').jqm({
				// onShow: function(hash) {
					// hash.o.prependTo('body');
					// hash.w.css('top', '60px');
					// hash.w.css('opacity', 1.0).fadeIn(200);
					// var img = $("#profile_figure_dialog img");
					// $("<img/>")
			    		// .attr("src", $(img).attr("src"))
			    		// .load(function() {
			        		// img_width = this.width; 
			        		// $("#profile_figure_dialog").css({
			        			// width : this.width
			        	// });	        		
			    	// });		
				// }
			// }); 		
			
			// $(".dialog-5-figure").on('click', function(e) {
				// if ( e.target.nodeName == "IMG" ) {
					// var this_src = $(this).find("input.x-container-hidden").attr("value");
					// $("#profile_figure_dialog").find("img").attr("src", this_src );
					// var this_delete = $(this).find("div.tip-top-center").html();
					// $("#profile_figure_dialog").find("div.tip-top-center").html(this_delete);
					// $("#dialog_5").jqmShow();	
				// }
			// });
			// $('#dialog_5').jqm({
				// onShow: function(hash) {
					// hash.o.prependTo('body');
					// hash.w.css('top', '60px');
					// hash.w.css('opacity', 1.0).fadeIn(200);
					// var img = $("#profile_figure_dialog img");
					// $("<img/>")
			    		// .attr("src", $(img).attr("src"))
			    		// .load(function() {
			        		// img_width = this.width; 
			        		// $("#profile_figure_dialog").css({
			        			// width : this.width
			        	// });	        		
			    	// });		
				// }
			// }); 		
			
			
			$(".dialog-4-figure").on('click', function(e) {
				if ( e.target.nodeName == "IMG" ) {
					var this_src = $(this).find("input.x-container-hidden").attr("value");
					$("#profile_figure_list").find("img").attr("src", this_src );
					var this_delete = $(this).find("div.tip-top-center").html();
					$("#profile_figure_list").find("div.tip-top-center").html(this_delete);
					$("#dialog_4").jqmShow();	
				}
			});
			$('#dialog_4').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '60px');
					hash.w.css('opacity', 1.0).fadeIn(200);

					var img = $("#profile_figure_list img");
					$("<img/>")
			    		.attr("src", $(img).attr("src"))
			    		.load(function() {
			        		img_width = this.width; 
			        		$("#profile_figure_list").css({
			        			width : this.width
			        	});	        		
			    	});		
				}
			}); 		

			
            $('.tip').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout'
                })
            });			
			
            $('.tip-bottom-center').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout',
				    position: {
				        my: 'top center',
				        at: 'bottom center'
				        // target: $('.tip-bottom-center')
    				}                    
                })
            });			

            $('.tip-top-center').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout',
				    position: {
				        my: 'bottom center',
				        at: 'top center'
				        // target: $('.tip-top-center')
    				}                    
                })
            });			
			
		
		});
	  

	</script>		

