

			    	<% if !avatar50.nil? %>
			    	<a href="/">
			    		<img alt="avatar1" src="<%= avatar50 %>" />
			    	</a>
			    	<!-- <img alt="avatar2" src="../images_avatar/avatar_generic_1_w34_h34.png" /> -->
			    	<% else %>
			    	<a href="/">
			    		<img alt="avatar2" src="../images_avatar/avatar_generic_1_w50_h50.png" />
			    	</a>
					<% end %>
