<% provide(:title, 'Settings 5') %>

<style>
	
	.title-container {
		min-height: 100px;
		border: 2px solid #999;
		/*opacity: .45;*/
	}
	.title-bar {
		/*padding: 5px 5px 5px 5px;*/
		padding: 3px;
		/*border-bottom: 1px solid #ccc;*/
		background: -moz-linear-gradient(top,  #CCC 35%, #ffffff 95%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#CCC), color-stop(95%,#ffffff));
		background: -webkit-linear-gradient(top,  #CCC 35%,#ffffff 95%);
		background: -o-linear-gradient(top,  #CCC 35%,#ffffff 95%);
		background: -ms-linear-gradient(top,  #CCC 35%,#ffffff 95%);
		background: linear-gradient(to bottom,  #CCC 35%,#ffffff 95%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCC', endColorstr='#ffffff',GradientType=0 );
	}
	.title-grey span {
		color: #333;
		float: right;
	}
	.title-bar span {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: #000;
	}
	
</style>

<style>

	/*Do not place in the assets pipeline*/
	.nav-publisher-user-register .drop-15 .drop-15-target {
		background-color: #e8e8e8;
	}	
	
</style>

<div style="height: 10px;"></div>

<div class="title-container">
	<div class="title-bar" style="position: relative;">
		<!-- <p>My Info</p> -->
		<div style="float: left; width: 300px;">
			<span>Settings 5</span>
		</div>		
		<!-- <div style="float: right; width: 200px;">
			<div class="btn-opt-edit-container-outer">
				<div class="btn-opt-edit-container">
					<div id="open_edit_story_1" class="btn-opt-edit" tabindex="">
						Edit
					</div>
					<div id="close_edit_story_1" class="btn-opt-edit hidden" tabindex="">
						Cancel
					</div>
				</div>
			</div>
		</div> -->		
		<div style="clear: both;"></div>
	</div>

	<div class="table margin-0" style="height: 225px;">
		<div class="row" style="height: 225px;">
		</div>
	</div>

	<div style="height: 4px;"></div>

</div>
