<div id="landing-nav">
<ul>
	<li class="title"><a href="#home">Top</a></li>
	<li class="first item"><a href="#student">Student</a></li>
	<li class="item tcur"><a href="#teacher">Teacher</a></li>
	<li class="item pcur"><a href="#publisher">Publisher</a></li>
	<li class="item scur"><a href="#school">School or District</a></li>
	<li class="last item"><a href="#recruiter">College Recruiter</a></li>
</ul>
</div>