<% provide(:title, 'Users Index') %>

in users index

<% if false %>
<div style="height: 200px;"></div>
<div style="text-align: center;">
	<div><span>users/index</span></div>
	<div><span><%= @id_passed %></span></div>
	<div><span><%= @p_controller %></span></div>
</div>
<% end %>
