

										<% if @publisher_product_corporate_logo %>   				
										
											<!-- <#% for publisher_journalposter_logo in @publisher_journalposter.publisher_journalposter_logos %#> -->
							   				<div class="">
												<ul class="image-grid image-grid-caption image-grid-caption-height-50">
													<li>
														<figure class="figure-box-200-200">
															<img alt="image not appearing" src="<%= @publisher_product_corporate_logo.image_url(:image_200_200) if @publisher_product_corporate_logo.image? %>" />
															<figcaption class="figcaption-1">
																<span>Edit</span>
																<!-- <span><#%= link_to "Edit", publisher_product_images_path(:publisher_id => @publisher_id, :publisher_product_id => @publisher_product_id) %#></span> -->
																<br>
																<span>Delete</span>
																<!-- <span><#%= link_to "Delete", destroy_image_publisher_product_images_path( :publisher_id => @publisher_id, :publisher_product_id => @publisher_product_id, :publisher_product_image_id => @publisher_product_image.id, :descr => 1 ), :confirm => 'Delete this image?', :method => :post %#></span> -->
															</figcaption>
														</figure>
													</li>
												</ul>
										        <!-- image_tag publisher_journalposter_logo.image_url(:logo) if publisher_journalposter_logo.image?  -->
								   			</div>
								   			<div class="image-grid-text-1-container">
								   				<span>Edit</span>&nbsp;&nbsp;&nbsp;<span>Delete</span>
								   				
												<!-- <span><#%= link_to "Edit", publisher_product_images_path(:publisher_id => @publisher_id, :publisher_product_id => @publisher_product_id) %#></span>
												&nbsp;&nbsp;&nbsp;			   				
								   				<span><#%= link_to "Delete", destroy_image_publisher_product_images_path( :publisher_id => @publisher_id, :publisher_product_id => @publisher_product_id, :publisher_product_image_id => @publisher_product_image.id, :descr => 1 ), :confirm => 'Delete this image?', :method => :post %#></span> -->
												
								   			</div>
											<!-- <#% end %#> -->
		
										<% else %>
		
							   				<div class="">
												<ul class="image-grid image-grid-caption image-grid-caption-height-50">
													<li>
														<figure class="figure-box-200-200">
															<img alt="logo not appearing" src="../images_publisher_product_corporate_logo/generic-corporate-logo-w200-h200.png" />
															<figcaption class="figcaption-1">
																<!-- <span><#%= link_to "Add a product image", new_publisher_product_corporate_logo_path(:publisher_id => @publisher_id, :publisher_product_id => @publisher_product_id) %#></span> -->
																<span><button type="button" class="product-link-btn" onclick="openEditProductCorporateLogo()">&laquo; Add a corporate logo &raquo;</button></span>	
															</figcaption>
														</figure>
													</li>
												</ul>
								   			</div>
								   			<div class="image-grid-text-2-container">
								   				<!-- <span><#%= link_to "&laquo; Add a product image &raquo;".html_safe, new_publisher_product_corporate_logo_path(:publisher_id => @publisher_id, :publisher_product_id => @publisher_product_id) %#></span> -->
								   				<span><button type="button" class="product-link-btn" onclick="openEditProductCorporateLogo()">&laquo; Add a corporate logo &raquo;</button></span>
								   			</div>
								   			<!-- <div class="cell-400">
												<span><#%= link_to '&laquo; Add a photo &raquo;'.html_safe, new_publisher_profile_image_path(:publisher_id => @publisher_id), :class => 'links' %#></span>
								   			</div> -->
										
										<% end %>


