

	<style>
		
		.product-link-btn {
		  	display: inline-block;
		  	text-decoration: none; 
		  	/*width: 160px;*/
		  	height: 20px;
		  	background: inherit;
		  	border-width: 0px;
			color: #486996; /*#9DD5ED*/
			font-family: 'Quattrocento Sans', sans-serif;
		    font-size: 13px;
			font-weight: 200;
			color: #888;								  	
		}
		.product-link-btn:focus {
		}
		.product-link-btn:hover { 
		  	text-decoration: underline; 
		}
		.product-link-btn:active { 
		  	text-decoration: underline; 
		}
		
	</style>

							<% if @publisher_product_pdfs.any? %>								

								<div>
									<span class="normal-red pad-left-20">Yes pdfs</span>
								</div>
													
							<% else %>
					
								<div>
									<span class="normal-red pad-left-20">No pdfs</span>
								</div>
		
							<% end %>



	<script>
		
		// function set_publisher_product_pdf_id(pdf_id) {
    		// var id1 = document.getElementById("id_publisher_product_pdf").value
    		// alert(id1);
    		// document.getElementById("id_publisher_product_pdf").value = pdf_id
    		// var id2 = document.getElementById("id_publisher_product_pdf").value
    		// alert(id2);
		// }

	</script>

