<% provide(:title, 'Publisher Products') %>


	<script type="text/javascript" src="../scripts/jquery_ui_1.10.4.js"></script>
	<script type="text/javascript" src="../scripts/jquery.multiselect.js"></script>

	<!-- <script type="text/javascript" src="../multi_select/prettify.js"></script> -->

  	<link rel="stylesheet" href="/assets/chosen.css">
  	<script src="/assets/chosen.jquery.js" type="text/javascript"></script>
  	<script src="/assets/toucheffects.js" type="text/javascript"></script>
  	
  	<script src="/assets/jquery.qtip.min.js" type="text/javascript"></script>
  	<link rel="stylesheet" href="/assets/jquery.qtip.min.css">

	<!-- <link rel="stylesheet" type="text/css" href="../multi_select/jquery.multiselect.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="../multi_select/style.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="../multi_select/prettify.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="../multi_select/jquery-ui.css" /> -->
	<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script> -->
	<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script> -->


	<style>
		
		.form-display-col1 {
			width: 200px;
		}
		.form-display-col2 {
			width: 400px;
		}
		.form-display-separator {
			height: 10px;
		}
		
	</style>

	<style>
		
		@import url(http://www.google.com/fonts#QuickUsePlace:quickUse/Family:Istok+Web);
		
		*, *:after, *:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		
		.jp-showcell-1 {
			width: 90px;
		} 	
		td.jp-showcell {
			height: 40px;
			width: 100px;
			padding-left: 4px;
			padding-top: 4px;
			vertical-align: top;
	  		font-family: 'QuickUsePlace', sans-serif;
	  		/*font-family: 'Quattrocento Sans', sans-serif;*/
	        font-size: 10px;
	    	color: #214025;
	    	font-weight: 200;
		}
		td.jp-showcell-empty {
			height: 60px;
			width: 200px;
	    	background-color: #fff;
		}
		.jp-cell-border-top {
			border-top:#000000 solid 1px;				
		}					
		.jp-cell-border-bottom {
			border-bottom:#000000 solid 1px;				
		}					
		.jp-cell-border-left {
			border-left:#000000 solid 1px;				
		}					
		.jp-cell-border-right {
			border-right:#000000 solid 1px;				
		}					
		.jp-showcell-background-0 {
			background-color: #fff;
		}
		.jp-showcell-background-1 {
			background-color: #ddd;
		}
		span.jp-title {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			color: #D98D2D;
		}
		span.jp-title-sub {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: #A9D996;
		}
		.jp-btn {
		  	display: inline-block;
		  	text-decoration: none; 
		  	width: 50px;
		  	height: 20px;
		  	background: inherit;
		  	border-width: 0px;
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 13px;
	    	color: #9F6720;
	    	font-weight: 400;					  	
		}
		.jp-btn:focus {
		}
		.jp-btn:hover { 
		  	text-decoration: underline;
		  	cursor: pointer; 
		}
		.jp-btn:active { 
		  	text-decoration: underline; 
		}
		.txtarea {
			font-family: Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 14px;
			padding-left: 6px;
			padding-right: 6px;
			padding-top: 2px;
			/*border: solid 1px #478A3E;*/
			border: solid 1px #aaa;
			background-color: #fff;
			resize: none;	
			height: 70px;
			width: 400px;
		}
		.form-text-index {
			font-family: Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 14px;
		}
		.input-form-spacer-jp {
			height: 16px;
		}
		.jp-table-descr {
			display: table; 
			width: 560px;	
		}
 		div .jp-col-right {
			display: table-cell;
			width: 410px;
			text-align: left;
			align: top;		
		}
		div .jp-col-left {
			display: table-cell;
			width: 180px;
			align: top;
			text-align: left;		
		}
		.jp-col-right span {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #000;    		
			height: 16px;
		}
		.jp-col-left span {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #000;    		
			height: 16px;
		}
		.jp-textarea {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #000;    		
			height: 16px;
			position: relative;
			top: -48px;
		}
		
	</style>

	<style>

		/*
		Light gray: 166/166/166				#A6A6A6
		Blue: 31/124/130					#1F7C82
		Blue-darker:#1B666B
		Blue-lighter:#2899A1		
		Blue-dark:#185C61
		Blue-light:#3DC8D1
		*/

		.box-profile-general {
			background-color: #F8F8F8;
		    /*border: 1px solid #41B737;*/
		    border: 1px solid #1F7C82;
		    border-radius: 0px 0px 0px 0px;
		    box-shadow: 0 3px 3px #A9C7C9;
		    display: table-cell;
		    padding: 8px;
			width:586px;
			/*height: 200px;*/
		}
		.box-profile-general:focus {
			outline: none;
		}
		.profile-label-text {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			/*color: #277820;*/
			color: #185C61;    		
		}
		/*.profile-label-text-no-entry {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #910303;    		
		}*/		
		.box-profile-line-container {
			width: 100%;
			text-align: center;
		}
		.box-profile-line {
			height: 1px;
			/*width: 539px;*/
			width: 100%;
			/*border-top: 1px solid #41B737;*/
			border-top: 1px solid #1F7C82;
		}
		.box-profile-space {
			height: 30px;
		}
		
	</style>

	<style>
		
		.input-home-profile {
			font-family: Arial, Helvetica, sans-serif;
			color: #888;
			font-weight: 600;
			font-size: 13px;
			width: 380px;
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #fff;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 4px;
		}
		.input-home-profile:focus,
		.input-home-profile:active {
			border-color: #478A3E;
			color: #11520B;
			font-weight: 600;
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}
		.input-home-profile:focus:hover {
			border-color: #478A3E;
			color: #11520B;
			font-weight: 600;
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}		
		.input-home-profile:hover {
			-webkit-box-shadow: inset 0 0 1px 1px #185C61;
			   -moz-box-shadow: inset 0 0 1px 1px #185C61;
			        box-shadow: inset 0 0 1px 1px #185C61;
		}
		.input-home-profile-d {
			font-family: Arial, Helvetica, sans-serif;
			color: #888;
			font-weight: 600;
			font-size: 13px;
			width: 80px;
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #fff;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 4px;
		}
		.input-home-profile-d:focus,
		.input-home-profile-d:active {
			border-color: #478A3E;
			color: #11520B;
			font-weight: 600;
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}
		.input-home-profile-d:focus:hover {
			border-color: #478A3E;
			color: #11520B;
			font-weight: 600;
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}		
		.input-home-profile-d:hover {
			-webkit-box-shadow: inset 0 0 1px 1px #185C61;
			   -moz-box-shadow: inset 0 0 1px 1px #185C61;
			        box-shadow: inset 0 0 1px 1px #185C61;
		}
		.input-home-profile-d:disabled {
			box-shadow: none;
			color: #ccc;
		}
		.input-home-profile-short {
			font-family: Arial, Helvetica, sans-serif;
			color: #888;
			font-weight: 600;
			font-size: 13px;
			width: 220px;
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #fff;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 4px;
		}
		.input-home-profile-short:focus,
		.input-home-profile-short:active {
			border-color: #478A3E;
			color: #11520B;
			font-weight: 600;
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}
		.input-home-profile-short:focus:hover {
			border-color: #478A3E;
			color: #11520B;
			font-weight: 600;
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}		
		.input-home-profile-short:hover {
			-webkit-box-shadow: inset 0 0 1px 1px #185C61;
			   -moz-box-shadow: inset 0 0 1px 1px #185C61;
			        box-shadow: inset 0 0 1px 1px #185C61;
		}
		/*.input-home-profile-short:hover,
		.input-home-profile-short:focus {
			border-color: #478A3E;
			color: #11520B;
			font-weight: 600;
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}*/
		.input-home-profile-exp {
			font-family: Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 16px;
			width: 100px;
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #fff;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 6px;
		}
		.input-home-profile-exp:focus,
		.input-home-profile-exp:active {
			border-color: #478A3E;
			color: #000;
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}
		.input-home-profile-exp:focus:hover {
			border-color: #478A3E;
			color: #000;
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}
		/*.input-home-profile-exp:hover {
			-webkit-box-shadow: inset 0 0 1px 1px #185C61;
			   -moz-box-shadow: inset 0 0 1px 1px #185C61;
			        box-shadow: inset 0 0 1px 1px #185C61;
		}*/
		.input-label-category {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #1F7C82;
			width: 160px;
			height: 18px;
		}
		.input-label-category:focus {
			text-shadow: 1px 1px #aaa;
		}
		.input-label-home-profile {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #888;
			width: 160px;
			height: 18px;
		}
		.input-label-home-profile-a {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #F69010;
		}
		.input-label-home-profile-a:hover {
			color: #F69010;
		}
		.input-label-home-profile-a:focus {
			color: #F69010;
			text-shadow: 1px 1px #34922C;
		}
		.space-home-profile {
			height: 6px;
		}
		.form-home-profile-table {
			display: table;
		}
		.form-home-profile-row {
			display: table-row;
		}
		.form-home-profile-row {
			display: table-row;
		}		
		.form-home-profile-cell-1b {
			display: table-cell;
			width: 240px;
		}
		.form-home-profile-cell-2b {
			display: table-cell;
			width: 250px;
		}
		.form-home-profile-cell-3b {
			display: table-cell;
			width: 10px;
		}
		.form-home-profile-cell-1 {
			display: table-cell;
			width: 90px;
		}
		.form-home-profile-cell-1a {
			display: table-cell;
			width: 90px;
		}
		.form-home-profile-cell-2 {
			display: table-cell;
			width: 380px;
			text-align: right;
		}
		.form-home-profile-cell-2a {
			display: table-cell;
			width: 380px;
		}		
		.form-home-profile-cell-3 {
			display: table-cell;
			width: 60px;
			height:16px;
		}
		.form-home-profile-cell-1c {
			display: table-cell;
			width: 30px;
		}
		.form-home-profile-cell-2c {
			display: table-cell;
			width: 500px;
			text-align: right;
			/*margin-left: 10px;*/
		}
		.form-home-profile-cell-3c {
			display: table-cell;
			width: 10px;
			height:16px;
		}
		.form-home-profile-cell-1d {
			display: table-cell;
			width: 320px;
			padding-left: 20px;
		}
		.form-home-profile-cell-2d {
			display: table-cell;
			width: 30px;
			/*padding-top: 6px;*/
			vertical-align: bottom;
		}
		.form-home-profile-cell-3d {
			display: table-cell;
			width: 10px;
		}
		.form-home-profile-cell-4d {
			display: table-cell;
			width: 80px;
			height:16px;
		}
		.form-home-profile-cell-5d {
			display: table-cell;
			width: 40px;
			height:16px;
		}
		.form-home-profile-cell-6d {
			display: table-cell;
			width: 560px;
			padding-left: 330px;
		}
		.form-home-profile-cell-7d {
			display: table-cell;
			width: 1px;
		}
		span.price-list {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 13px;
			color: #888;
		} 
		.form-home-profile-cell-submit {
			display: table-cell;
			width: 500px;
			text-align: center;
		}
		.form-home-profile-cell-account-type {
			display: table-cell;
			width: 60px;
		}		
		.form-home-profile-cell-account-type-1 {
			display: table-cell;
			width: 70px;
		}		
		.form-home-profile-row-space {
			height: 4px;
		}
		div.container-dollar-sign {
			display: inline-block;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #1F7C82;			
		}
		
	</style>

	<!-- <style>
		input[type=checkbox] {
		    display:none;
		}			
		input[type=radio] {
		    display:none;
		}			
		.rd-button {
			width: 18px;
			height: 18px; 
			border-style: solid; 
			border-width: 2px; 
			border-color: #11520B; 
			border-radius: 18px;		
			margin-bottom: -4px;
			display: inline-block;
			margin-right: 0px;
			cursor: pointer;		
		}
		.rd-button:focus {
			box-shadow: 0 0 14px #eee;
			box-shadow: 0 0 10px #88E87B;
			box-shadow: 0 0 10px #29731F;
			outline: none;
		}
		.rd-button:select {
			box-shadow: 0 0 10px #88E87B;
			box-shadow: 0 0 10px #29731F;		
			outline: none;
		}
		.rd-background {
			background-color: #A5E5B4;
		}	
	</style> -->
	
	<style>
		
		/*checkbox_tick_1.png*/
		.check-affirm {
			/*background-color: #F8F8F8;*/
			background-image: url("/assets/checkbox_tick_1.png");		
			background-repeat: no-repeat;
			background-position: 8px 0px;
			top: 0px;
		}	
		.check-required {
			/*background-image: url("/assets/submit_form_asterisk_orange.png");*/
			background-image: url("/assets/red_star_7.png");		
			background-repeat: no-repeat;
			background-position: 0px 0px;
			top: 0px;			
		}
		.required-1 {
			width: 38px;
			height: 22px;
		}
		.display-none {
			display: none;
		}
		.display-hidden {
			visibility: hidden;
		}
		/*.profile-label-text-no-entry {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #910303;    		
		}*/			
		.render-1 {
			/*width: 180px;*/
			height: 16px;
			/*display: table-cell;*/
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #910303;    				
			/*position: relative;*/
		}
		/*.render-2 {
			width: 30px;
			height: 16px;
			display: table-cell;
			position: relative;	
		}*/
		.btn-submit-home-profile {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;		
			text-align: center;	
			padding-top: 3px;
		  	/*color: #FBB040;*/
		  	color: #fff;
		  	display: inline-block;
		  	text-decoration: none; 
		  	width: 80px;
		  	height: 20px;
		  	/*background: linear-gradient(#41B737, #37633A);*/
		  	background: linear-gradient(#2899A1, #1F7C82);

		  	/*text-shadow: 1px 1px 1px #0E86B2;*/ 
		  	border-radius: 2px;
		}
		.btn-submit-home-profile:focus {
			/*border-color: #478A3E;
			color: #11520B;
			font-weight: 700;*/
			-webkit-box-shadow: 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: 0 0 1px 1px #3DC8D1;
			        box-shadow: 0 0 1px 1px #3DC8D1;
		  	background: linear-gradient(#2899A1, #1F7C82);
		  	/*background: #CCC;*/ 
		  	/*color: #5F7A2A;*/
		  	/*box-shadow: inset 0 1px 0 rgba(200,200,200,0.2);*/
		}
		.btn-submit-home-profile:hover { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.1),
		  inset 0 1.5em 1em rgba(255,255,255,0.2);
		  cursor: pointer;
		}
		.btn-submit-home-profile:active { 
		  	box-shadow: inset 0 1px 1px rgba(255,255,255,0.0), 
		  	inset 0 1.5em 1em rgba(0,0,0,0.0);
		 	/*color: #FBB040;*/
		 	color: #fff;
		  	/*background: linear-gradient(#37633A, #41B737);*/
		  	background: linear-gradient(#1F7C82, #2899A1);
		  	outline:none;
		}
	
		/*
		Light gray: 166/166/166				#A6A6A6
		Blue: 31/124/130					#1F7C82
		Blue-darker:#1B666B
		Blue-lighter:#2899A1		
		Blue-dark:#185C61
		Blue-light:#3DC8D1
		*/
	
		/*.submit-btn-home-profile {
		    background-color: #F69010;
		    border-radius: 0 12px 0 12px;
		    text-align: center;
		    padding-bottom: 2px;
		}
		.submit-btn-home-profile {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #11520B;
			height: 24px;
			width:80px;
			border: 2px solid #11520B;
			margin-top: 10px;
			padding-top: 5px;
			margin-left: 0px;
		    background-color: #F69010;
		    border-radius: 0 12px 0 12px;
		}
		.submit-btn-home-profile:hover {
			color: #fff;
			background-color: #E3AC66;
			text-shadow: 1px 1px #34922C;
			cursor: pointer;
		}
		.submit-btn-home-profile:focus {
			box-shadow: 0 0 10px #29731F;
			text-shadow: 1px 1px #34922C;			
			outline: none;
		}*/
	
	</style>		

	<style>
		
		.input-form-word-description {
			font-family: Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 14px;
			width: 296px;
			height: 70px;
			border-style:solid;
			border-radius: 0px;
			background-color: #fff;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 6px;
			padding-right: 6px;
			padding-top: 2px;
			resize: none;				
		}		
		.input-form-word-description:focus,
		.input-form-word-description:hover {		
			border-color: #478A3E;
			color: #000;
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}
		.input-form-word-description:focus:hover {		
			border-color: #478A3E;
			color: #000;
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}
		.input-form-word-description:hover {		
			-webkit-box-shadow: inset 0 0 1px 1px #185C61;
			   -moz-box-shadow: inset 0 0 1px 1px #185C61;
			        box-shadow: inset 0 0 1px 1px #185C61;
		}
		.input-form-word-description-label {
			 position: relative; 
			 top: -49px;
		}
		.char-num {
			font-family: Arial, Helvetica, sans-serif;
			color: #FBB040;			
			font-size: 11px;
			width: 50px;
			height: 15px;
			display: inline-block;
			/*margin-right: 244px;*/
			text-align: left;
		}
		
	</style>

 	<style>
 		
		.image-grid figcaption.figcaption-1 {
			text-align: right;			
			padding-top: 5px;
			text-align: center;
			/*padding-right: 10px;*/
			/*padding-left: 0px;
			padding-bottom: 0px;*/

			background: #000;
			/*color: #fff;*/
		}
		.image-grid figcaption.figcaption-1 a {
			text-align: right;
			color: #fff;
			font-family: Arial, Helvetica, sans-serif;
		    font-size: 13px;
			font-weight: 200;					  	
		} 		
		.image-grid-caption-height-50 figcaption {
			height: 50px;
		}
		div.image-grid-text-1-container {
			width: 100%;
			text-align: left;
		}
		div.image-grid-text-1-container span,
		div.image-grid-text-1-container a {
			font-family: 'Quattrocento Sans', sans-serif;
		    font-size: 13px;
			font-weight: 200;
			color: #888;								  	
		}
		div.image-grid-text-2-container {
			width: 100%;
			text-align: center;
		}
		div.image-grid-text-2-container span,
		div.image-grid-text-2-container a {
			font-family: 'Quattrocento Sans', sans-serif;
		    font-size: 13px;
			font-weight: 200;
			color: #888;								  	
		}
		.figure-box-500 {
			width: 500px; 
			height: 500px; 
			border: 1px solid #888;
		}
		.figure-box-325 {
			width: 325px; 
			height: 207px; 
			/*border: 1px solid #888;*/
		}
		.figure-box-200 {
			width: 200px; 
			height: 200px; 
			/*border: 1px solid #888;*/
		}
		.figure-box-100 {
			width: 100px; 
			height: 100px; 
			border: 1px solid #888;
		}
		.figure-box-50 {
			width: 50px; 
			height: 50px; 
			border: 1px solid #888;
		}

 	</style>

	<style>
		
		.input-home-profile-textarea {
			/*font-family: Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 14px;*/
			font-family: Arial, Helvetica, sans-serif;
			color: #888;
			font-weight: 600;
			font-size: 13px;
			width: 380px;
			height: 120px;
			border-style: solid;
			border-radius: 0px;
			background-color: #fff;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 6px;
			padding-right: 6px;
			padding-top: 2px;
			resize: none;
			vertical-align: text-top;				
		}		
		.input-home-profile-textarea:focus,
		.input-home-profile-textarea:hover {		
			border-color: #478A3E;
			color: #000;
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}
		.input-home-profile-textarea:focus:hover {		
			border-color: #478A3E;
			color: #000;
			-webkit-box-shadow: inset 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: inset 0 0 1px 1px #3DC8D1;
			        box-shadow: inset 0 0 1px 1px #3DC8D1;
		}
		.input-home-profile-textarea:hover {		
			-webkit-box-shadow: inset 0 0 1px 1px #185C61;
			   -moz-box-shadow: inset 0 0 1px 1px #185C61;
			        box-shadow: inset 0 0 1px 1px #185C61;
		}
		.input-label-home-profile-textarea {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #888;    		
			height: 16px;
			position: relative;
			/*top: -50px;*/
		}
		
		.publisher-product-select-btn {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px; 
			background-color: #1F7C82;
			color: #fff;
		  	height: 20px;
			margin-bottom: 4px;		  			  	
		}
		.publisher-product-select-btn:select {
			background-color: #82251F;
		}		
		.publisher-product-select-btn-w200 {
		  	width: 200px;
		}
		
	</style>		
	
    <script src="/assets/dot.js"></script>    
    <script src="/assets/jquery-dropdown-dot.js"></script>

	<style>
		
		.profile-dropdown-1 {
			width: 380px;
			z-index: 2;
		}
		.profile-dropdown-2 {
			width: 380px;
			z-index: 1;
		}
		.profile-dropdown-3 {
			width: 380px;
			z-index: 5;
		}
		.profile-dropdown-4 {
			width: 380px;
			z-index: 4;
		}
		.profile-dropdown-5 {
			width: 380px;
			z-index: 3;
		}
		.profile-dropdown-6 {
			width: 380px;
			z-index: 2;
		}
		.profile-dropdown-7 {
			width: 380px;
			z-index: 1;
		}

		.profile-dropdown {
			background: #1F7C82 url('/assets/arrow_dropdown_2_white.png') no-repeat 98% 50%;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 13px;
			color: #fff;
	    	border-radius: 0px;			
			height: 24px;
	    	position: relative;
			padding-top: 5px;
			padding-left: 6px;
			margin-right: 6px;
			text-decoration: none;
			outline: none;
		}
		.profile-dropdown:focus {
			/*-webkit-box-shadow: inset 0 0 2px 2px #3DC8D1;
			   -moz-box-shadow: inset 0 0 2px 2px #3DC8D1;
			        box-shadow: inset 0 0 2px 2px #3DC8D1;*/
			-webkit-box-shadow: 0 0 2px 2px #3DC8D1;
			   -moz-box-shadow: 0 0 2px 2px #3DC8D1;
			        box-shadow: 0 0 2px 2px #3DC8D1;
			        
		}
		.profile-dropdown:focus:hover {
			-webkit-box-shadow: 0 0 2px 2px #3DC8D1;
			   -moz-box-shadow: 0 0 2px 2px #3DC8D1;
			        box-shadow: 0 0 2px 2px #3DC8D1;
			        
		}
		.profile-dropdown:hover {
			-webkit-box-shadow: 0 0 2px 2px #185C61;
			   -moz-box-shadow: 0 0 2px 2px #185C61;
			        box-shadow: 0 0 2px 2px #185C61;			        
		}
		.profile-dropdown > .selected {
		}
		.profile-dropdown:focus {
		}
		.profile-dropdown.focus > .selected,
		.profile-dropdown:focus > .selected {
			width: 98%;
		    outline: none;
		}
		.profile-dropdown > .selected:hover,
		.profile-dropdown > .selected:focus {
		    cursor: pointer;
		}
		.profile-dropdown.open > .selected {
			background: #1F7C82 url('/assets/arrow_dropdown_2_white_up.png') no-repeat 100% 50%;
		}
		.profile-dropdown ul {
		    display: none;
		    position: absolute;
		    left: 0;
		    top: 100%;
		    width: 100%;
		    background: #1F7C82;
		    /*z-index: 10;*/
		    border: 1px solid #333;
		    border-top: none;
		    box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    line-height: 1.4;
		    margin: 0;
		    padding-left: 6px;
		}
		.profile-dropdown .profile-dropdown-1 ul {
			height: 200px;
		}
		.profile-dropdown .profile-dropdown-2 ul {
			height: 100px;
		}
		.profile-dropdown .profile-dropdown-3 ul {
			height: 100px;
		}
		.profile-dropdown ul li.selected {
		    color: #fff;
			background: #FBB040;
		}
		.profile-dropdown ul li:last-child.selected {
		    -webkit-border-radius: 0px 0px 4px 4px;
		    border-radius: 0px 0px 4px 4px;
		}
		.profile-dropdown ul li {
		    position: relative;
		    display: block;
		    text-decoration: none;    
		    color: #ACDDE3;
		    padding-left: 4px;
		}
		.profile-dropdown ul li:first-child {
		    color: #aaa;
		}
		.profile-dropdown ul li:first-child.selected {
		    color: #838383;
		}
		.profile-dropdown ul li.hover {
		    background: #fff;
		    color: #1F7C82;
		}
		
	</style>											
	
	<style>
		
		span.error-msg {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 13px;
			color: red;
		}
		
	</style>

	<style>
		
	.container {
		width: 1200px;
		/*margin: 0 auto;*/
		/*position: relative;*/
		/*top: -4px;*/
	}
		
	</style>

	
	<style>						

		/*
		Learning Counsel colors: (in RGB)
		Main bright green:  65/183/55		#41B737
		Med dark green: 55/99/58			#37633A
		Light gray: 166/166/166				#A6A6A6
		Blue: 31/124/130					#1F7C82
		Orange: 251/176/64					#FBB040
		
		Blue-darker:#1B666B
		Blue-lighter:#2899A1		
		Blue-dark:#185C61
		Blue-light:#3DC8D1
		
		If you want to use the colors in the poster headers, they are gradients as follows:
		Curriculum Resources:  Main bright green to black			#41B737
		Teacher Tools:  Learning Counsel blue (above) to black		#1F7C82
		School Operations:   236/0/140  to black					#EC008C
		Content 229/171/74 to 70/22/35								#461623		#E7AC4A
		Professional Learning: 0/174/239 to black					#00AEEF
	
		#3B39B7 blue
		#B737AD bright violet-red
		#6813B7 deep purple
		#B75900 bright pumpkin
		#07B7B7 light blue
		
		#D98D2D	knowstory logo orange
		#96C785 knowstory logo green dark 
		#A9D996 knowstory logo green light
		#214025 footer green
		background-color: rgba( 65, 183, 55, 0.92); nav green
		background-color: #41B737;	nav green		
		*/ 
	
	</style>

	<!-- <header>
		<#%= render 'share/backtotop' %#>
	</header> -->

	<%= render 'share/backtotop' %>

	<div class="container">

		<div class="table-profile">
			<div class="row-profile">
				<div class="col-left">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>
						<div class="row-profile">
							<div class="col-left">
								<%= render 'share/dir_publishers_left'%>
							</div>
						</div>
					</div>
				</div>
				<div class="col-midd-700-borders">
					<div class="table-profile">
						<!-- <div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div> -->							
						<div class="row-profile">
							<div class="col-midd-700">

								<%= render 'publisher_product_descriptions/index' %>
								
							</div>
						</div>
					</div>					
				</div>
				<div class="col-right-300">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>							
						<div class="row-profile">
							<div class="col-right">
								<%= render 'share/dir_publishers_right' %>
							</div>
						</div>
					</div>										
				</div>								
			</div>
		</div>
	</div>
	
	<script src="/assets/jquery.sparkbox-select.js"></script>

	<script>
	  
		$(window).load( function() {
		//$(document).ready(function () {				
	
	
				// var cnt = 1;
				// var cells = "";
				// // alert(gon.image_name);
				// if (gon.image_name !== '') {								
					// //cells += "</td><td style='width: 10px;'></td><td><img src='../images_publisher_product_logo/" + gon.image_name + "' alt='image'>";
					// cells += "<img src='../images_publisher_product_logo/" + gon.image_name + "' alt='image'>";
					// // var tbl = "<table><tr>" + cells + "</tr></table>";
					// var tbl = cells;
					// $( "#render" ).html( tbl);
				// }
				// else {
					// var tbl = "<table><tr><td><span class='normal-red pad-left-20'>No photo</span><td></tr></table>";
					// $( "#render" ).html( tbl);				
				// }
		});
	  
	</script>		


