<div class="navbar">
        <ul class="profiles">
      <li><a class="student" href="#student"><span>Students</span></a>
      <li><a class="publisher" href="#publisher"><span>Publishers</span></a>
      <li><a class="school" href="#school"><span>Schools & Districts</span></a>
      <li><a class="teacher" href="#teacher"><span>Teachers</span></a>
      <li><a class="recruiter" href="#recruiter"><span>College Recruiters</span></a>
        </ul>
        </div> 