	<!--[if gte IE 9]>
	  <style type="text/css">
	    .gradient {
	       filter: none;
	    }
	  </style>
	<![endif]-->
	<!-- <script type="text/javascript" src="/assets/jquery.js"></script> -->
	
	<style>
		/*
		#D98D2D	knowstory logo orange
		#96C785 knowstory logo green dark 
		#A9D996 knowstory logo green light
		#214025 footer green
		background-color: rgba( 65, 183, 55, 0.92); nav green
		background-color: #41B737;	nav green		
		*/ 
	</style>
	
	<style>
		
		ul#menu li {
			/*font: 13px Verdana, 'Lucida Grande';*/
			/*cursor: pointer;*/
			/*-webkit-transition: padding .05s linear;
			-moz-transition: padding .05s linear;
			-ms-transition: padding .05s linear;
			-o-transition: padding .05s linear;
			transition: padding .05s linear;*/
		}
		ul li.drop {
			position: relative;
		}
		ul > li {
			display: inline-block;
		}
		/*#menu ul li a {*/
		ul#menu li div.li-title {
			/*line-height: 80px;*/
			/*padding: 0 20px;*/
			height: 26px;
			/*color: #777;*/
			/*-webkit-transition: all .1s ease-out;
			-moz-transition: all .1s ease-out;
			-ms-transition: all .1s ease-out;
			-o-transition: all .1s ease-out;
			transition: all .1s ease-out;*/
		}
		/*ul#menu li div.li-title:hover div.dropdownContain {
			top: 58px;
		}*/
	
		/*ul li a:hover {
			color: #eee;
		}*/
		
		.dropOut .triangle {
			width: 0;
			height: 0;
			position: absolute;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid white;
			top: -8px;
			/*left: 76px;*/
			right: 0px;
			/*margin-left: -8px;*/
		}
		ul#menu li div.dropdownContain {
			width: 140px;
			position: absolute;
			z-index: 2;
			/*left: -40px;*/
			right: 3px;
			/*margin-left: -80px;*/
			top: -400px;
		}
		.dropOut {
			width: 140px;
			background: #fff;
			float: left;
			position: relative;
			margin-top: 0px;
			opacity: 0;
			
			-webkit-border-top-left-radius: 4px;
			-moz-border-top-left-radius: 4px;
			border-top-left-radius: 4px;

			-webkit-border-top-right-radius: 0px;
			-moz-border-top-right-radius: 0px;
			border-top-right-radius: 0px;

			-webkit-border-bottom-right-radius: 4px;
			-moz-border-bottom-right-radius: 4px;
			border-bottom-right-radius: 4px;

			-webkit-border-bottom-left-radius: 4px;
			-moz-border-bottom-left-radius: 4px;
			border-bottom-left-radius: 4px;
			
			-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
			-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
			box-shadow: 0 1px 6px rgba(0,0,0,.15);
			-webkit-transition: all .1s ease-out;
			-moz-transition: all .1s ease-out;
			-ms-transition: all .1s ease-out;
			-o-transition: all .1s ease-out;
			transition: all .1s ease-out;
		}
		.dropOut ul {
			float: left;
			padding: 10px 0;
		}
		ul#menu li div.dropdownContain div.dropOut ul li {
			text-align: left;
			float: left;
			width: 120px;
			padding: 4px 0 6px 10px;
			/*margin: 4px 0px 4px 0px;*/
			margin-right: 10px;
			margin-left: 10px;
			/*color: #376340;*/
			/*color: #000;*/
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			/*-webkit-transition: background .1s ease-out;
			-moz-transition: background .1s ease-out;
			-ms-transition: background .1s ease-out;
			-o-transition: background .1s ease-out;
			transition: background .1s ease-out;*/
		}
		.dropOut ul li:hover {
			background: #f6f6f6;
		}
		ul#menu li div.dropdownContain div.dropOut ul li a {
			color: #376340;	
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			font-weight: 700;
		}
		ul#menu li div.dropdownContain div.dropOut ul li:hover a {
			color: #376340;	
			text-decoration: none;
		}
		/*ul li:hover a { color: red; underline: none;}*/
		/*ul li:hover .dropdownContain { top: 65px; left: -60px;}*/
		ul#menu li:hover div.dropdownContain { top: 58px; }
		/*ul li:hover .underline { border-bottom-color: #777; }*/
		ul#menu li:hover div.dropdownContain div.dropOut { opacity: 1; margin-top: 10px; }
		
	  	.type-style {
	  		float:right; 
	    	padding: 28px 0 0 0; 
	    	/*color: #FFF;*/
	    	color: #f8f8f8; 
	    	font-size:1.3em;
	    	height: 70px;
	  	}
		/*#menu div.separator_line {
			height: 1px;
			width: 100%;
			border-bottom: 1px solid silver;
		}*/
		
	</style>



	<div id="nav_ks" class="nav-ks">
		<ul id="menu">
			
		    <li class="icon">
		    	<img src="/assets/knowstory-icon-2-w224-h75.png" alt="knowstory-icon-2-w224-h75.png" height="75px">
		    	<!-- <img src="assets_knowstory/knowstory-icon-2-w634-h212.png" alt="knowstory-icon-2-w150-h50.png" height="75px"> -->
		    </li>
			
          	<% if signed_in? %>

		    <!-- <li class="profile-type">
		    	<img src="assets_knowstory//icons/publisher.png"><span>Publisher</span>
		    </li> -->

	<style>
		
		.avatar-nav {
			width: 50px;
			height: 50px;
			margin: 10px 6px 0 0;
		}
		.avatar-nav img {
			border-radius: 4px; 
			margin: 0; 
			border: 2px solid #999;
		}
		.avatar-nav img:hover {
			cursor: pointer;
			border: 2px solid #A9D996;
		}
		.li-link:hover {
			cursor: pointer;
		}
		
	</style>

		    <li class="drop" id="with_sub_1" style="float: right; margin: 0;">
		    <!-- <li class="drop"> -->
		    	<div id="render_avatar_nav" class="avatar-nav" id="dropdown_1">
		    		<%= render 'layouts/avatar_nav' %>
		    	</div>
		    	<!-- a href="#">Publisher</a> -->
		    	<!-- <div style="position: absolute;" class="dropdown-1-menu display-none dropdownContain"> -->
		    	<div class="dropdownContain">
		    	<!-- <div style="position: absolute;" class="dropdownContain"> -->
					<div class="dropOut">
						<div class="triangle"></div>
						<ul>
							<li id="li-nav-1" class="li-link">
								<a href="/" id="li-nav-1a">
									My page
								</a>
							</li>
							<!-- <li><div class="separator_line_container"><div class="separator_line"></div></div></li> -->
							<li id="li-nav-2" class="li-link">
								<a href="/Signout" id="li-nav-2a">
									Sign out
								</a>
							</li>
							<li id="li-nav-3" class="li-link">
								<a href="/Posters-Demo" id="li-nav-3a">
									Posters
								</a>
							</li>
						</ul>
					</div>
		        </div>
		    </li>
		    <!-- <li style="float: right; margin: 10px 10 0 0;">
				<a href="/">
					<img src="../assets_knowstory/icons/publisher.png">
				</a>
		    </li> -->

	<style>

		.ks-nav-title-1 {
			position: relative;
			float: right;
			/*padding: 30px 0 0 0;*/
			margin: 0 14px 0 0;
			/*position: relative;*/
			width: 100px;
			height: 75px;
		}
		.ks-nav-title-1 span {
			position: absolute;
			bottom: 9px;
			right: 0px;
			font-family: KlavikaBlack;
			/*font-family: Arial, Helvetica, sans-serif;*/
			color: #ccc; 
			/*font-size:1.3em;*/
			font-weight: 200;
			font-size: 22px;
		}
		.ks-nav-title-1 span:hover {
			color: #ddd;
		}
		
	</style>
		    
		    <li class="ks-nav-title-1">
				<a href="/">
		    		<span>Publisher</span>
				</a>
		    </li>

			<% end %>
			
		</ul>
	</div>
	<div style="clear: both;"></div>

	<script>
	
		// $(window).load( function() {
		$(document).ready(function () {				


			$('li#li-nav-1').on('click', function() {
				window.location = document.getElementById('li-nav-1a').href;				
			});
			$('li#li-nav-2').on('click', function() {
				window.location = document.getElementById('li-nav-2a').href;				
			});
			$('li#li-nav-3').on('click', function() {
				window.location = document.getElementById('li-nav-3a').href;				
			});


		});
		
		
	</script>