<figcaption id="figcaption_dialog_11" class="expand-image">												
	<div class="img-2-container image">
		<a rel="gallery" title="" href="${src_image}">
			<div id="img_2" class="img-2"></div>
		</a>
	</div>
</figcaption>
