
	/*
	Learning Counsel colors: (in RGB)
	Main bright green:  65/183/55		#41B737
	Med dark green: 55/99/58			#37633A
	Light gray: 166/166/166				#A6A6A6
	Blue: 31/124/130					#1F7C82
	Orange: 251/176/64					#FBB040
	
	Blue-darker:#1B666B
	Blue-lighter:#2899A1		
	Blue-dark:#185C61
	Blue-light:#3DC8D1
	
	If you want to use the colors in the poster headers, they are gradients as follows:
	Curriculum Resources:  Main bright green to black			#41B737
	Teacher Tools:  Learning Counsel blue (above) to black		#1F7C82
	School Operations:   236/0/140  to black					#EC008C
	Content 229/171/74 to 70/22/35								#461623		#E7AC4A
	Professional Learning: 0/174/239 to black					#00AEEF

	#3B39B7 blue
	#B737AD bright violet-red
	#6813B7 deep purple
	#B75900 bright pumpkin
	#07B7B7 light blue
	
	#D98D2D	knowstory logo orange
	#96C785 knowstory logo green dark 
	#A9D996 knowstory logo green light
	#214025 footer green
	background-color: rgba( 65, 183, 55, 0.92); nav green
	background-color: #41B737;	nav green		
	
	lgreen: #c0e7bd;
	ksgreen: #49853f;
	dgreen: #376340;
	midgreen: #8eb388;
	*/ 

	*, *:after, *:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.clearfix:before, .clearfix:after { content: " "; display: table; }
	.clearfix:after { clear: both; }
	a {
		color: #888;
		text-decoration: none;
	}
	.figure-product-logo {		
	}
	.figure-product-logo:hover {
		cursor: pointer;		
	}
	.figure-product-logo-listing {		
	}
	.figure-product-logo-listing:hover {
		cursor: pointer;		
	}
	.profile-figure {		
	}
	.profile-figure:hover {
		cursor: pointer;		
	}
	.profile-figure-generic {		
	}
	.profile-figure-generic:hover {
		cursor: pointer;		
	}
	.profile-figure-logo-generic {		
	}
	.profile-figure-logo-generic:hover {
		cursor: pointer;		
	}
	.profile-figure-list {		
	}
	.profile-figure-list:hover {
		cursor: pointer;		
	}
	.profile-grid {
		padding: 0px 0px 0px 0px;
		margin: 0 auto;
		list-style: none;
	}
	.profile-grid-250 li {
		width: 250px;
	}
	.profile-grid-100 li {
		width: 100px;
	}
	.profile-grid li {
		display: inline-block;
		padding: 0px 0px 0px 0px;
		position: relative;
		text-align: center;
	}
	.profile-grid figure {
		margin: 0;
		position: relative;
		padding-top: 0px;	
		background-color: #fff;
	}
	.profile-grid figure img {
		max-width: 100%;
		display: block;
		position: relative;
	}
	.profile-grid figcaption {
		text-align: right;
	}
	.profile-grid figcaption span a {
		text-align: right;
		color: #fff;
		font-family: 'Quattrocento Sans', sans-serif;
	    font-size: 14px;
		font-weight: 400;					  	
	}
	span a {
		text-align: right;
		color: #888;
		font-family: 'Quattrocento Sans', sans-serif;
	    font-size: 14px;
		font-weight: 400;					  	
	}
	.profile-cs-style-3 li {
		border: 2px solid #CCC;
	}
	.profile-cs-style-3 figure {
		overflow: hidden;
	}
	.profile-cs-style-3 figure img {
		-webkit-transition: -webkit-transform 0.2s;
		-moz-transition: -moz-transform 0.2s;
		transition: transform 0.2s;
	}
	.no-touch .profile-cs-style-3 figure:hover img,
	.profile-cs-style-3 figure.cs-hover img {
	}
	.profile-grid figcaption.figcaption-1 {			
		position: absolute;
		top: auto;
		left: 0;
		text-align: center;
		height: 100%;
		width: 100%;
		bottom: 0;
		background: asset-url("background-000000-o100-w10-h10.png") repeat;
	}
	.profile-grid figcaption.figcaption-1 div.img-1 {
		position: relative;
		top: 30%;
		left: 26%;
		width: 72px;
		height: 60px;
		opacity: 1;
		background: asset-url("logo_camera_1_w72_h60.png") no-repeat;
	}			
	.profile-grid figure img {
		border: 2px solid #CCC;
		margin: 0;
	}
	.profile-grid figcaption.figcaption-2 {
		position: absolute;
		top: 3px;
		right: 2px;
		padding: 1px;
		background: #000;
		color: #ed4e6e;
	}
	.profile-cs-style-3 figcaption.figcaption-2 {
		height: 15px;
		width: 14px;
		top: 3px;
		opacity: 0;
		background: #000;
		border-radius: 2px;
		-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
		-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
		transition: transform 0.4s, opacity 0.1s 0.3s;
	}
	.x-container {
		height: 15px;
		width: 14px;
		border: none;
		background: asset-url("x_close_white_w8_h8.png") no-repeat 2px 2px;
	}
	.x-container:hover {
		height: 15px;
		width: 14px;
		border: none;
		background: asset-url("x_close_white_hover_w8_h8.png") no-repeat 2px 2px;
	}
	.no-touch .profile-cs-style-3 figure:hover figcaption.figcaption-2,
	.profile-cs-style-3 figure.cs-hover figcaption.figcaption-2 {
		cursor: pointer;
		opacity: 1;
		-webkit-transition: -webkit-transform 0.4s;
		-moz-transition: -moz-transform 0.4s;
		transition: transform 0.4s;

	}
	.profile-image {
	}
	@media screen and (max-width: 31.5em) {
		.profile-grid {
			padding: 0px 0px 0px 0px;
		}
		.profile-grid li {
			width: 100%;
			min-width: 30px;
		}
	}
	.input-crop {
		width: 80px;
		background-color: #fff;	
	}
	span.label-dialog-figcaption {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #fff;
	}
	span.label-dialog-figcaption:hover {
		text-decoration: underline;
		cursor: pointer;			
	}		
	span.label-dialog {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #888;
	}
	span.label-dialog:hover {
		text-decoration: underline;
		cursor: pointer;			
	}
	.btn-figcaption {
		border: none;	
		font-family:Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: #fff;
	}
	.btn-figcaption:hover {
		cursor: pointer;
		text-decoration: underline;
	}
