	
	
	@font-face {
		font-family: KlavikaExtraLight;
		src: url('../fonts/KlavikaWebDisplayExtraLight.eot');
		src: url('../fonts/KlavikaWebDisplayExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/KlavikaWebDisplayExtraLight.woff') format('woff');
	}
	@font-face {
		font-family: KlavikaLight;
		src: url('../fonts/KlavikaWebBasicLight.eot');
		src: url('../fonts/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('../fonts/KlavikaWebBasicLight.woff') format('woff');
	}
	@font-face {
		font-family: KlavikaRegular;
		src: url('../fonts/KlavikaWebBasicRegular.eot');
		src: url('../fonts/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/KlavikaWebBasicRegular.woff') format('woff');
	}		
	@font-face {
		font-family: KlavikaMedium;
		src: url('../fonts/KlavikaWebBasicMedium.eot');
		src: url('../fonts/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/KlavikaWebBasicMedium.woff') format('woff');
	}
	@font-face {
		font-family: KlavikaBold;
		src: url('../fonts/KlavikaWebBasicBold.eot');
		src: url('../fonts/KlavikaWebBasicBold.eot?#iefix') format('embedded-opentype'), url('../fonts/KlavikaWebBasicBold.woff') format('woff');
	}
	@font-face {
		font-family: KlavikaBlack;
		src: url('../fonts/KlavikaWebDisplayBlack.eot');
		src: url('../fonts/KlavikaWebDisplayBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/KlavikaWebDisplayBlack.woff') format('woff');
	}

	@font-face {
	  font-family: 'NotethisRegular';
	  /*src: url('http://designlovr.com/examples/css3-buttons/fonts/Note_this.eot');
	  src: local('Note this Regular'), local('Notethis'), url('http://designlovr.com/examples/css3-buttons/fonts/Note_this.ttf') format('truetype');*/
	 	  
	  src: url('../fonts/Note_this.eot');
	  src: local('Note this Regular'), local('Notethis'), url('../fonts/Note_this.ttf') format('truetype');
	  
	}
	
	@font-face {
	  	font-family: 'bytes';
	  	src: url('../fonts/bytes.ttf') format('truetype');
	  
	  	/*font-weight: normal;
	  	font-style: normal;*/	  
	}
	
	@font-face {
	  	font-family: 'BNEfG';
	  	src: url('../fonts/BNEfG98.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'BNEG';
	  	src: url('../fonts/BNEG98.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'BNEnG';
	  	src: url('../fonts/BNEnG98.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'BNEoG';
	  	src: url('../fonts/BNEoG98.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'copyviol';
	  	src: url('../fonts/Copyviol.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'copyvlN';
	  	src: url('../fonts/CopyvlN.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'crackdr2';
	  	src: url('../fonts/crackdr2.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'crkdownr';
	  	src: url('../fonts/crkdownr.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'crkdwno1';
	  	src: url('../fonts/crkdwno1.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'crkdwno2';
	  	src: url('../fonts/BNEfG98.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'forgotbi';
	  	src: url('../fonts/Forgotbi.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'forgottb';
	  	src: url('../fonts/Forgottb.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'forgotte';
	  	src: url('../fonts/Forgotte.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'forgotti';
	  	src: url('../fonts/Forgotti.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'forgotts';
	  	src: url('../fonts/Forgotts.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'ffs';
	  	src: url('../fonts/ForgottenFuturistShadow.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'excelsiorcomics';
	  	src: url('../fonts/excelsiorcomics.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'exelsiorcomics3d';
	  	src: url('../fonts/exelsiorcomics3d.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'exelsiorcomics3dital';
	  	src: url('../fonts/exelsiorcomics3dital.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'exelsiorcomicscond';
	  	src: url('../fonts/exelsiorcomicscond.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'exelsiorcomicscondital';
	  	src: url('../fonts/exelsiorcomicscondital.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'excelsiorcomicsexpand';
	  	src: url('../fonts/excelsiorcomicsexpand.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'excelsiorcomicsexpandital';
	  	src: url('../fonts/excelsiorcomicsexpandital.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'excelsiorcomicsital';
	  	src: url('../fonts/excelsiorcomicsital.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'excelsiorcomicsleft';
	  	src: url('../fonts/excelsiorcomicsleft.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'AsSeenOnTV';
	  	src: url('../fonts/AsSeenOnTV.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'AsseenonTVSkew';
	  	src: url('../fonts/AsseenonTVSkew.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'JuneBug';
	  	src: url('../fonts/JuneBug.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'Vollkorn-Italic';
	  	src: url('../fonts/Vollkorn-Italic.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'JandaCheerfulScript';
	  	src: url('../fonts/JandaCheerfulScript.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'second-breakfast';
	  	src: url('../fonts/second-breakfast.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'msyh';
	  	src: url('../fonts/msyh.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'msyhb';
	  	src: url('../fonts/msyhb.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'msyhb';
	  	src: url('../fonts/msyhb.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'QuattrocentoSans-Regular';
	  	src: url('../fonts/QuattrocentoSans-Regular.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'QuattrocentoSans-Italic';
	  	src: url('../fonts/QuattrocentoSans-Italic.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'QuattrocentoSans-Bold';
	  	src: url('../fonts/QuattrocentoSans-Bold.ttf') format('truetype');
	}

	@font-face {
	  	font-family: 'QuattrocentoSans-BoldItalic';
	  	src: url('../fonts/QuattrocentoSans-BoldItalic.ttf') format('truetype');
	}

	/* fonts */

	.headline-excelsiorcomics {
		font-size: 36px;
		color: #000;
		font-family: excelsiorcomics;
		margin-top: 18px;
		margin-left: 4px;
		padding-bottom: 4px;
		position: relative;	
	}	

	.headline-JandaCheerfulScript {
		font-size: 36px;
		color: #000;
		font-family: JandaCheerfulScript;
		margin-top: 18px;
		margin-left: 4px;
		padding-bottom: 4px;
		position: relative;	
	}	

	.headline-junebug {
		font-size: 26px;
		color: #000;
		font-family: JuneBug;
		margin-top: 30px;
		margin-left: 0px;
		padding-bottom: 4px;
		position: relative;	
	}	

	.headline-second-breakfast {
		font-size: 16px;
		color: #000;
		font-family: second-breakfast;
		margin-top: 10px;
		margin-left: 10px;
		position: relative;	
	}	

	.headline-junebug-red {
	}	
	.headline-junebug-gold {
	}
	.headline-junebug-blue {
	}
	.headline-junebug:hover {
		text-decoration: underline;
		color: #989A9C;
	}			
	.headline-junebug .red:hover {
		color: #9C2426;
	}		
	.headline-junebug .gold:hover {
		color: #B8A727;
	}
	.headline-junebug .blue:hover {
		color: #3F27B8;
	}



	.boxtemp-red {
		border-style: solid;
		border-width: 1px;
		border-color:red;	
	}
	.boxtemp-black {
		border-style: solid;
		border-width: 1px;
		border-color:black;	
	}
	.boxtemp-green {
		border-style: solid;
		border-width: 1px;
		border-color:green;	
	}
	.boxtemp-blue {
		border-style: solid;
		border-width: 1px;
		border-color:blue;	
	}
	.boxtemp-red-d {
		border-style: solid;
		border-width: 2px;
		border-color:red;	
	}
	.boxtemp-black-d {
		border-style: solid;
		border-width: 2px;
		border-color:black;	
	}
	.boxtemp-green-d {
		border-style: solid;
		border-width: 2px;
		border-color:green;	
	}
	.boxtemp-blue-d {
		border-style: solid;
		border-width: 2px;
		border-color:blue;	
	}





	/* --body--*/

	body {
		background-color: #fff;
		/*background-color: #F1F2E1;		*/		

		position: relative;
		/*margin-right: auto;
		margin-left:auto;*/		
	}

	/* -- h1 h2 h3 h4 h5 -- */
	
	h1 {
	    font-size:30px;
	    font-family: Arial;
	}
	h2 {
	    font-size:24px;
	    font-family: Arial;		    
	}
	h3 {
	    font-size:18px;
	    font-family: Arial;		    
	}
	h4 {
	    font-size:14px;
	    font-family: Arial;		    
	}
	h5 {
	    font-size:10px;
		line-height:10%;	
	    font-family: Arial;				    
	}

	/* -- p -- */
		
	p {
	    font-size:10px;
	    font-family: Arial;		    
	    padding-left: 6px;
	}
		

	/* -- div layouts -- */

	div #edmatchuplogo {
		/*background-color: white;
		padding: 10px 10px 10px 30px;		
		margin: 10px;*/		
		
		align: top;
		float: right;
	}

	div .shadow {
		box-shadow: 1px 1px 10px #888888;
	}

	div .shadow-inset {
		box-shadow: 1px 1px 10px #000000 inset;
	}

	div .content {
		background-color: white;
		/*width: auto;*/
	}



	/*div .klyde {
		width: 1000px;
		margin-right: auto;
		margin-left: auto;
		background-color: #F1F2E1;
	}*/	
	
	
	div .space-10 {
		height: 10px;
	}
	
	div .space-20 {
		height: 20px;
	}

	div .space-30 {
		height: 30px;
	}

	div .space-40 {
		height: 40px;
	}

	div .space-50 {
		height: 50px;
	}

	div .space-60 {
		height: 60px;
	}

	div .space-70 {
		height: 70px;
	}

	div .space-80 {
		height: 80px;
	}

	div .space-90 {
		height: 90px;
	}
	
	div .space-100 {
		height: 100px;
	}

	div .space-150 {
		height: 150px;
	}

	div .space-200 {
		height: 200px;
	}

	/* -- table -- */

	div .table-main {
		display: table;
		background-color: white;
		width: 100%;
	}

	div .table-yellow-edmatchup {
		display: table;
		background-color: yellow;
		width: auto;
		border-radius: 20px;
		border:2px solid #254520;
		box-shadow: 1px 1px 10px #888888;
		margin-left: 38px;
	}

	div .table-white-edmatchup {
		display: table;
		background-color: #fff;
		width: auto;
	}

	div .table-yellow {
		display: table;
		background-color: yellow;
		width: auto;
	}

	div .table-gray {
		display: table;
		background-color: #ACC2B0;
		width: 100%;
	}

	div .table-white {
		display: table;
		background-color: #fff;
		width: 100%;
	}

	div .table {
		display: table;
		/*width: 610px;*/
	}

	div .cell {
		display: table-cell;
		verticle-align: top;
	}

	div .row {
		display: table-row;
		align: top;
	}

	div .cell-1000 {
		display: table-cell;
		width: 1000px;
		vertical-align: top;		
	}
	div .cell-950 {
		display: table-cell;
		width: 950px;
		vertical-align: top;		
	}
	div .cell-900 {
		display: table-cell;
		width: 900px;
		vertical-align: top;		
	}

	div .cell-800 {
		display: table-cell;
		width: 800px;
		vertical-align: top;		
	}

	div .cell-750 {
		display: table-cell;
		width: 750px;
		vertical-align: top;		
	}

	div .cell-700 {
		display: table-cell;
		width: 700px;
		vertical-align: top;		
	}

	div .cell-680 {
		display: table-cell;
		width: 680px;
		vertical-align: top;		
	}

	div .cell-680 {
		display: table-cell;
		width: 680px;
		vertical-align: top;		
	}

	div .cell-675 {
		display: table-cell;
		width: 675px;
		vertical-align: top;		
	}

	div .cell-670 {
		display: table-cell;
		width: 670px;
		vertical-align: top;		
	}

	div .cell-665 {
		display: table-cell;
		width: 665px;
		vertical-align: top;		
	}

	div .cell-660 {
		display: table-cell;
		width: 660px;
		vertical-align: top;		
	}

	div .cell-655 {
		display: table-cell;
		width: 655px;
		vertical-align: top;		
	}

	div .cell-650 {
		display: table-cell;
		width: 650px;
		vertical-align: top;		
	}

	div .cell-630 {
		display: table-cell;
		width: 630px;
		vertical-align: top;		
	}

	div .cell-625 {
		display: table-cell;
		width: 625px;
		vertical-align: top;		
	}

	div .cell-600 {
		display: table-cell;
		width: 600px;
		vertical-align: top;		
	}

	div .cell-560 {
		display: table-cell;
		width: 560px;
		vertical-align: top;		
	}

	div .cell-550 {
		display: table-cell;
		width: 550px;
		vertical-align: top;		
	}

	div .cell-500 {
		display: table-cell;
		width: 500px;
		vertical-align: top;		
	}

	div .cell-480 {
		display: table-cell;
		width: 480px;
		vertical-align: top;		
	}

	div .cell-475 {
		display: table-cell;
		width: 475px;
		vertical-align: top;		
	}

	div .cell-470 {
		display: table-cell;
		width: 470px;
		vertical-align: top;		
	}

	div .cell-460 {
		display: table-cell;
		width: 460px;
		vertical-align: top;		
	}

	div .cell-450 {
		display: table-cell;
		width: 450px;
		vertical-align: top;		
	}

	div .cell-440 {
		display: table-cell;
		width: 440px;
		vertical-align: top;		
	}

	div .cell-430 {
		display: table-cell;
		width: 430px;
		vertical-align: top;		
	}

	div .cell-425 {
		display: table-cell;
		width: 425px;
		vertical-align: top;		
	}

	div .cell-415 {
		display: table-cell;
		width: 415px;
		vertical-align: top;		
	}

	div .cell-400 {
		display: table-cell;
		width: 400px;
		vertical-align: top;		
	}

	div .cell-390 {
		display: table-cell;
		width: 390px;
		vertical-align: top;		
	}

	div .cell-375 {
		display: table-cell;
		width: 375px;
		vertical-align: top;		
	}

	div .cell-370 {
		display: table-cell;
		width: 370px;
		vertical-align: top;		
	}

	div .cell-360 {
		display: table-cell;
		width: 360px;
		vertical-align: top;		
	}

	div .cell-350 {
		display: table-cell;
		width: 350px;
		vertical-align: top;		
	}

	div .cell-335 {
		display: table-cell;
		width: 335px;
	}

	div .cell-330 {
		display: table-cell;
		width: 330px;
	}

	div .cell-325 {
		display: table-cell;
		width: 325px;
	}

	div .cell-310 {
		display: table-cell;
		width: 310px;
	}

	div .cell-300 {
		display: table-cell;
		width: 300px;
	}

	div .cell-280 {
		display: table-cell;
		width: 280px;
	}

	div .cell-275 {
		display: table-cell;
		width: 275px;
		vertical-align: top;		
	}

	div .cell-265 {
		display: table-cell;
		width: 265px;
		vertical-align: top;		
	}

	div .cell-255 {
		display: table-cell;
		width: 255px;
		vertical-align: top;		
	}

	div .cell-250 {
		display: table-cell;
		width: 250px;
		vertical-align: top;		
	}

	div .cell-230 {
		display: table-cell;
		width: 230px;
		vertical-align: top;		
	}

	div .cell-225 {
		display: table-cell;
		width: 225px;
		vertical-align: top;		
	}

	div .cell-210 {
		display: table-cell;
		width: 210px;
		vertical-align: top;		
	}

	div .cell-200 {
		display: table-cell;
		width: 200px;
		vertical-align: top;		
	}

	div .cell-195 {
		display: table-cell;
		width: 195px;
		vertical-align: top;		
	}
	
	div .cell-175 {
		display: table-cell;
		width: 175px;
		vertical-align: top;		
	}

	div .cell-150 {
		display: table-cell;
		width: 150px;
		vertical-align: top;		
	}

	div .cell-125 {
		display: table-cell;
		width: 125px;
		vertical-align: top;		
	}

	div .cell-120 {
		display: table-cell;
		width: 120px;
		vertical-align: top;		
	}

	div .cell-100 {
		display: table-cell;
		width: 100px;
		vertical-align: top;
	}

	div .cell-80 {
		display: table-cell;
		width: 80px;
		vertical-align: top;		
	}

	div .cell-75 {
		display: table-cell;
		width: 75px;
		vertical-align: top;		
	}

	div .cell-60 {
		display: table-cell;
		width: 60px;
		vertical-align: top;		
	}

	div .cell-50 {
		display: table-cell;
		width: 50px;
		vertical-align: top;		
	}

	div .cell-40 {
		display: table-cell;
		width: 40px;
		vertical-align: top;		
	}

	div .cell-30 {
		display: table-cell;
		width: 30px;
		vertical-align: top;		
	}

	div .cell-28 {
		display: table-cell;
		width: 28px;
		vertical-align: top;		
	}

	div .cell-25 {
		display: table-cell;
		width: 25px;
		vertical-align: top;		
	}

	div .cell-20 {
		display: table-cell;
		width: 20px;
		vertical-align: top;		
	}

	div .cell-10 {
		display: table-cell;
		width: 10px;
		vertical-align: top;		
	}

	div .cell-100percent {
		display: table-cell;
		width: 100%;
		vertical-align: top;		
	}

	div .cell-100auto {
		display: table-cell;
		width: auto;
		vertical-align: top;		
	}

	div .cell-right-signin {
		display: table-cell;
		width: 50%;
		text-align: left;
		align: top;		
	}

	div .cell-left-signin {
		display: table-cell;
		width: 30%;	
		align: top;
		text-align: right;		
		padding-right: 20px;
	}
	
	div .cell-submit-signin {
		display: table-cell;
		width: 50%;
		text-align: left;
		align: top;		
		padding-left: 0px;
	}



#container { /* delete */
	position: relative;
	margin: 0 auto;
	clear: both;
	width: 970px;
}


.container-home {
	position: relative;
	margin: 0 auto;
	clear: both;
	width: 970px;
	background-color: white;	
	/*height: 1500px;*/	
	
}



