
		/*
		Learning Counsel colors: (in RGB)
		Main bright green:  65/183/55		#41B737
		Med dark green: 55/99/58			#37633A
		Light gray: 166/166/166				#A6A6A6
		Blue: 31/124/130					#1F7C82
		Orange: 251/176/64					#FBB040
		
		Blue-darker:#1B666B
		Blue-lighter:#2899A1		
		Blue-dark:#185C61
		Blue-light:#3DC8D1
		
		If you want to use the colors in the poster headers, they are gradients as follows:
		Curriculum Resources:  Main bright green to black			#41B737
		Teacher Tools:  Learning Counsel blue (above) to black		#1F7C82
		School Operations:   236/0/140  to black					#EC008C
		Content 229/171/74 to 70/22/35								#461623		#E7AC4A
		Professional Learning: 0/174/239 to black					#00AEEF
	
		#3B39B7 blue
		#B737AD bright violet-red
		#6813B7 deep purple
		#B75900 bright pumpkin
		#07B7B7 light blue
		
		#D98D2D	knowstory logo orange
		#96C785 knowstory logo green dark 
		#A9D996 knowstory logo green light
		#214025 footer green
		background-color: rgba( 65, 183, 55, 0.92); nav green
		background-color: #41B737;	nav green		
		
		lgreen: #c0e7bd;
		ksgreen: #49853f;
		dgreen: #376340;
		midgreen: #8eb388;
		
		*/ 

 		
		*, *:after, *:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.clearfix:before, .clearfix:after { content: " "; display: table; }
		.clearfix:after { clear: both; }
		a {
			color: #888;
			text-decoration: none;
		}
		a:hover,
		a:active {
			color: #333;
		}
		.figure-product-logo {		
		}
		.figure-product-logo:hover {
			cursor: pointer;		
		}
		.figure-product-logo-listing {		
		}
		.figure-product-logo-listing:hover {
			cursor: pointer;		
		}
		.profile-figure {		
		}
		.profile-figure:hover {
			cursor: pointer;		
		}
		.profile-figure-generic {		
		}
		.profile-figure-generic:hover {
			cursor: pointer;		
		}
		.profile-figure-list {		
		}
		.profile-figure-list:hover {
			cursor: pointer;		
		}
		.profile-grid {
			padding: 0px 0px 0px 0px;
			/*max-width: 1300px;*/
			margin: 0 auto;
			list-style: none;
			/*text-align: center;*/
		}
		.profile-grid-250 li {
			width: 250px;
		}
		.profile-grid-100 li {
			width: 100px;
		}
		.profile-grid li {
			display: inline-block;
			/*width: 250px;*/
			/*height: 300px;*/
			/*margin: 0;*/
			padding: 0px 0px 0px 0px;
			position: relative;
			text-align: center;
		}
		.profile-grid figure {
			margin: 0;
			position: relative;
			/*height: 300px;*/
			/*padding-left: 6px;*/
			padding-top: 0px;	
			background-color: #fff;
		}
		.profile-grid figure img {
			max-width: 100%;
			display: block;
			position: relative;
		}
		/*.profile-grid figcaption h3 {
			margin: 0;
			padding: 0;
			color: #fff;
		}*/
		/*.profile-grid figcaption span:before {
			content: '';
		}*/
		.profile-grid figcaption {
			text-align: right;
		}
		.profile-grid figcaption span a {
			text-align: right;
			/*padding: 5px 10px;*/
			/*border-radius: 2px;*/
			/*display: inline-block;*/
			/*background: #ed4e6e;*/
			color: #fff;
			font-family: 'Quattrocento Sans', sans-serif;
		    font-size: 14px;
			font-weight: 400;					  	
		}
		span a {
			text-align: right;
			color: #888;
			font-family: 'Quattrocento Sans', sans-serif;
		    font-size: 14px;
			font-weight: 400;					  	
		}
		.profile-cs-style-3 li {
			/*clear:both;
			float: right;
			margin-right: 10px;*/
			border: 2px solid #CCC;
		}
		.profile-cs-style-3 figure {
			/*border: solid 1px #000;*/
			overflow: hidden;
		}
		.profile-cs-style-3 figure img {
			-webkit-transition: -webkit-transform 0.2s;
			-moz-transition: -moz-transform 0.2s;
			transition: transform 0.2s;
		}
		.no-touch .profile-cs-style-3 figure:hover img,
		.profile-cs-style-3 figure.cs-hover img {
			/*-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);*/
			
			/*-webkit-transform: translateY(-6px);
			-moz-transform: translateY(-6px);
			-ms-transform: translateY(-6px);
			transform: translateY(-6px);*/
		}
		/*.profile-grid figcaption.figcaption-1 {
			position: absolute;
			top: 0;
			left: 0;
			text-align: center;
			background: #000;
			color: #ed4e6e;
		}*/
		/*.profile-cs-style-3 figcaption.figcaption-1 {*/
		.profile-grid figcaption.figcaption-1 {			
			position: absolute;
			top: auto;
			left: 0;
			text-align: center;
			background: #000;
			color: #ed4e6e;
			height: 30px;
			width: 100%;
			bottom: 0;
			opacity: 0;
			-webkit-transform: translateY(100%);
			-moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			transform: translateY(100%);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
			transition: transform 0.4s, opacity 0.1s 0.3s;
			padding-top: 4px;
		}
		.no-touch .profile-cs-style-3 figure:hover figcaption.figcaption-1,
		.profile-cs-style-3 figure.cs-hover figcaption.figcaption-1 {
			opacity: .8;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s;
			transition: transform 0.4s, opacity 0.1s;
		}
		.profile-grid figure img {
			border: 2px solid #CCC;
			margin: 0;
		}
		.profile-grid figcaption.figcaption-2 {
			position: absolute;
			top: 3px;
			right: 2px;
			padding: 1px;
			/*background: #2c3f52;*/
			background: #000;
			color: #ed4e6e;
		}
		.profile-cs-style-3 figcaption.figcaption-2 {
			height: 15px;
			width: 14px;
			top: 3px;
			opacity: 0;
			background: #000;
			border-radius: 2px;
			/*background: url("/assets/x_close_white_w8_h8.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
			/*background: #000 url("/assets/x_close_white_w8_h8.png") no-repeat 3px 3px;*/
			/*-webkit-transform: translateY(100%);
			-moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			transform: translateY(100%);*/
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
			transition: transform 0.4s, opacity 0.1s 0.3s;
		}
		/*.profile-cs-style-3 figcaption.figcaption-2 div.x-container {
			background: url("/assets/x_close_white_w8_h8.png") no-repeat;
		}*/
		.x-container {
			height: 15px;
			width: 14px;
			border: none;
			background: url("/assets/x_close_white_w8_h8.png") no-repeat 2px 2px;
		}
		.x-container:hover {
			height: 15px;
			width: 14px;
			border: none;
			background: url("/assets/x_close_white_hover_w8_h8.png") no-repeat 2px 2px;
		}

		.no-touch .profile-cs-style-3 figure:hover figcaption.figcaption-2,
		.profile-cs-style-3 figure.cs-hover figcaption.figcaption-2 {
			cursor: pointer;
			/*opacity: .6;*/
			opacity: 1;
			/*-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);*/
			/*-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s;
			transition: transform 0.4s, opacity 0.1s;*/
			-webkit-transition: -webkit-transform 0.4s;
			-moz-transition: -moz-transform 0.4s;
			transition: transform 0.4s;

		}
		.profile-image {
			/*border: 2px solid #CCC;*/
		}


		/*.delete-image {
			
		}
		.delete-image:hover {
		    background: url("/assets/x_close_white_w8_h8.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		    height: 8px;
		    width: 8px;
		    cursor: pointer;
		    opacity: 0.5;
		    transition: opacity 100ms linear 0s;
		}*/

		/*.figcaption-delete-btn figcaption {
			height: 50px;
			width: 50px;
			right: 10px;
			top: -10px;
			opacity: 0;
			-webkit-transform: translateY(100%);
			-moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			transform: translateY(100%);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
			transition: transform 0.4s, opacity 0.1s 0.3s;
		}
		.no-touch .profile-cs-style-3 figure:hover figcaption,
		.figcaption-delete-btn figure.cs-hover figcaption {
			opacity: .8;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s;
			transition: transform 0.4s, opacity 0.1s;
		}*/

		/*.profile-cs-style-3 figcaption a {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}*/
		@media screen and (max-width: 31.5em) {
			.profile-grid {
				padding: 0px 0px 0px 0px;
			}
			.profile-grid li {
				width: 100%;
				min-width: 30px;
			}
		}
 		







/*
		.jqmWindow-1 {
		    display: none;
		    position: fixed;
		    left: 50%;
		    margin-left: -350px;
		    width: 700px;
			height: 400px;		    
		    background-color: #EEE;
		    color: #333;
		    border: 1px solid black;
		    padding: 0px;
		}		
		.jqmWindow-2 {
		    display: none;
		    position: fixed;
		    left: 50%;
		    margin-left: -350px;
		    width: 900px;
			height: 660px;		    
		    background-color: #EEE;
		    color: #333;
		    border: 1px solid black;
		    padding: 0px;
		}		
		.jqmWindow-3 {
		    display: none;
		    position: fixed;
		    left: 50%;
		    margin-left: -350px;
		    width: 700px;
			height: 400px;		    
		    background-color: #EEE;
		    color: #333;
		    border: 1px solid black;
		    padding: 0px;
		}		
		.jqmWindow-4 {
		    display: none;
		    position: fixed;
		    left: 50%;
		    margin-left: -350px;
		    width: 700px;
			height: 700px;		    
		    background-color: #EEE;
		    color: #333;
		    border: 1px solid black;
		    padding: 0px;
		}		
		.jqmWindow-5 {
		    display: none;
		    position: fixed;
		    left: 50%;
		    margin-left: -350px;
		    width: 700px;
			height: 700px;		    
		    background-color: #EEE;
		    color: #333;
		    border: 1px solid black;
		    padding: 0px;
		}		
		.jqmOverlay { background-color: #000; }
		* html .jqmWindow {
		     position: absolute;
		     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
		}		
*/
		
		.input-crop {
			width: 80px;
			background-color: #fff;	
		}
		

		span.label-dialog-figcaption {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #fff;
		}
		span.label-dialog-figcaption:hover {
			text-decoration: underline;
			cursor: pointer;			
		}		
		span.label-dialog {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #888;
		}
		span.label-dialog:hover {
			text-decoration: underline;
			cursor: pointer;			
		}
		



		.btn-figcaption {
			/*width: 500px;*/
			/*height: 24px;*/
			/*background-color: #888;*/
			border: none;	
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			font-weight: 400;
			color: #fff;
		}
		.btn-figcaption:hover {
			cursor: pointer;
			text-decoration: underline;
		}




