.nav-publisher-user-register {
	width: 100%;
	height: 32px;
	background-color: #bbb;	
	margin: 0;
}
.nav-publisher-user-register .nav-publisher-user-register-inner {
	width: 1200px;
	height: 32px;
	background-color: #c9c9c9;
	margin: 0 auto;
}
.nav-publisher-user-register ul.ul-1 {
	position: relative;
	width: 800px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.nav-publisher-user-register ul li.li-1 {
	position: relative;
	/*float: left;*/
	padding: 0;
	width: 180px;
	margin-left: 0px;
	text-align: center;
	/*border-left: 1px solid transparent;*/
	/*border-right: 1px solid transparent;*/
}
.nav-publisher-user-register-list {
	width: 1110px;
	margin: 0 auto;
}
.nav-publisher-user-register-item-1 {
	display: inline-block;
	width: 180px;
}
.nav-publisher-user-register .drop-hidden {
  display: none !important;
    visibility: hidden !important;  
}
.nav-publisher-user-register .span-arrow-right {
  width: 10%;
    color: #376340; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700; 
  text-align: right;  
}
.nav-publisher-user-register .drop-clear-both {
  clear: both;
}

.nav-publisher-user-register .drop-11 {
	width: 180px;
}
.nav-publisher-user-register .drop-11 .drop-11-triangle {
  	width: 0px;
  	height: 0px;
  	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 8px solid #fff;
  	position: relative;
  	left: 3px;
  	float: left;
}
.nav-publisher-user-register .drop-11 .drop-11-box {
  	width: 180px;
  	float: left;
  	position: relative;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.nav-publisher-user-register .drop-11 .drop-11-container-links {
}
.nav-publisher-user-register .drop-11 .margin-top-hide-1 {
	margin-top: -16px;
}
.nav-publisher-user-register .drop-11 .margin-top-show-1 {
	margin-top: -6px;
}
.nav-publisher-user-register .drop-11 .drop-11-link-1 {
	width: 100%;
}
.nav-publisher-user-register .drop-11 .drop-11-target {
	position: relative;
  	width: 180px;
  	height: 19px;
  	padding: 9px 0px 4px 0px;
  	text-align: center;
}
.nav-publisher-user-register .drop-11 .drop-11-target:hover {
  	background: #f6f6f6;
}
.nav-publisher-user-register .drop-11 .drop-11-link-1:hover .span-1 {
}   
.nav-publisher-user-register .drop-11 .drop-11-target:focus {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-11 .drop-11-link-1:focus .span-1 {
}   
.nav-publisher-user-register .drop-11 .drop-11-target:active {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-11 .drop-11-link-1:active .span-1 {
}   
.nav-publisher-user-register .drop-11 .drop-11-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.nav-publisher-user-register .drop-11 a.drop-11-link-a-1 {
	text-decoration: none;
}
.nav-publisher-user-register .drop-11 a.drop-11-link-a-1:hover {
	text-decoration: none;
}
.nav-publisher-user-register .drop-11 .drop-11-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.nav-publisher-user-register .drop-11 .drop-11-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.nav-publisher-user-register .drop-11 .drop-11-divider-1 {
  	height: 2px;
}
.nav-publisher-user-register .drop-11 .drop-11-divider-2 {
  	height: 10px;
}
.nav-publisher-user-register .drop-11 .background-transparent {
  	background-color: transparent;
}
.nav-publisher-user-register .drop-11 .background-white {
  	background-color: #fff;
}
.nav-publisher-user-register .drop-11 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.nav-publisher-user-register .drop-11 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.nav-publisher-user-register .drop-11 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.nav-publisher-user-register .drop-11 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.nav-publisher-user-register .drop-11 .nav-drop-11:hover {
  	cursor: pointer;
}
.nav-publisher-user-register .drop-11 .nav-drop-11:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.nav-publisher-user-register .drop-11 .nav-drop-11:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-11 .nav-drop-11:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-11 .cursor-pointer:hover {
	cursor: pointer;
}
.nav-publisher-user-register .drop-11-target-icon {
	display: inline-block;
}	
.nav-publisher-user-register .drop-11-target-text {
	display: inline-block;
}	
.nav-publisher-user-register .drop-11 a:focus {
	outline: none;	
}
.nav-publisher-user-register .drop-11 a:active {
	outline: none;
}
.nav-publisher-user-register .drop-11 a:visited {
	outline: none;
}
.nav-publisher-user-register .drop-11-table {
	display: table;
}
.nav-publisher-user-register .drop-11-table-row {
	display: table-row;
}
.nav-publisher-user-register .drop-11-table-cell-1 {
	display: table-cell;
	width: 174px;
}
.nav-publisher-user-register .drop-11-table-cell-2 {
	display: table-cell;
	width: 12px;
}
	
.nav-publisher-user-register .drop-11-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
}
.nav-publisher-user-register .drop-11-1:hover {
  	background: #f6f6f6;
}
.nav-publisher-user-register .drop-11-1-target {
	position: relative;
}
.nav-publisher-user-register .drop-11-1 .drop-11-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
  	position: relative;
  	float: left;
  	left: -8px;
  	top: 33px;
}
.nav-publisher-user-register .drop-11-1 .drop-11-1-container {
  	position: relative;
}
.nav-publisher-user-register .drop-11-1 .drop-11-1-box {
  	width: 180px;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.nav-publisher-user-register .drop-11-1 .drop-11-1-container-links {
}
.nav-publisher-user-register .drop-11-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
}
.nav-publisher-user-register .drop-11-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
}
.nav-publisher-user-register .drop-11-1 .drop-11-1-link-1 {
  	width: 100%;
}
.nav-publisher-user-register .drop-11-1 .drop-11-1-link-1:hover {
  	background: #f6f6f6;
}
.nav-publisher-user-register .drop-11-1 .drop-11-1-link-1:hover .span-1 {
}   
.nav-publisher-user-register .drop-11-1 .drop-11-1-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.nav-publisher-user-register .drop-11-1 a.drop-11-1-link-a-1 {
	text-decoration: none;
}
.nav-publisher-user-register .drop-11-1 a.drop-11-1-link-a-1:hover {
	text-decoration: none;
}
.nav-publisher-user-register .drop-11-1 .drop-11-1-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.nav-publisher-user-register .drop-11-1 .drop-11-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.nav-publisher-user-register .drop-11-1 .drop-11-1-divider-1 {
  	height: 2px;
}
.nav-publisher-user-register .drop-11-1 .drop-11-1-divider-2 {
  	height: 10px;
}
.nav-publisher-user-register .drop-11-1 .background-transparent {
  	background-color: transparent;
}
.nav-publisher-user-register .drop-11-1 .background-white {
  	background-color: #fff;
}
.nav-publisher-user-register .drop-11-1 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.nav-publisher-user-register .drop-11-1 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.nav-publisher-user-register .drop-11-1 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.nav-publisher-user-register .drop-11-1 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.nav-publisher-user-register .drop-11-1 .nav-drop-11:hover {
  	cursor: pointer;
}
.nav-publisher-user-register .drop-11-1 .nav-drop-11:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.nav-publisher-user-register .drop-11-1 .nav-drop-11:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-11-1 .nav-drop-11:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-11-1 .cursor-pointer:hover {
	cursor: pointer;
}
.nav-publisher-user-register .drop-11-1-target-icon {
	display: inline-block;
}	
.nav-publisher-user-register .drop-11-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
}	

.nav-publisher-user-register .drop-12 {
	width: 180px;
}
.nav-publisher-user-register .drop-12 .drop-12-triangle {
  	width: 0px;
  	height: 0px;
  	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 8px solid #fff;
  	position: relative;
  	left: 3px;
  	float: left;
}
.nav-publisher-user-register .drop-12 .drop-12-box {
  	width: 180px;
  	float: left;
  	position: relative;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.nav-publisher-user-register .drop-12 .drop-12-container-links {
}
.nav-publisher-user-register .drop-12 .margin-top-hide-1 {
	margin-top: -16px;
}
.nav-publisher-user-register .drop-12 .margin-top-show-1 {
	margin-top: -6px;
}
.nav-publisher-user-register .drop-12 .drop-12-link-1 {
	width: 100%;
}
.nav-publisher-user-register .drop-12 .drop-12-target {
	position: relative;
  	width: 180px;
  	height: 19px;
  	padding: 9px 0px 4px 0px;
  	text-align: center;
}
.nav-publisher-user-register .drop-12 .drop-12-target:hover {
  	background: #f6f6f6;
}
.nav-publisher-user-register .drop-12 .drop-12-link-1:hover .span-1 {
}   
.nav-publisher-user-register .drop-12 .drop-12-target:focus {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-12 .drop-12-link-1:focus .span-1 {
}   
.nav-publisher-user-register .drop-12 .drop-12-target:active {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-12 .drop-12-link-1:active .span-1 {
}   
.nav-publisher-user-register .drop-12 .drop-12-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.nav-publisher-user-register .drop-12 a.drop-12-link-a-1 {
	text-decoration: none;
}
.nav-publisher-user-register .drop-12 a.drop-12-link-a-1:hover {
	text-decoration: none;
}
.nav-publisher-user-register .drop-12 .drop-12-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.nav-publisher-user-register .drop-12 .drop-12-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.nav-publisher-user-register .drop-12 .drop-12-divider-1 {
  	height: 2px;
}
.nav-publisher-user-register .drop-12 .drop-12-divider-2 {
  	height: 10px;
}
.nav-publisher-user-register .drop-12 .background-transparent {
  	background-color: transparent;
}
.nav-publisher-user-register .drop-12 .background-white {
  	background-color: #fff;
}
.nav-publisher-user-register .drop-12 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.nav-publisher-user-register .drop-12 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.nav-publisher-user-register .drop-12 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.nav-publisher-user-register .drop-12 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.nav-publisher-user-register .drop-12 .nav-drop-12:hover {
  	cursor: pointer;
}
.nav-publisher-user-register .drop-12 .nav-drop-12:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.nav-publisher-user-register .drop-12 .nav-drop-12:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-12 .nav-drop-12:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-12 .cursor-pointer:hover {
	cursor: pointer;
}
.nav-publisher-user-register .drop-12-target-icon {
	display: inline-block;
}	
.nav-publisher-user-register .drop-12-target-text {
	display: inline-block;
}	
.nav-publisher-user-register .drop-12 a:focus {
	outline: none;	
}
.nav-publisher-user-register .drop-12 a:active {
	outline: none;
}
.nav-publisher-user-register .drop-12 a:visited {
	outline: none;
}
.nav-publisher-user-register .drop-12-table {
	display: table;
}
.nav-publisher-user-register .drop-12-table-row {
	display: table-row;
}
.nav-publisher-user-register .drop-12-table-cell-1 {
	display: table-cell;
	width: 174px;
}
.nav-publisher-user-register .drop-12-table-cell-2 {
	display: table-cell;
	width: 12px;
}
	
.nav-publisher-user-register .drop-12-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
}
.nav-publisher-user-register .drop-12-1:hover {
  	background: #f6f6f6;
}
.nav-publisher-user-register .drop-12-1-target {
	position: relative;
}
.nav-publisher-user-register .drop-12-1 .drop-12-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
  	position: relative;
  	float: left;
  	left: -8px;
  	top: 33px;
}
.nav-publisher-user-register .drop-12-1 .drop-12-1-container {
  	position: relative;
}
.nav-publisher-user-register .drop-12-1 .drop-12-1-box {
  	width: 180px;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.nav-publisher-user-register .drop-12-1 .drop-12-1-container-links {
}
.nav-publisher-user-register .drop-12-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
}
.nav-publisher-user-register .drop-12-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
}
.nav-publisher-user-register .drop-12-1 .drop-12-1-link-1 {
  	width: 100%;
}
.nav-publisher-user-register .drop-12-1 .drop-12-1-link-1:hover {
  	background: #f6f6f6;
}
.nav-publisher-user-register .drop-12-1 .drop-12-1-link-1:hover .span-1 {
}   
.nav-publisher-user-register .drop-12-1 .drop-12-1-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.nav-publisher-user-register .drop-12-1 a.drop-12-1-link-a-1 {
	text-decoration: none;
}
.nav-publisher-user-register .drop-12-1 a.drop-12-1-link-a-1:hover {
	text-decoration: none;
}
.nav-publisher-user-register .drop-12-1 .drop-12-1-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.nav-publisher-user-register .drop-12-1 .drop-12-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.nav-publisher-user-register .drop-12-1 .drop-12-1-divider-1 {
  	height: 2px;
}
.nav-publisher-user-register .drop-12-1 .drop-12-1-divider-2 {
  	height: 10px;
}
.nav-publisher-user-register .drop-12-1 .background-transparent {
  	background-color: transparent;
}
.nav-publisher-user-register .drop-12-1 .background-white {
  	background-color: #fff;
}
.nav-publisher-user-register .drop-12-1 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.nav-publisher-user-register .drop-12-1 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.nav-publisher-user-register .drop-12-1 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.nav-publisher-user-register .drop-12-1 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.nav-publisher-user-register .drop-12-1 .nav-drop-12:hover {
  	cursor: pointer;
}
.nav-publisher-user-register .drop-12-1 .nav-drop-12:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.nav-publisher-user-register .drop-12-1 .nav-drop-12:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-12-1 .nav-drop-12:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-12-1 .cursor-pointer:hover {
	cursor: pointer;
}
.nav-publisher-user-register .drop-12-1-target-icon {
	display: inline-block;
}	
.nav-publisher-user-register .drop-12-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
}	

.nav-publisher-user-register .drop-13 {
	width: 180px;
}
.nav-publisher-user-register .drop-13 .drop-13-triangle {
  	width: 0px;
  	height: 0px;
  	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 8px solid #fff;
  	position: relative;
  	left: 3px;
  	float: left;
}
.nav-publisher-user-register .drop-13 .drop-13-box {
  	width: 180px;
  	float: left;
  	position: relative;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.nav-publisher-user-register .drop-13 .drop-13-container-links {
}
.nav-publisher-user-register .drop-13 .margin-top-hide-1 {
	margin-top: -16px;
}
.nav-publisher-user-register .drop-13 .margin-top-show-1 {
	margin-top: -6px;
}
.nav-publisher-user-register .drop-13 .drop-13-link-1 {
	width: 100%;
}
.nav-publisher-user-register .drop-13 .drop-13-target {
	position: relative;
  	width: 180px;
  	height: 19px;
  	padding: 9px 0px 4px 0px;
  	text-align: center;
}
.nav-publisher-user-register .drop-13 .drop-13-target:hover {
  	background: #f6f6f6;
}
.nav-publisher-user-register .drop-13 .drop-13-link-1:hover .span-1 {
}   
.nav-publisher-user-register .drop-13 .drop-13-target:focus {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-13 .drop-13-link-1:focus .span-1 {
}   
.nav-publisher-user-register .drop-13 .drop-13-target:active {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-13 .drop-13-link-1:active .span-1 {
}   
.nav-publisher-user-register .drop-13 .drop-13-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.nav-publisher-user-register .drop-13 a.drop-13-link-a-1 {
	text-decoration: none;
}
.nav-publisher-user-register .drop-13 a.drop-13-link-a-1:hover {
	text-decoration: none;
}
.nav-publisher-user-register .drop-13 .drop-13-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.nav-publisher-user-register .drop-13 .drop-13-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.nav-publisher-user-register .drop-13 .drop-13-divider-1 {
  	height: 2px;
}
.nav-publisher-user-register .drop-13 .drop-13-divider-2 {
  	height: 10px;
}
.nav-publisher-user-register .drop-13 .background-transparent {
  	background-color: transparent;
}
.nav-publisher-user-register .drop-13 .background-white {
  	background-color: #fff;
}
.nav-publisher-user-register .drop-13 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.nav-publisher-user-register .drop-13 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.nav-publisher-user-register .drop-13 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.nav-publisher-user-register .drop-13 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.nav-publisher-user-register .drop-13 .nav-drop-13:hover {
  	cursor: pointer;
}
.nav-publisher-user-register .drop-13 .nav-drop-13:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.nav-publisher-user-register .drop-13 .nav-drop-13:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-13 .nav-drop-13:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-13 .cursor-pointer:hover {
	cursor: pointer;
}
.nav-publisher-user-register .drop-13-target-icon {
	display: inline-block;
}	
.nav-publisher-user-register .drop-13-target-text {
	display: inline-block;
}	
.nav-publisher-user-register .drop-13 a:focus {
	outline: none;	
}
.nav-publisher-user-register .drop-13 a:active {
	outline: none;
}
.nav-publisher-user-register .drop-13 a:visited {
	outline: none;
}
.nav-publisher-user-register .drop-13-table {
	display: table;
}
.nav-publisher-user-register .drop-13-table-row {
	display: table-row;
}
.nav-publisher-user-register .drop-13-table-cell-1 {
	display: table-cell;
	width: 174px;
}
.nav-publisher-user-register .drop-13-table-cell-2 {
	display: table-cell;
	width: 12px;
}
	
.nav-publisher-user-register .drop-13-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
}
.nav-publisher-user-register .drop-13-1:hover {
  	background: #f6f6f6;
}
.nav-publisher-user-register .drop-13-1-target {
	position: relative;
}
.nav-publisher-user-register .drop-13-1 .drop-13-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
  	position: relative;
  	float: left;
  	left: -8px;
  	top: 33px;
}
.nav-publisher-user-register .drop-13-1 .drop-13-1-container {
  	position: relative;
}
.nav-publisher-user-register .drop-13-1 .drop-13-1-box {
  	width: 180px;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.nav-publisher-user-register .drop-13-1 .drop-13-1-container-links {
}
.nav-publisher-user-register .drop-13-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
}
.nav-publisher-user-register .drop-13-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
}
.nav-publisher-user-register .drop-13-1 .drop-13-1-link-1 {
  	width: 100%;
}
.nav-publisher-user-register .drop-13-1 .drop-13-1-link-1:hover {
  	background: #f6f6f6;
}
.nav-publisher-user-register .drop-13-1 .drop-13-1-link-1:hover .span-1 {
}   
.nav-publisher-user-register .drop-13-1 .drop-13-1-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.nav-publisher-user-register .drop-13-1 a.drop-13-1-link-a-1 {
	text-decoration: none;
}
.nav-publisher-user-register .drop-13-1 a.drop-13-1-link-a-1:hover {
	text-decoration: none;
}
.nav-publisher-user-register .drop-13-1 .drop-13-1-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.nav-publisher-user-register .drop-13-1 .drop-13-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.nav-publisher-user-register .drop-13-1 .drop-13-1-divider-1 {
  	height: 2px;
}
.nav-publisher-user-register .drop-13-1 .drop-13-1-divider-2 {
  	height: 10px;
}
.nav-publisher-user-register .drop-13-1 .background-transparent {
  	background-color: transparent;
}
.nav-publisher-user-register .drop-13-1 .background-white {
  	background-color: #fff;
}
.nav-publisher-user-register .drop-13-1 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.nav-publisher-user-register .drop-13-1 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.nav-publisher-user-register .drop-13-1 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.nav-publisher-user-register .drop-13-1 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.nav-publisher-user-register .drop-13-1 .nav-drop-13:hover {
  	cursor: pointer;
}
.nav-publisher-user-register .drop-13-1 .nav-drop-13:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.nav-publisher-user-register .drop-13-1 .nav-drop-13:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-13-1 .nav-drop-13:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-13-1 .cursor-pointer:hover {
	cursor: pointer;
}
.nav-publisher-user-register .drop-13-1-target-icon {
	display: inline-block;
}	
.nav-publisher-user-register .drop-13-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
}	

.nav-publisher-user-register .drop-14 {
  width: 180px;
}
.nav-publisher-user-register .drop-14 .drop-14-triangle {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: relative;
    left: 3px;
    float: left;
}
.nav-publisher-user-register .drop-14 .drop-14-box {
    width: 180px;
    float: left;
    position: relative;
    margin-top: 0px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    z-index: 1;
}
.nav-publisher-user-register .drop-14 .drop-14-container-links {
}
.nav-publisher-user-register .drop-14 .margin-top-hide-1 {
  margin-top: -16px;
}
.nav-publisher-user-register .drop-14 .margin-top-show-1 {
  margin-top: -6px;
}
.nav-publisher-user-register .drop-14 .drop-14-link-1 {
  width: 100%;
}
.nav-publisher-user-register .drop-14 .drop-14-target {
  position: relative;
    width: 180px;
    height: 19px;
    padding: 9px 0px 4px 0px;
    text-align: center;
}
.nav-publisher-user-register .drop-14 .drop-14-target:hover {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-14 .drop-14-link-1:hover .span-1 {
}   
.nav-publisher-user-register .drop-14 .drop-14-target:focus {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-14 .drop-14-link-1:focus .span-1 {
}   
.nav-publisher-user-register .drop-14 .drop-14-target:active {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-14 .drop-14-link-1:active .span-1 {
}   
.nav-publisher-user-register .drop-14 .drop-14-span-1 {
    color: #376340; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.nav-publisher-user-register .drop-14 a.drop-14-link-a-1 {
  text-decoration: none;
}
.nav-publisher-user-register .drop-14 a.drop-14-link-a-1:hover {
  text-decoration: none;
}
.nav-publisher-user-register .drop-14 .drop-14-border {
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;      

    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;     

    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;      

    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;     
}
.nav-publisher-user-register .drop-14 .drop-14-shadow {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.nav-publisher-user-register .drop-14 .drop-14-divider-1 {
    height: 2px;
}
.nav-publisher-user-register .drop-14 .drop-14-divider-2 {
    height: 10px;
}
.nav-publisher-user-register .drop-14 .background-transparent {
    background-color: transparent;
}
.nav-publisher-user-register .drop-14 .background-white {
    background-color: #fff;
}
.nav-publisher-user-register .drop-14 .nav-caret-container {
    width: 14px;
    height: 30px;
    padding: 0 0 0 2px;     
}
.nav-publisher-user-register .drop-14 .nav-caret {
    width: 0px;
    height: 0px;
    position: relative;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin: 16px 0 0 0px;
}
.nav-publisher-user-register .drop-14 .nav-caret-down {
    border-top: 5px solid #999;
    border-bottom: 0;     
}
.nav-publisher-user-register .drop-14 .nav-caret-up {
    border-bottom: 5px solid #999;
    border-top: 0;
}
.nav-publisher-user-register .drop-14 .nav-drop-14:hover {
    cursor: pointer;
}
.nav-publisher-user-register .drop-14 .nav-drop-14:hover .nav-avatar img {
    border: 2px solid #A9D996;
}
.nav-publisher-user-register .drop-14 .nav-drop-14:hover .nav-caret-down {
    border-top: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-14 .nav-drop-14:hover .nav-caret-up {
    border-bottom: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-14 .cursor-pointer:hover {
  cursor: pointer;
}
.nav-publisher-user-register .drop-14-target-icon {
  display: inline-block;
} 
.nav-publisher-user-register .drop-14-target-text {
  display: inline-block;
} 
.nav-publisher-user-register .drop-14 a:focus {
  outline: none;  
}
.nav-publisher-user-register .drop-14 a:active {
  outline: none;
}
.nav-publisher-user-register .drop-14 a:visited {
  outline: none;
}
.nav-publisher-user-register .drop-14-table {
  display: table;
}
.nav-publisher-user-register .drop-14-table-row {
  display: table-row;
}
.nav-publisher-user-register .drop-14-table-cell-1 {
  display: table-cell;
  width: 174px;
}
.nav-publisher-user-register .drop-14-table-cell-2 {
  display: table-cell;
  width: 12px;
}
  
.nav-publisher-user-register .drop-14-1 {
  text-align: left;
  width: auto;
  height: 24px;
  padding: 4px;
}
.nav-publisher-user-register .drop-14-1:hover {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-14-1-target {
  position: relative;
}
.nav-publisher-user-register .drop-14-1 .drop-14-1-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #ffffff transparent transparent;  
    position: relative;
    float: left;
    left: -8px;
    top: 33px;
}
.nav-publisher-user-register .drop-14-1 .drop-14-1-container {
    position: relative;
}
.nav-publisher-user-register .drop-14-1 .drop-14-1-box {
    width: 180px;
    position: absolute;
    margin-top: 0px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    z-index: 1;
}
.nav-publisher-user-register .drop-14-1 .drop-14-1-container-links {
}
.nav-publisher-user-register .drop-14-1 .margin-top-hide-1-1 {
  margin-top: -53px;
  margin-left: 160px;
}
.nav-publisher-user-register .drop-14-1 .margin-top-show-1-1 {
  margin-top: -53px;
  margin-left: 180px;
}
.nav-publisher-user-register .drop-14-1 .drop-14-1-link-1 {
    width: 100%;
}
.nav-publisher-user-register .drop-14-1 .drop-14-1-link-1:hover {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-14-1 .drop-14-1-link-1:hover .span-1 {
}   
.nav-publisher-user-register .drop-14-1 .drop-14-1-span-1 {
    color: #376340; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.nav-publisher-user-register .drop-14-1 a.drop-14-1-link-a-1 {
  text-decoration: none;
}
.nav-publisher-user-register .drop-14-1 a.drop-14-1-link-a-1:hover {
  text-decoration: none;
}
.nav-publisher-user-register .drop-14-1 .drop-14-1-border {
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;      

    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;     

    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;      

    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;     
}
.nav-publisher-user-register .drop-14-1 .drop-14-1-shadow {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.nav-publisher-user-register .drop-14-1 .drop-14-1-divider-1 {
    height: 2px;
}
.nav-publisher-user-register .drop-14-1 .drop-14-1-divider-2 {
    height: 10px;
}
.nav-publisher-user-register .drop-14-1 .background-transparent {
    background-color: transparent;
}
.nav-publisher-user-register .drop-14-1 .background-white {
    background-color: #fff;
}
.nav-publisher-user-register .drop-14-1 .nav-caret-container {
    width: 14px;
    height: 30px;
    padding: 0 0 0 2px;     
}
.nav-publisher-user-register .drop-14-1 .nav-caret {
    width: 0px;
    height: 0px;
    position: relative;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin: 16px 0 0 0px;
}
.nav-publisher-user-register .drop-14-1 .nav-caret-down {
    border-top: 5px solid #999;
    border-bottom: 0;     
}
.nav-publisher-user-register .drop-14-1 .nav-caret-up {
    border-bottom: 5px solid #999;
    border-top: 0;
}
.nav-publisher-user-register .drop-14-1 .nav-drop-14:hover {
    cursor: pointer;
}
.nav-publisher-user-register .drop-14-1 .nav-drop-14:hover .nav-avatar img {
    border: 2px solid #A9D996;
}
.nav-publisher-user-register .drop-14-1 .nav-drop-14:hover .nav-caret-down {
    border-top: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-14-1 .nav-drop-14:hover .nav-caret-up {
    border-bottom: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-14-1 .cursor-pointer:hover {
  cursor: pointer;
}
.nav-publisher-user-register .drop-14-1-target-icon {
  display: inline-block;
} 
.nav-publisher-user-register .drop-14-1-target-text {
  display: inline-block;
  margin: 4px 0px 0px 1px;
} 

.nav-publisher-user-register .drop-15 {
  width: 180px;
}
.nav-publisher-user-register .drop-15 .drop-15-triangle {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: relative;
    left: 3px;
    float: left;
}
.nav-publisher-user-register .drop-15 .drop-15-box {
    width: 180px;
    float: left;
    position: relative;
    margin-top: 0px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    z-index: 1;
}
.nav-publisher-user-register .drop-15 .drop-15-container-links {
}
.nav-publisher-user-register .drop-15 .margin-top-hide-1 {
  margin-top: -16px;
}
.nav-publisher-user-register .drop-15 .margin-top-show-1 {
  margin-top: -6px;
}
.nav-publisher-user-register .drop-15 .drop-15-link-1 {
  width: 100%;
}
.nav-publisher-user-register .drop-15 .drop-15-target {
  position: relative;
    width: 180px;
    height: 19px;
    padding: 9px 0px 4px 0px;
    text-align: center;
}
.nav-publisher-user-register .drop-15 .drop-15-target:hover {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-15 .drop-15-link-1:hover .span-1 {
}   
.nav-publisher-user-register .drop-15 .drop-15-target:focus {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-15 .drop-15-link-1:focus .span-1 {
}   
.nav-publisher-user-register .drop-15 .drop-15-target:active {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-15 .drop-15-link-1:active .span-1 {
}   
.nav-publisher-user-register .drop-15 .drop-15-span-1 {
    color: #376340; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.nav-publisher-user-register .drop-15 a.drop-15-link-a-1 {
  text-decoration: none;
}
.nav-publisher-user-register .drop-15 a.drop-15-link-a-1:hover {
  text-decoration: none;
}
.nav-publisher-user-register .drop-15 .drop-15-border {
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;      

    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;     

    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;      

    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;     
}
.nav-publisher-user-register .drop-15 .drop-15-shadow {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.nav-publisher-user-register .drop-15 .drop-15-divider-1 {
    height: 2px;
}
.nav-publisher-user-register .drop-15 .drop-15-divider-2 {
    height: 10px;
}
.nav-publisher-user-register .drop-15 .background-transparent {
    background-color: transparent;
}
.nav-publisher-user-register .drop-15 .background-white {
    background-color: #fff;
}
.nav-publisher-user-register .drop-15 .nav-caret-container {
    width: 14px;
    height: 30px;
    padding: 0 0 0 2px;     
}
.nav-publisher-user-register .drop-15 .nav-caret {
    width: 0px;
    height: 0px;
    position: relative;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin: 16px 0 0 0px;
}
.nav-publisher-user-register .drop-15 .nav-caret-down {
    border-top: 5px solid #999;
    border-bottom: 0;     
}
.nav-publisher-user-register .drop-15 .nav-caret-up {
    border-bottom: 5px solid #999;
    border-top: 0;
}
.nav-publisher-user-register .drop-15 .nav-drop-15:hover {
    cursor: pointer;
}
.nav-publisher-user-register .drop-15 .nav-drop-15:hover .nav-avatar img {
    border: 2px solid #A9D996;
}
.nav-publisher-user-register .drop-15 .nav-drop-15:hover .nav-caret-down {
    border-top: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-15 .nav-drop-15:hover .nav-caret-up {
    border-bottom: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-15 .cursor-pointer:hover {
  cursor: pointer;
}
.nav-publisher-user-register .drop-15-target-icon {
  display: inline-block;
} 
.nav-publisher-user-register .drop-15-target-text {
  display: inline-block;
} 
.nav-publisher-user-register .drop-15 a:focus {
  outline: none;  
}
.nav-publisher-user-register .drop-15 a:active {
  outline: none;
}
.nav-publisher-user-register .drop-15 a:visited {
  outline: none;
}
.nav-publisher-user-register .drop-15-table {
  display: table;
}
.nav-publisher-user-register .drop-15-table-row {
  display: table-row;
}
.nav-publisher-user-register .drop-15-table-cell-1 {
  display: table-cell;
  width: 174px;
}
.nav-publisher-user-register .drop-15-table-cell-2 {
  display: table-cell;
  width: 12px;
}
  
.nav-publisher-user-register .drop-15-1 {
  text-align: left;
  width: auto;
  height: 24px;
  padding: 4px;
}
.nav-publisher-user-register .drop-15-1:hover {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-15-1-target {
  position: relative;
}
.nav-publisher-user-register .drop-15-1 .drop-15-1-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #ffffff transparent transparent;  
    position: relative;
    float: left;
    left: -8px;
    top: 33px;
}
.nav-publisher-user-register .drop-15-1 .drop-15-1-container {
    position: relative;
}
.nav-publisher-user-register .drop-15-1 .drop-15-1-box {
    width: 180px;
    position: absolute;
    margin-top: 0px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    z-index: 1;
}
.nav-publisher-user-register .drop-15-1 .drop-15-1-container-links {
}
.nav-publisher-user-register .drop-15-1 .margin-top-hide-1-1 {
  margin-top: -53px;
  margin-left: 160px;
}
.nav-publisher-user-register .drop-15-1 .margin-top-show-1-1 {
  margin-top: -53px;
  margin-left: 180px;
}
.nav-publisher-user-register .drop-15-1 .drop-15-1-link-1 {
    width: 100%;
}
.nav-publisher-user-register .drop-15-1 .drop-15-1-link-1:hover {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-15-1 .drop-15-1-link-1:hover .span-1 {
}   
.nav-publisher-user-register .drop-15-1 .drop-15-1-span-1 {
    color: #376340; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.nav-publisher-user-register .drop-15-1 a.drop-15-1-link-a-1 {
  text-decoration: none;
}
.nav-publisher-user-register .drop-15-1 a.drop-15-1-link-a-1:hover {
  text-decoration: none;
}
.nav-publisher-user-register .drop-15-1 .drop-15-1-border {
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;      

    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;     

    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;      

    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;     
}
.nav-publisher-user-register .drop-15-1 .drop-15-1-shadow {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.nav-publisher-user-register .drop-15-1 .drop-15-1-divider-1 {
    height: 2px;
}
.nav-publisher-user-register .drop-15-1 .drop-15-1-divider-2 {
    height: 10px;
}
.nav-publisher-user-register .drop-15-1 .background-transparent {
    background-color: transparent;
}
.nav-publisher-user-register .drop-15-1 .background-white {
    background-color: #fff;
}
.nav-publisher-user-register .drop-15-1 .nav-caret-container {
    width: 14px;
    height: 30px;
    padding: 0 0 0 2px;     
}
.nav-publisher-user-register .drop-15-1 .nav-caret {
    width: 0px;
    height: 0px;
    position: relative;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin: 16px 0 0 0px;
}
.nav-publisher-user-register .drop-15-1 .nav-caret-down {
    border-top: 5px solid #999;
    border-bottom: 0;     
}
.nav-publisher-user-register .drop-15-1 .nav-caret-up {
    border-bottom: 5px solid #999;
    border-top: 0;
}
.nav-publisher-user-register .drop-15-1 .nav-drop-15:hover {
    cursor: pointer;
}
.nav-publisher-user-register .drop-15-1 .nav-drop-15:hover .nav-avatar img {
    border: 2px solid #A9D996;
}
.nav-publisher-user-register .drop-15-1 .nav-drop-15:hover .nav-caret-down {
    border-top: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-15-1 .nav-drop-15:hover .nav-caret-up {
    border-bottom: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-15-1 .cursor-pointer:hover {
  cursor: pointer;
}
.nav-publisher-user-register .drop-15-1-target-icon {
  display: inline-block;
} 
.nav-publisher-user-register .drop-15-1-target-text {
  display: inline-block;
  margin: 4px 0px 0px 1px;
} 

.nav-publisher-user-register .drop-16 {
  width: 180px;
}
.nav-publisher-user-register .drop-16 .drop-16-triangle {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: relative;
    left: 3px;
    float: left;
}
.nav-publisher-user-register .drop-16 .drop-16-box {
    width: 180px;
    float: left;
    position: relative;
    margin-top: 0px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    z-index: 1;
}
.nav-publisher-user-register .drop-16 .drop-16-container-links {
}
.nav-publisher-user-register .drop-16 .margin-top-hide-1 {
  margin-top: -16px;
}
.nav-publisher-user-register .drop-16 .margin-top-show-1 {
  margin-top: -6px;
}
.nav-publisher-user-register .drop-16 .drop-16-link-1 {
  width: 100%;
}
.nav-publisher-user-register .drop-16 .drop-16-target {
  position: relative;
  width: 180px;
  height: 19px;
  padding: 9px 0px 4px 0px;
  text-align: center;
}
.nav-publisher-user-register .drop-16 .drop-16-target:hover {
  background: #f6f6f6;
}
.nav-publisher-user-register .drop-16 .drop-16-link-1:hover .span-1 {
}   
.nav-publisher-user-register .drop-16 .drop-16-target:focus {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-16 .drop-16-link-1:focus .span-1 {
}   
.nav-publisher-user-register .drop-16 .drop-16-target:active {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-16 .drop-16-link-1:active .span-1 {
}   
.nav-publisher-user-register .drop-16 .drop-16-span-1 {
  color: #376340; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.nav-publisher-user-register .drop-16 a.drop-16-link-a-1 {
  text-decoration: none;
}
.nav-publisher-user-register .drop-16 a.drop-16-link-a-1:hover {
  text-decoration: none;
}
.nav-publisher-user-register .drop-16 .drop-16-border {
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;      

    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;     

    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;      

    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;     
}
.nav-publisher-user-register .drop-16 .drop-16-shadow {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.nav-publisher-user-register .drop-16 .drop-16-divider-1 {
    height: 2px;
}
.nav-publisher-user-register .drop-16 .drop-16-divider-2 {
    height: 10px;
}
.nav-publisher-user-register .drop-16 .background-transparent {
    background-color: transparent;
}
.nav-publisher-user-register .drop-16 .background-white {
    background-color: #fff;
}
.nav-publisher-user-register .drop-16 .nav-caret-container {
    width: 14px;
    height: 30px;
    padding: 0 0 0 2px;     
}
.nav-publisher-user-register .drop-16 .nav-caret {
    width: 0px;
    height: 0px;
    position: relative;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin: 16px 0 0 0px;
}
.nav-publisher-user-register .drop-16 .nav-caret-down {
    border-top: 5px solid #999;
    border-bottom: 0;     
}
.nav-publisher-user-register .drop-16 .nav-caret-up {
    border-bottom: 5px solid #999;
    border-top: 0;
}
.nav-publisher-user-register .drop-16 .nav-drop-16:hover {
    cursor: pointer;
}
.nav-publisher-user-register .drop-16 .nav-drop-16:hover .nav-avatar img {
    border: 2px solid #A9D996;
}
.nav-publisher-user-register .drop-16 .nav-drop-16:hover .nav-caret-down {
    border-top: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-16 .nav-drop-16:hover .nav-caret-up {
    border-bottom: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-16 .cursor-pointer:hover {
  cursor: pointer;
}
.nav-publisher-user-register .drop-16-target-icon {
  display: inline-block;
} 
.nav-publisher-user-register .drop-16-target-text {
  display: inline-block;
} 
.nav-publisher-user-register .drop-16 a:focus {
  outline: none;  
}
.nav-publisher-user-register .drop-16 a:active {
  outline: none;
}
.nav-publisher-user-register .drop-16 a:visited {
  outline: none;
}
.nav-publisher-user-register .drop-16-table {
  display: table;
}
.nav-publisher-user-register .drop-16-table-row {
  display: table-row;
}
.nav-publisher-user-register .drop-16-table-cell-1 {
  display: table-cell;
  width: 174px;
}
.nav-publisher-user-register .drop-16-table-cell-2 {
  display: table-cell;
  width: 12px;
}
  
.nav-publisher-user-register .drop-16-1 {
  text-align: left;
  width: auto;
  height: 24px;
  padding: 4px;
}
// .nav-publisher-user-register .drop-16-1:hover {
    // background: #f6f6f6;
// }
.nav-publisher-user-register .drop-16-1-target {
  position: relative;
}
.nav-publisher-user-register .drop-16-1 .drop-16-1-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #ffffff transparent transparent;  
    position: relative;
    float: left;
    left: -8px;
    top: 33px;
}
.nav-publisher-user-register .drop-16-1 .drop-16-1-container {
    position: relative;
}
.nav-publisher-user-register .drop-16-1 .drop-16-1-box {
    width: 180px;
    position: absolute;
    margin-top: 0px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    z-index: 1;
}
.nav-publisher-user-register .drop-16-1 .drop-16-1-container-links {
}
.nav-publisher-user-register .drop-16-1 .margin-top-hide-1-1 {
  margin-top: -53px;
  margin-left: 160px;
}
.nav-publisher-user-register .drop-16-1 .margin-top-show-1-1 {
  margin-top: -53px;
  margin-left: 180px;
}
.nav-publisher-user-register .drop-16-1 .drop-16-1-link-1 {
    width: 100%;
}
.nav-publisher-user-register .drop-16-1 .drop-16-1-link-1:hover {
    background: #f6f6f6;
}
.nav-publisher-user-register .drop-16-1 .drop-16-1-link-1:hover .span-1 {
}   
.nav-publisher-user-register .drop-16-1 .drop-16-1-span-1 {
    color: #376340; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.nav-publisher-user-register .drop-16-1 a.drop-16-1-link-a-1 {
  text-decoration: none;
}
.nav-publisher-user-register .drop-16-1 a.drop-16-1-link-a-1:hover {
  text-decoration: none;
}
.nav-publisher-user-register .drop-16-1 .drop-16-1-border {
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;      

    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;     

    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;      

    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;     
}
.nav-publisher-user-register .drop-16-1 .drop-16-1-shadow {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.nav-publisher-user-register .drop-16-1 .drop-16-1-divider-1 {
    height: 2px;
}
.nav-publisher-user-register .drop-16-1 .drop-16-1-divider-2 {
    height: 10px;
}
.nav-publisher-user-register .drop-16-1 .background-transparent {
    background-color: transparent;
}
.nav-publisher-user-register .drop-16-1 .background-white {
    background-color: #fff;
}
.nav-publisher-user-register .drop-16-1 .nav-caret-container {
    width: 14px;
    height: 30px;
    padding: 0 0 0 2px;     
}
.nav-publisher-user-register .drop-16-1 .nav-caret {
    width: 0px;
    height: 0px;
    position: relative;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin: 16px 0 0 0px;
}
.nav-publisher-user-register .drop-16-1 .nav-caret-down {
    border-top: 5px solid #999;
    border-bottom: 0;     
}
.nav-publisher-user-register .drop-16-1 .nav-caret-up {
    border-bottom: 5px solid #999;
    border-top: 0;
}
.nav-publisher-user-register .drop-16-1 .nav-drop-16:hover {
    cursor: pointer;
}
.nav-publisher-user-register .drop-16-1 .nav-drop-16:hover .nav-avatar img {
    border: 2px solid #A9D996;
}
.nav-publisher-user-register .drop-16-1 .nav-drop-16:hover .nav-caret-down {
    border-top: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-16-1 .nav-drop-16:hover .nav-caret-up {
    border-bottom: 5px solid #A9D996;
}
.nav-publisher-user-register .drop-16-1 .cursor-pointer:hover {
  cursor: pointer;
}
.nav-publisher-user-register .drop-16-1-target-icon {
  display: inline-block;
} 
.nav-publisher-user-register .drop-16-1-target-text {
  display: inline-block;
  margin: 4px 0px 0px 1px;
} 
