.nav-publisher {
	width: 100%;
	height: 32px;
	background-color: #bbb;	
	margin: 0;
}
.nav-publisher .nav-publisher-inner {
	width: 1200px;
	height: 32px;
	background-color: #ddd;
	margin: 0 auto;
}
.nav-publisher ul.ul-1 {
	position: relative;
	width: 800px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.nav-publisher ul li.li-1 {
	position: relative;
	/*float: left;*/
	padding: 0;
	width: 200px;
	margin-left: 0px;
	text-align: center;
	/*border-left: 1px solid transparent;*/
	/*border-right: 1px solid transparent;*/
}
.nav-publisher-list {
	width: 610px;
	margin: 0 auto;
}
.nav-publisher-item-1 {
	display: inline-block;
	width: 200px;
}
.drop-1 {
	width: 200px;
}
.drop-1 .drop-1-triangle {
  	width: 0px;
  	height: 0px;
  	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 8px solid #fff;
  	position: relative;
  	left: 3px;
  	float: left;
}
.drop-1 .drop-1-box {
  	width: 200px;
  	float: left;
  	position: relative;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-1 .drop-1-container-links {
}
.drop-1 .margin-top-hide-1 {
	margin-top: -16px;
}
.drop-1 .margin-top-show-1 {
	margin-top: -6px;
}
.drop-1 .drop-1-link-1 {
	width: 100%;
}
.drop-1 .drop-1-target {
	position: relative;
  	width: 200px;
  	height: 19px;
  	padding: 9px 0px 4px 0px;
  	text-align: center;
}
.drop-1 .drop-1-target:hover {
  	background: #f6f6f6;
}
.drop-1 .drop-1-link-1:hover .span-1 {
}   
.drop-1 .drop-1-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-1 a.drop-1-link-a-1 {
	text-decoration: none;
}
.drop-1 a.drop-1-link-a-1:hover {
	text-decoration: none;
}
.drop-1 .drop-1-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-1 .drop-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-1 .drop-1-divider-1 {
  	height: 2px;
}
.drop-1 .drop-1-divider-2 {
  	height: 10px;
}
.drop-1 .background-transparent {
  	background-color: transparent;
}
.drop-1 .background-white {
  	background-color: #fff;
}
.drop-1 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-1 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-1 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-1 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-1 .nav-drop-1:hover {
  	cursor: pointer;
}
.drop-1 .nav-drop-1:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-1 .nav-drop-1:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-1 .nav-drop-1:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-1 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-1-target-icon {
	display: inline-block;
}	
.drop-1-target-text {
	display: inline-block;
}	
.drop-1 a:focus {
	outline: none;	
}
.drop-1 a:active {
	outline: none;
}
.drop-1 a:visited {
	outline: none;
}
.drop-1-table {
	display: table;
}
.drop-1-table-row {
	display: table-row;
}
.drop-1-table-cell-1 {
	display: table-cell;
	width: 174px;
}
.drop-1-table-cell-2 {
	display: table-cell;
	width: 12px;
}
	
.drop-1-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
}
.drop-1-1:hover {
  	background: #f6f6f6;
}
.drop-1-1-target {
	position: relative;
}
.drop-1-1 .drop-1-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
  	position: relative;
  	float: left;
  	left: -8px;
  	top: 33px;
}
.drop-1-1 .drop-1-1-container {
  	position: relative;
}
.drop-1-1 .drop-1-1-box {
  	width: 200px;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-1-1 .drop-1-1-container-links {
}
.drop-1-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
}
.drop-1-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
}
.drop-1-1 .drop-1-1-link-1 {
  	width: 100%;
}
.drop-1-1 .drop-1-1-link-1:hover {
  	background: #f6f6f6;
}
.drop-1-1 .drop-1-1-link-1:hover .span-1 {
}   
.drop-1-1 .drop-1-1-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-1-1 a.drop-1-1-link-a-1 {
	text-decoration: none;
}
.drop-1-1 a.drop-1-1-link-a-1:hover {
	text-decoration: none;
}
.drop-1-1 .drop-1-1-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-1-1 .drop-1-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-1-1 .drop-1-1-divider-1 {
  	height: 2px;
}
.drop-1-1 .drop-1-1-divider-2 {
  	height: 10px;
}
.drop-1-1 .background-transparent {
  	background-color: transparent;
}
.drop-1-1 .background-white {
  	background-color: #fff;
}
.drop-1-1 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-1-1 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-1-1 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-1-1 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-1-1 .nav-drop-1:hover {
  	cursor: pointer;
}
.drop-1-1 .nav-drop-1:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-1-1 .nav-drop-1:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-1-1 .nav-drop-1:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-1-1 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-1-1-target-icon {
	display: inline-block;
}	
.drop-1-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
}	

.drop-2 {
	width: 200px;
}
.drop-2 .drop-2-triangle {
  	width: 0px;
  	height: 0px;
  	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 8px solid #fff;
  	position: relative;
  	left: 3px;
  	float: left;
}
.drop-2 .drop-2-box {
  	width: 200px;
  	float: left;
  	position: relative;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-2 .drop-2-container-links {
}
.drop-2 .margin-top-hide-1 {
	margin-top: -16px;
}
.drop-2 .margin-top-show-1 {
	margin-top: -6px;
}
.drop-2 .drop-2-link-1 {
	width: 100%;
}
.drop-2 .drop-2-target {
	position: relative;
  	width: 200px;
  	height: 19px;
  	padding: 9px 0px 4px 0px;
  	text-align: center;
}
.drop-2 .drop-2-target:hover {
  	background: #f6f6f6;
}
.drop-2 .drop-2-link-1:hover .span-1 {
}   
.drop-2 .drop-2-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-2 a.drop-2-link-a-1 {
	text-decoration: none;
}
.drop-2 a.drop-2-link-a-1:hover {
	text-decoration: none;
}
.drop-2 .drop-2-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-2 .drop-2-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-2 .drop-2-divider-1 {
  	height: 2px;
}
.drop-2 .drop-2-divider-2 {
  	height: 10px;
}
.drop-2 .background-transparent {
  	background-color: transparent;
}
.drop-2 .background-white {
  	background-color: #fff;
}
.drop-2 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-2 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-2 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-2 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-2 .nav-drop-2:hover {
  	cursor: pointer;
}
.drop-2 .nav-drop-2:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-2 .nav-drop-2:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-2 .nav-drop-2:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-2 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-2-target-icon {
	display: inline-block;
}	
.drop-2-target-text {
	display: inline-block;
}	
.drop-2 a:focus {
	outline: none;	
}
.drop-2 a:active {
	outline: none;
}
.drop-2 a:visited {
	outline: none;
}
.drop-2-table {
	display: table;
}
.drop-2-table-row {
	display: table-row;
}
.drop-2-table-cell-1 {
	display: table-cell;
	width: 174px;
}
.drop-2-table-cell-2 {
	display: table-cell;
	width: 12px;
}
	
.drop-2-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
}
.drop-2-1:hover {
  	background: #f6f6f6;
}
.drop-2-1-target {
	position: relative;
}
.drop-2-1 .drop-2-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
  	position: relative;
  	float: left;
  	left: -8px;
  	top: 33px;
}
.drop-2-1 .drop-2-1-container {
  	position: relative;
}
.drop-2-1 .drop-2-1-box {
  	width: 200px;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-2-1 .drop-2-1-container-links {
}
.drop-2-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
}
.drop-2-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
}
.drop-2-1 .drop-2-1-link-1 {
  	width: 100%;
}
.drop-2-1 .drop-2-1-link-1:hover {
  	background: #f6f6f6;
}
.drop-2-1 .drop-2-1-link-1:hover .span-1 {
}   
.drop-2-1 .drop-2-1-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-2-1 a.drop-2-1-link-a-1 {
	text-decoration: none;
}
.drop-2-1 a.drop-2-1-link-a-1:hover {
	text-decoration: none;
}
.drop-2-1 .drop-2-1-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-2-1 .drop-2-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-2-1 .drop-2-1-divider-1 {
  	height: 2px;
}
.drop-2-1 .drop-2-1-divider-2 {
  	height: 10px;
}
.drop-2-1 .background-transparent {
  	background-color: transparent;
}
.drop-2-1 .background-white {
  	background-color: #fff;
}
.drop-2-1 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-2-1 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-2-1 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-2-1 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-2-1 .nav-drop-2:hover {
  	cursor: pointer;
}
.drop-2-1 .nav-drop-2:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-2-1 .nav-drop-2:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-2-1 .nav-drop-2:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-2-1 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-2-1-target-icon {
	display: inline-block;
}	
.drop-2-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
}	

.drop-3 {
	width: 70px;
}
.drop-3 .drop-3-triangle {
  	width: 0px;
  	height: 0px;
  	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 8px solid #fff;
  	position: relative;
  	left: 3px;
  	float: left;
}
.drop-3 .drop-3-box {
  	width: 200px;
  	float: left;
  	position: relative;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
}
.drop-3 .drop-3-container-links {
}
.drop-3 .margin-top-hide-1 {
	margin-top: -16px;
}
.drop-3 .margin-top-show-1 {
	margin-top: -6px;
}
.drop-3 .drop-3-link-1 {
	width: 100%;
}
.drop-3 .drop-3-target {
	position: relative;
  	width: 200px;
  	height: 19px;
  	padding: 9px 0px 4px 0px;
  	text-align: center;
}
.drop-3 .drop-3-target:hover {
  	background: #f6f6f6;
}
.drop-3 .drop-3-link-1:hover .span-1 {
}   
.drop-3 .drop-3-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-3 a.drop-3-link-a-1 {
	text-decoration: none;
}
.drop-3 a.drop-3-link-a-1:hover {
	text-decoration: none;
}
.drop-3 .drop-3-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-3 .drop-3-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-3 .drop-3-divider-1 {
  	height: 2px;
}
.drop-3 .drop-3-divider-2 {
  	height: 10px;
}
.drop-3 .background-transparent {
  	background-color: transparent;
}
.drop-3 .background-white {
  	background-color: #fff;
}
.drop-3 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-3 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-3 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-3 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-3 .nav-drop-3:hover {
  	cursor: pointer;
}
.drop-3 .nav-drop-3:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-3 .nav-drop-3:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-3 .nav-drop-3:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-3 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-3-target-icon {
	display: inline-block;
}	
.drop-3-target-text {
	display: inline-block;
}	
.drop-3 a:focus {
	outline: none;	
}
.drop-3 a:active {
	outline: none;
}
.drop-3 a:visited {
	outline: none;
}
.drop-3-table {
	display: table;
}
.drop-3-table-row {
	display: table-row;
}
.drop-3-table-cell-1 {
	display: table-cell;
	width: 174px;
}
.drop-3-table-cell-2 {
	display: table-cell;
	width: 12px;
}
	
.drop-3-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
}
.drop-3-1:hover {
  	background: #f6f6f6;
}
.drop-3-1-target {
	position: relative;
}
.drop-3-1 .drop-3-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
  	position: relative;
  	float: left;
  	left: -8px;
  	top: 33px;
}
.drop-3-1 .drop-3-1-container {
  	position: relative;
}
.drop-3-1 .drop-3-1-box {
  	width: 200px;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-3-1 .drop-3-1-container-links {
}
.drop-3-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
}
.drop-3-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
}
.drop-3-1 .drop-3-1-link-1 {
  	width: 100%;
}
.drop-3-1 .drop-3-1-link-1:hover {
  	background: #f6f6f6;
}
.drop-3-1 .drop-3-1-link-1:hover .span-1 {
}   
.drop-3-1 .drop-3-1-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-3-1 a.drop-3-1-link-a-1 {
	text-decoration: none;
}
.drop-3-1 a.drop-3-1-link-a-1:hover {
	text-decoration: none;
}
.drop-3-1 .drop-3-1-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-3-1 .drop-3-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-3-1 .drop-3-1-divider-1 {
  	height: 2px;
}
.drop-3-1 .drop-3-1-divider-2 {
  	height: 10px;
}
.drop-3-1 .background-transparent {
  	background-color: transparent;
}
.drop-3-1 .background-white {
  	background-color: #fff;
}
.drop-3-1 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-3-1 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-3-1 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-3-1 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-3-1 .nav-drop-3:hover {
  	cursor: pointer;
}
.drop-3-1 .nav-drop-3:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-3-1 .nav-drop-3:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-3-1 .nav-drop-3:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-3-1 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-3-1-target-icon {
	display: inline-block;
}	
.drop-3-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
}	

.drop-hidden {
	display: none !important;
    visibility: hidden !important;  
}
.span-arrow-right {
	width: 10%;
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;	
	text-align: right;	
}
.drop-clear-both {
	clear: both;
}
