

	<style>
		
		#drop_story_2_attach div.drop {
			position: relative;
		}
		#drop_story_2_attach .dropOut .triangle {
			width: 8px;
			height: 8px;
			position: relative;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #fff;
			right: 30px;
			float: right;
		}
		#drop_story_2_attach div div.dropdownContain {
			width: 140px;
			position: absolute;
			z-index: 2;
			right: 0px;
			top: 16px;
		}
		#drop_story_2_attach .dropOut {
			width: 140px;
			float: left;
			position: relative;
			-webkit-transition: all .1s ease-out;
			-moz-transition: all .1s ease-out;
			-ms-transition: all .1s ease-out;
			-o-transition: all .1s ease-out;
			transition: all .1s ease-out;
		}
		#drop_story_2_attach .dropOut div {
			float: left;
		}
		#drop_story_2_attach div div.dropdownContain div.dropOut div.container-links div.div-link {
			text-align: left;
			float: left;
			width: 120px;
			padding: 4px 0 6px 10px;
			margin-right: 10px;
			margin-left: 10px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}
		#drop_story_2_attach .dropOut div.container-links div.div-link:hover {
			background: #f0f0f0;
		}
		#drop_story_2_attach div div.dropdownContain div.dropOut div.container-links div.div-link {
			color: #376340;	
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			font-weight: 700;
		}
		#drop_story_2_attach div div.dropdownContain div.dropOut div.container-links div.div-link:hover {
			color: #376340;	
			text-decoration: none;
		}
		
	</style>

	<style>
		
		#drop_story_2_attach .div-link:hover {
			cursor: pointer;
		}
		#drop_story_2_attach .border-drop {
			-webkit-border-top-left-radius: 4px;
			-moz-border-top-left-radius: 4px;
			border-top-left-radius: 4px;			

			-webkit-border-top-right-radius: 4px;
			-moz-border-top-right-radius: 4px;
			border-top-right-radius: 4px;			

			-webkit-border-bottom-right-radius: 4px;
			-moz-border-bottom-right-radius: 4px;
			border-bottom-right-radius: 4px;			

			-webkit-border-bottom-left-radius: 4px;
			-moz-border-bottom-left-radius: 4px;
			border-bottom-left-radius: 4px;			
		}
		#drop_story_2_attach .drop-shadow {
			-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.4);
			-moz-box-shadow: 0 1px 6px rgba(0,0,0,.4);
			box-shadow: 0 1px 6px rgba(0,0,0,.4);			
		}
		
	</style>

	<style>
		
		#drop_story_2_attach .drop-divider-1 {
			height: 10px;
		}
		#drop_story_2_attach .drop-divider-2 {
			height: 10px;
		}
		#drop_story_2_attach .background-transparent {
			background-color: transparent;
		}
		#drop_story_2_attach .background-white {
			background-color: #fff;
		}
		
	</style>

	<style>
	
		#drop_story_2_attach .nav-caret-container {
			width: 14px;
			height: 30px;
			padding: 0 0 0 2px;			
		}
		#drop_story_2_attach .nav-caret {
			width: 4px;
			height: 4px;
			position: relative;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			margin: 12px 0 0 0;
		}
		#drop_story_2_attach .nav-caret-down {
			border-top: 4px solid #ca8e33;
			border-bottom: 0;			
		}
		#drop_story_2_attach .nav-caret-up {
			border-bottom: 4px solid #ca8e33;
			border-top: 0;
		}
		#drop_story_2_attach .nav-drop-1:hover {
			cursor: pointer;
		}
		#drop_story_2_attach .nav-drop-1:hover .nav-caret-down {
			border-top: 4px solid #A9D996;
		}
		#drop_story_2_attach .nav-drop-1:hover .nav-caret-up {
			border-bottom: 4px solid #A9D996;
		}
		.container-couple-story-2-attach {
			position: relative;
			width: 124px;
			height: 31px;
			border: 1px solid #ca8e33; /*#fbb040*/
		}
		.container-couple-story-2-attach:hover {
			cursor: pointer;
		}
		
	</style>

	<style>
		
		.btn-story-2-attach {
			width: 100px;
			height: 30px;
			background-color: #ca8e33;
			vertical-align: top;
			padding: 4px 0 0 0;
			text-align: center;
		}
		.btn-story-2-attach-text {
			font-family: Arial, Helvetica, sans-serif;
			font-weight: 600;
			font-size: 18px;
			color: #fff;			
		}
		.btn-story-2-attach-loader {
			width: 16px;
			height: 11px;
			background-image: url('/assets/loader_ajax_w16_h11_blue.gif');
			background-repeat: no-repeat;
			display: inline-block;
			margin: 5px 0 0 5px;
		}	
		
	</style>

		    <div id="drop_story_2_attach" class="drop-story-2-attach toggle-user-plot" style="width: 124px; margin: 0;">
		    		
		    	<div id="container_couple_story_2_attach" class="container-couple-story-2-attach">
			    	<div id="btn_story_2_attach" class="btn-story-2-attach" style="display: inline-block;">
						<div id="btn_story_2_attach_text" class="btn-story-2-attach-text">Attach</div>
						<div id="btn_story_2_attach_loader" class="btn-story-2-attach-loader hidden"></div>
			    	</div>
			    	<div id="caret_container_story_2_attach" class="nav-caret-container" style="display: inline-block;">
			    		<div id="caret_story_2_attach" class="nav-caret nav-caret-down"></div>
			    	</div>
			    	<div id="container_drop_story_2_attach" class="dropdownContain hidden toggle-user-plot">
						<div id="container_dropOut_drop_story_2_attach" class="dropOut background-transparent toggle-user-plot">
							<div class="triangle"></div>
							<div style="clear: both;"></div>
							<div class="container-links background-white border-drop drop-shadow toggle-user-plot" style="height: 76px;">
								<div class="drop-divider-1"></div>
								<div id="div_story_2_attach_1" class="div-link" style="margin-top: 10px;">
									Attach image
								</div>
								<div class="drop-divider-2"></div>
								<div id="div_story_2_attach_2" class="div-link">
									Attach file
								</div>
								<div class="drop-divider-1"></div>
							</div>
						</div>
			        </div>
		        </div>
		        
		    </div>



	<script>
			  	
		// $(window).load( function() {
		$(document).ready(function () {				

			$(document).on('click', function(e) {
				var o_target = $(e.target).parents('.drop-story-2-attach').attr('id');
				if (o_target == null) {
					drop_story_2_attach_hide();
				}
			});

			$("#container_couple_story_2_attach").on('click', function() {
				drop_toggle_story_2_attach();
			});

			$("#div_story_2_attach_1").on('click', function() {
				// btn_1_drop_add_user_plot_image_clicked = true;
			});
			
			$("#div_story_2_attach_2").on('click', function() {
				alert('in development');
				drop_story_2_attach_hide();
			});

			// $(document).on("change", "form#new_user_plot_image input#new_user_plot_image_image", function() {
				// $("#btn_story_2_attach_text").addClass("hidden");
				// $("#btn_story_2_attach_loader").removeClass("hidden");
				// $("form#new_user_plot_image input#btn_submit_user_plot_image").click();
			// });


		});
		

	</script>
	
