<style>
	.drop-publisher-users-index101 .drop-hidden {
	display: none !important;
	visibility: hidden !important;  
	}
	.drop-publisher-users-index101 .drop-clear-both {
	clear: both;
	}
	.drop-publisher-users-index101 .drop-101 {
	width: 200px;
	}
	.drop-publisher-users-index101 .drop-101 .drop-101-triangle {
	width: 0px;
	height: 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	position: relative;
	left: 3px;
	float: left;
	}
	.drop-publisher-users-index101 .drop-101 .drop-101-box {
	width: 200px;
	float: left;
	/*position: relative;*/
	position: absolute;
	margin-top: 0px;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
	z-index: 1;
	}
	.drop-publisher-users-index101 .drop-101 .drop-101-container-links {
	}
	.drop-publisher-users-index101 .drop-101 .margin-top-hide-1 {
	margin-top: -16px;
	}
	.drop-publisher-users-index101 .drop-101 .margin-top-show-1 {
	margin-top: -6px;
	}
	.drop-publisher-users-index101 .drop-101 .drop-101-link-1 {
	width: 100%;
	}
	/*.drop-publisher-users-index101 .drop-101 .drop-101-target {
	position: relative;
	width: 200px;
	height: 19px;
	padding: 9px 0px 4px 0px;
	text-align: center;
	}
	.drop-publisher-users-index101 .drop-101 .drop-101-target:hover {
	background: #f6f6f6;
	}*/
	.drop-publisher-users-index101 .drop-101 .drop-101-link-1:hover .span-1 {
	}   
	.drop-publisher-users-index101 .drop-101 .drop-101-span-1 {
	color: #376340; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	}
	.drop-publisher-users-index101 .drop-101 a.drop-101-link-a-1 {
	text-decoration: none;
	}
	.drop-publisher-users-index101 .drop-101 a.drop-101-link-a-1:hover {
	text-decoration: none;
	}
	.drop-publisher-users-index101 .drop-101 .drop-101-border {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;      
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;     
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;      
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;     
	}
	.drop-publisher-users-index101 .drop-101 .drop-101-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.drop-publisher-users-index101 .drop-101 .drop-101-divider-1 {
	height: 2px;
	}
	.drop-publisher-users-index101 .drop-101 .drop-101-divider-2 {
	height: 10px;
	}
	.drop-publisher-users-index101 .drop-101 .background-transparent {
	background-color: transparent;
	}
	.drop-publisher-users-index101 .background-white {
	background-color: #fff;
	}
	.drop-publisher-users-index101 .drop-101 .nav-caret-container {
	width: 14px;
	height: 30px;
	padding: 0 0 0 2px;     
	}
	.drop-publisher-users-index101 .drop-101 .nav-caret {
	width: 0px;
	height: 0px;
	position: relative;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin: 16px 0 0 0px;
	}
	.drop-publisher-users-index101 .drop-101 .nav-caret-down {
	border-top: 5px solid #999;
	border-bottom: 0;     
	}
	.drop-publisher-users-index101 .drop-101 .nav-caret-up {
	border-bottom: 5px solid #999;
	border-top: 0;
	}
	.drop-publisher-users-index101 .drop-101 .nav-drop-1:hover {
	cursor: pointer;
	}
	.drop-publisher-users-index101 .drop-101 .nav-drop-1:hover .nav-avatar img {
	border: 2px solid #A9D996;
	}
	.drop-publisher-users-index101 .drop-101 .nav-drop-1:hover .nav-caret-down {
	border-top: 5px solid #A9D996;
	}
	.drop-publisher-users-index101 .drop-101 .nav-drop-1:hover .nav-caret-up {
	border-bottom: 5px solid #A9D996;
	}
	.drop-publisher-users-index101 .drop-101 .cursor-pointer:hover {
	cursor: pointer;
	}
	.drop-publisher-users-index101 .drop-101-target-icon {
	display: inline-block;
	}	
	.drop-publisher-users-index101 .drop-101-target-text {
	display: inline-block;
	}	
	.drop-publisher-users-index101 .drop-101 a:focus {
	outline: none;	
	}
	.drop-publisher-users-index101 .drop-101 a:active {
	outline: none;
	}
	.drop-publisher-users-index101 .drop-101 a:visited {
	outline: none;
	}
	.drop-publisher-users-index101 .drop-101-table {
	display: table;
	}
	.drop-publisher-users-index101 .drop-101-table-row {
	display: table-row;
	}
	.drop-publisher-users-index101 .drop-101-table-cell-1 {
	display: table-cell;
	width: 174px;
	}
	.drop-publisher-users-index101 .drop-101-table-cell-2 {
	display: table-cell;
	width: 12px;
	}
	.drop-publisher-users-index101 .drop-101-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
	}
	.drop-publisher-users-index101 .drop-101-1:hover {
	background: #f6f6f6;
	}
	.drop-publisher-users-index101 .drop-101-1-target {
	position: relative;
	}
	.drop-publisher-users-index101 .drop-101-1 .drop-101-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
	position: relative;
	float: left;
	left: -8px;
	top: 33px;
	}
	.drop-publisher-users-index101 .drop-101-1 .drop-101-1-container {
	position: relative;
	}
	.drop-publisher-users-index101 .drop-101-1 .drop-101-1-box {
	width: 200px;
	position: absolute;
	margin-top: 0px;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
	z-index: 1;
	}
	.drop-publisher-users-index101 .drop-101-1 .drop-101-1-container-links {
	}
	.drop-publisher-users-index101 .drop-101-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
	}
	.drop-publisher-users-index101 .drop-101-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
	}
	.drop-publisher-users-index101 .drop-101-1 .drop-101-1-link-1 {
	width: 100%;
	}
	.drop-publisher-users-index101 .drop-101-1 .drop-101-1-link-1:hover {
	background: #f6f6f6;
	}
	.drop-publisher-users-index101 .drop-101-1 .drop-101-1-link-1:hover .span-1 {
	}   
	.drop-publisher-users-index101 .drop-101-1 .drop-101-1-span-1 {
	color: #376340; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	}
	.drop-publisher-users-index101 .drop-101-1 a.drop-101-1-link-a-1 {
	text-decoration: none;
	}
	.drop-publisher-users-index101 .drop-101-1 a.drop-101-1-link-a-1:hover {
	text-decoration: none;
	}
	.drop-publisher-users-index101 .drop-101-1 .drop-101-1-border {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;      
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;     
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;      
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;     
	}
	.drop-publisher-users-index101 .drop-101-1 .drop-101-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.drop-publisher-users-index101 .drop-101-1 .drop-101-1-divider-1 {
	height: 2px;
	}
	.drop-publisher-users-index101 .drop-101-1 .drop-101-1-divider-2 {
	height: 10px;
	}
	.drop-publisher-users-index101 .drop-101-1 .background-transparent {
	background-color: transparent;
	}
	.drop-publisher-users-index101 .drop-101-1 .background-white {
	background-color: #fff;
	}
	.drop-publisher-users-index101 .drop-101-1 .nav-caret-container {
	width: 14px;
	height: 30px;
	padding: 0 0 0 2px;     
	}
	.drop-publisher-users-index101 .drop-101-1 .nav-caret {
	width: 0px;
	height: 0px;
	position: relative;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin: 16px 0 0 0px;
	}
	.drop-publisher-users-index101 .drop-101-1 .nav-caret-down {
	border-top: 5px solid #999;
	border-bottom: 0;     
	}
	.drop-publisher-users-index101 .drop-101-1 .nav-caret-up {
	border-bottom: 5px solid #999;
	border-top: 0;
	}
	.drop-publisher-users-index101 .drop-101-1 .nav-drop-1:hover {
	cursor: pointer;
	}
	.drop-publisher-users-index101 .drop-101-1 .nav-drop-1:hover .nav-avatar img {
	border: 2px solid #A9D996;
	}
	.drop-publisher-users-index101 .drop-101-1 .nav-drop-1:hover .nav-caret-down {
	border-top: 5px solid #A9D996;
	}
	.drop-publisher-users-index101 .drop-101-1 .nav-drop-1:hover .nav-caret-up {
	border-bottom: 5px solid #A9D996;
	}
	.drop-publisher-users-index101 .drop-101-1 .cursor-pointer:hover {
	cursor: pointer;
	}
	.drop-publisher-users-index101 .drop-101-1-target-icon {
	display: inline-block;
	}	
	.drop-publisher-users-index101 .drop-101-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
	}	
</style>

<style>
	
.overlay {
  position: relative;
  z-index: 1;
  /*overflow: hidden;*/
}

.overlay:after {
  position: absolute;
  content:"";
  top: 50%;
  left: 50%;
  width: 40px;
  height: 60px;
  opacity:0;
}

.overlay:hover:after  {
  opacity: .5;
  box-shadow: 0 0 0 3px blue inset;  
}

.red:after {
  background-color: red;
}
	

</style>
	
<style>
	
	.background-image-1-container {
		width: 1200px; 
		height: 300px; 
		/*background-color: blue;*/ 
		position: relative;
		/*background-image: url("/assets/avatars/background-1-w1200-h300.jpg");*/
	}
	.background-edit-border {
		box-shadow: 0 0 0 2px #fbb040 inset;
	}
	
</style>
	
	
<div id="background_1_image_container" class="background-1-image-container" style="display: table-cell; vertical-align: bottom; width: 1200px; height: 300px;">
	<div class="drop-publisher-users-index101 hidden">
		<div id="background_options" class="text-edit-background drop-101">
			<div class="text-edit-background-inner drop-101-target" style="height: inherit;">
				<span>Background</span><br>
				<span>photo</span><br>
				<span>options</span>
			</div>
	    	<div class="drop-101-container drop-hidden">
				<div class="drop-101-box background-transparent margin-top-hide-1">
					<div class="drop-101-triangle"></div>
					<div style="clear: both;"></div>
					<div class="drop-101-container-links background-white drop-101-border drop-101-shadow">
						
						<% if !@background_1_image_id.nil? %>

							<div class="drop-101-divider-2"></div>
							<div class="drop-101-link-1 cursor-pointer" data-id="1">
								<div class="drop-101-1">
							    	<div class="drop-101-1-target">
							    		<div class="drop-101-1-target-text">
							    			<span class="drop-101-1-span-1">New/Change</span>
							    		</div>						    		
							    	</div>
						    	</div>
							</div>
							<div class="drop-101-divider-1"></div>
							<div class="drop-101-link-1 cursor-pointer" data-id="2">
								<div class="drop-101-1">
							    	<div class="drop-101-1-target">
							    		<div class="drop-101-1-target-text">
							    			<span class="drop-101-1-span-1">Crop/Center</span>
							    		</div>						    		
							    	</div>
						    	</div>
							</div>
							<div class="drop-101-divider-1"></div>
							<div class="drop-101-link-1 cursor-pointer" data-id="3">
								<div class="drop-101-1">
							    	<div class="drop-101-1-target">
							    		<div class="drop-101-1-target-text">
							    			<span class="drop-101-1-span-1">Delete</span>
							    		</div>						    		
							    	</div>
						    	</div>
							</div>
							<div class="drop-101-divider-2"></div>
						
						<% else %>
						
							<div class="drop-101-divider-2"></div>
							<div class="drop-101-link-1 cursor-pointer" data-id="4">
								<div class="drop-101-1">
							    	<div class="drop-101-1-target">
							    		<div class="drop-101-1-target-text">
							    			<span class="drop-101-1-span-1">New Photo</span>
							    		</div>						    		
							    	</div>
						    	</div>
							</div>
							<div class="drop-101-divider-2"></div>
						
						<% end %>
						
					</div>
				</div>
	        </div>
		</div>
	</div>
	
	<div class="" style="position: relative; bottom: 262px;">
		<div style="display: table;">
			<div style="display: table-row;">
				<div class="" style="display: table-cell; width: 400px;"></div>
				<div style="display: table-cell; width: 800px; height: 32px; text-align: center;">
					
					<% if false %>
					<div id="edit_product_headline" class="edit-product-headline hidden" style="display: inline-block;">
						<input class="input-profile-2 bkgrnd-text-1-input input-profile-color-1" style="width: 700px; height: 26px; padding: 1px 2px 0px 2px; text-align: center;" id="publisher_product_manifest_product_headline" name="publisher_product_manifest[product_headline]" tabindex="12" type="text" value="<%= @product_headline %>" placeholder="Product Headline" />
					</div>
					<div id="show_product_headline" style="display: inline-block;">
						<div class="" style="width: 650px; height: 32px; padding: 0; border-color: transparent;">
							<!-- <span id="span_product_headline" class="bkgrnd-text-1 product-headline" style="background-color: #000; opacity: 0.5; padding-left: 4px; padding-right: 4px;"></span> -->
							<span id="span_product_headline" class="bkgrnd-text-1 product-headline" style="background-color: rgba(0,0,0,0.5); padding-left: 4px; padding-right: 4px;"></span>
						</div>
					</div>
					<% end %>
					
					<div class="edit-options float-right hidden" style="height: 30px; background-color: #fff; display: inline-block;">
						<div class="edit-options-block-1">
							<div id="required_product_headline" class="required-1"></div>
						</div>
						<div class="edit-options-block-1 ks-tip-container">
							<div id="open_info_product_headline" class="question-icon info-show-20 required-1 ks-tip-target"></div>
						    <div class="ks-tip ks-tip-2">
						    	<div class="ks-tip-indicator-2"></div>
								What is this?
						    </div>				
						</div>																		
						<div class="edit-options-block-1 ks-tip-container">
							<div id="open_edit_product_headline" class="edit-icon-right form-edit-open-20 ks-tip-target" tabindex=""></div>
						    <div class="ks-tip ks-tip-3">
						    	<div class="ks-tip-indicator-3"></div>
								Edit
						    </div>				
						</div>
					</div>
					<div class="float-clear"></div>
				</div>
			</div>
		</div>
	</div>

	<% if false %>
	<div class="edit-product-headline hidden" style="position: absolute; bottom: 232px; right: 81px; width: 121px; background-color: #fff;">
		<div style="padding: 4px;">
			<div style="display: inline-block;">
				<div id="submit_product_headline" class="btn-submit-product" tabindex="">Save</div>
			</div>
			<div style="display: inline-block;">
				<div id="cancel_product_headline" class="btn-submit-product" tabindex="">Cancel</div>
			</div>	
		</div>																													
	</div>
	<% end %>

	<div class="container-image-1" id="container_primary_1_image" style="position: relative;">
		<div id="drop_container_primary_1_image" class="drop" style="position: absolute; bottom: -60px; left: 20px;">
			<div id="render_primary_1_image" class="">
				<%= render 'publisher_user_publics/primary_1_image' %>
	        </div>
		</div>
	</div>							
</div>



<script>

	// var drop_visible_publisher_users_index101 = false;
	// function drop_show_publisher_users_index101() {
		// $(".drop-publisher-users-index101 .drop-101-container").removeClass('drop-hidden');
		// $(".drop-publisher-users-index101 .drop-101-box").fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
		// drop_visible_publisher_users_index101 = true;			
	// }	
	// function drop_hide_publisher_users_index101() {
		// $(".drop-publisher-users-index101 .drop-101-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);		
		// drop_visible_publisher_users_index101 = false;			
	// }	
	// function drop_toggle_publisher_users_index101() {
		// if (drop_visible_publisher_users_index101) {
			// drop_hide_publisher_users_index101();
		// }
		// else {
			// drop_close_all_called_publisher_users_index101 = false;
			// drop_show_publisher_users_index101();
		// }
	// }	
	// function dropCloseAll_publisher_users_index101() {
		// drop_close_all_called_publisher_users_index101 = true;
		// drop_hide_publisher_users_index101();
	// }
	// var drop_close_all_called_publisher_users_index101 = false;
	
	
	$(document).ready(function () {				

		// $('#render_background_image_1').css('background-image', 'url("/assets/avatars/background-1-w1200-h300.jpg")');
		$('#background_1_image_container').css('background-image', 'url(<%= @background_1_image_url %>)');
		
		// $("img").one("load", function() {
			// if((this.id == "image_5_img") || (this.id == "image_5_img_generic")) {
				// var img_w = this.width;
				// var img_h = this.height;
				// $(".container-figure-image-5").css({
					// width : img_w,
					// height : img_h						
				// })													
			// }
			// if(this.id == "image_5_img_600") {
				// var img_w = this.width;
				// var img_h = this.height;
				// $("#figure_dialog_101_1").css({
					// width : img_w,
					// height : img_h
				// });																			
			// }								
		// }).each(function() {
		  	// if(this.complete) {
		  		// $(this).load();
		  		// $(".drop-publisher-users-index101").removeClass("hidden");
		  	// }
		// });

		// $(document).on('click', function(e) {
			// var target_publisher_users_index101 = $(e.target).parents('.drop-publisher-users-index101').attr("class");
			// if (target_publisher_users_index101 == null) {
				// drop_hide_publisher_users_index101();
			// }
		// });
		// $(".drop-publisher-users-index101 .drop-101-target").on('click', function() {
			// drop_toggle_publisher_users_index101();
		// });
		// $(".drop-publisher-users-index101 .drop-101-link-1[data-id='1']").on("click", function() {
			// dropCloseAll_publisher_users_index101();
			// $(document).trigger("btn_background_1_image_change_click");
		// });
		// $(".drop-publisher-users-index101 .drop-101-link-1[data-id='2']").on("click", function() {
			// dropCloseAll_publisher_users_index101();
			// $(document).trigger("btn_background_1_image_crop_click");
		// });
		// $(".drop-publisher-users-index101 .drop-101-link-1[data-id='3']").on("click", function() {
			// dropCloseAll_publisher_users_index101();
			// $(document).trigger("btn_background_1_image_delete_click");
		// });
		// $(".drop-publisher-users-index101 .drop-101-link-1[data-id='4']").on("click", function() {
			// dropCloseAll_publisher_users_index101();
			// $(document).trigger("btn_background_1_image_new_click");
		// });


	});
	
</script>
