
							<% @post_publisher_images.each do |post_publisher_image| %>

								<!-- <div class="container-figure container-figure-1" style=""> -->
								<div class="" style="">
									<!-- <figure id="profile_figure" class="profile-figure dialog-11-figure"> -->
									<figure class="dialog-1001-figure cursor-pointer">
									<!-- <figure id="profile_figure"> -->
										<img class="post-user-image" alt="" style="max-width: 578px;" src="<%= post_publisher_image.image_url(:user_600_600) + '?' + (rand(10..90) * rand(100..900)).to_s if post_publisher_image.image? %>" />
										<input class="container-image-hidden" type="hidden" value="<%= post_publisher_image.image_url(:user_600_600) + '?' + (rand(10..90) * rand(100..900)).to_s if post_publisher_image.image? %>" />
										<!-- <figcaption id="figcaption_image_primary" class="edit-image hidden">												
											<div class="img-1-container">
												<div class="img-1"></div>
												<div class="img-1-text">Edit photo</div>
											</div>
										</figcaption> -->
									</figure>
								</div>

							<% end %>




	<script>



		// $(window).load( function() {
		$(document).ready( function () {				


			// $(".dialog-1001-figure").on('click', function() {
				// // var id = $(this).find('.dialog-1001-content').attr('id');
				// // $(document).trigger('click_1001', [id]);
				// $(document).trigger('click_1001');
			// });

			$(".dialog-1001-figure").on('click', function(e) {
				if ( e.target.nodeName == "IMG" ) {
					$(document).trigger('click_1001');
					var this_src = $(this).find("input.container-image-hidden").attr("value");
					$("#profile_figure_dialog_1001").find("img").attr("src", this_src );
					var this_delete = $(this).find("div.tip-top-center").html();
					$("#profile_figure_dialog_1001").find("div.tip-top-center").html(this_delete);
					$("#dialog_1001").jqmShow();	
				}
			});
			$('#dialog_1001').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', 40 + scroll_top);
					hash.w.css('opacity', 1.0).fadeIn(200);
					var img = $("#profile_figure_dialog_1001 img");
					$("<img/>")
			    		.attr("src", $(img).attr("src"))
			    		.load(function() {
			        		img_width = this.width; 
			        		$("#profile_figure_dialog_1001").css({
			        			// width : this.width 
			        	});	        		
			    	});		
				}
			}); 		

		
		});
	  

	</script>		

