<footer id="ks-footer" class="ks-footer">
	<div id="foot-1">
		<!-- <img class="logo" alt="KnowStory" src="assets_knowstory/knowstory-icon-2-foot.png"> -->
		<%= image_tag('footer/knowstory-icon-2-foot-w75-h79.png', alt: '', class: 'logo') %>
		<ul class="ks-foot-links">
			<li><a href="http://thelearningcounsel.com/About">About Us</a></li>
			<li><a href="/Advertise">Advertise</a></li>
			<li><a href="http://thelearningcounsel.com/Privacy">Policies</a></li>
			<li><a href="http://thelearningcounsel.com/ContactUs">Fraud Reporting</a></li>
			<li><a href="http://thelearningcounsel.com/ContactUs">Support</a></li>
		</ul>
		<div id="foot-2">
			<span>&copy; Copyright 2015 KnowStory.<br/> 
				All Rights Reserved.<br/>
				Powered by <a target="_blank" href="http://thelearningcounsel.com">the Learning Counsel</a>
			</span>
		</div>
	</div>
</footer>