
<style>

.drop-1 {
	width: 150px;
}
.drop-1 .drop-1-triangle {
  	width: 0px;
  	height: 0px;
  	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 8px solid #fff;
  	position: relative;
  	left: 3px;
  	float: left;
}
.drop-1 .drop-1-box {
  width: 150px;
  float: left;
  position: relative;
  margin-top: 0px;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
.drop-1 .drop-1-container-links {
}
.drop-1 .margin-top-hide {
	margin-top: -4px;
}
.drop-1 .margin-top-show {
	margin-top: -4px;
}
.drop-1 .drop-1-link-1 {
  text-align: left;
  width: 120px;
  padding: 4px 0 6px 10px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.drop-1 .drop-1-link-1:hover {
  background: #f6f6f6;
}
.drop-1 .drop-1-link-1:hover .span-1 {
}   
.drop-1 .drop-1-span-1 {
  color: #376340; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.drop-1 a.drop-1-link-a-1:hover {
	text-decoration: none;
}
.drop-1 .drop-1-hidden {
	display: none !important;
    visibility: hidden !important;  
}
.drop-1 .drop-1-border {
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;      

  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;     

  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;      

  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;     
}
.drop-1 .drop-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-1 .drop-1-divider-1 {
  height: 2px;
}
.drop-1 .drop-1-divider-2 {
  height: 10px;
}
.drop-1 .background-transparent {
  background-color: transparent;
}
.drop-1 .background-white {
  background-color: #fff;
}
.drop-1 .nav-caret-container {
  width: 14px;
  height: 30px;
  padding: 0 0 0 2px;     
}
.drop-1 .nav-caret {
  width: 0px;
  height: 0px;
  position: relative;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin: 16px 0 0 0px;
}
.drop-1 .nav-caret-down {
  border-top: 5px solid #999;
  border-bottom: 0;     
}
.drop-1 .nav-caret-up {
  border-bottom: 5px solid #999;
  border-top: 0;
}
.drop-1 .nav-drop-1:hover {
  cursor: pointer;
}
.drop-1 .nav-drop-1:hover .nav-avatar img {
  border: 2px solid #A9D996;
}
.drop-1 .nav-drop-1:hover .nav-caret-down {
  border-top: 5px solid #A9D996;
}
.drop-1 .nav-drop-1:hover .nav-caret-up {
  border-bottom: 5px solid #A9D996;
}
.drop-1 .cursor-pointer:hover {
	cursor: pointer;
}
	
</style>

<style>

.drop-1a {
	width: 150px;
}
.drop-1a .drop-1a-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
	
  	/*width: 0px;
  	height: 0px;
  	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 8px solid #fff;*/
  	position: relative;
  	float: left;
  	left: -8px;
  	top: 18px;
}
.drop-1a .drop-1a-container {
  position: relative;
}
.drop-1a .drop-1a-box {
  width: 150px;
  /*float: left;*/
  position: absolute;
  margin-top: 0px;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
.drop-1a .drop-1a-container-links {
}
.drop-1a .margin-top-hide {
	margin-top: -38px;
	margin-left: 100px;
}
.drop-1a .margin-top-show {
	margin-top: -38px;
	margin-left: 128px;
}
.drop-1a .drop-1a-link-1 {
  text-align: left;
  width: 120px;
  padding: 4px 0 6px 10px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.drop-1a .drop-1a-link-1:hover {
  background: #f6f6f6;
}
.drop-1a .drop-1a-link-1:hover .span-1 {
}   
.drop-1a .drop-1a-span-1 {
  color: #376340; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.drop-1a a.drop-1a-link-a-1:hover {
	text-decoration: none;
}
.drop-1a .drop-1a-hidden {
	display: none !important;
    visibility: hidden !important;  
}
.drop-1a .drop-1a-border {
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;      

  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;     

  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;      

  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;     
}
.drop-1a .drop-1a-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-1a .drop-1a-divider-1 {
  height: 2px;
}
.drop-1a .drop-1a-divider-2 {
  height: 10px;
}
.drop-1a .background-transparent {
  background-color: transparent;
}
.drop-1a .background-white {
  background-color: #fff;
}
.drop-1a .nav-caret-container {
  width: 14px;
  height: 30px;
  padding: 0 0 0 2px;     
}
.drop-1a .nav-caret {
  width: 0px;
  height: 0px;
  position: relative;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin: 16px 0 0 0px;
}
.drop-1a .nav-caret-down {
  border-top: 5px solid #999;
  border-bottom: 0;     
}
.drop-1a .nav-caret-up {
  border-bottom: 5px solid #999;
  border-top: 0;
}
.drop-1a .nav-drop-1:hover {
  cursor: pointer;
}
.drop-1a .nav-drop-1:hover .nav-avatar img {
  border: 2px solid #A9D996;
}
.drop-1a .nav-drop-1:hover .nav-caret-down {
  border-top: 5px solid #A9D996;
}
.drop-1a .nav-drop-1:hover .nav-caret-up {
  border-bottom: 5px solid #A9D996;
}
.drop-1a .cursor-pointer:hover {
	cursor: pointer;
}
	
</style>

<div class="nav-publisher">
	<div class="nav-publisher-inner">
		<ul class="ul-1">
			<li class="li-1">
				
			    <div class="drop-1" id="drop_1">
			    	<div class="drop-1-couple">
				    	<div class="drop-1-target cursor-pointer" style="display: inline-block;">
				    		<div style="width: 30px; height: 30px; background-color: red;"></div>
				    	</div>
				    	<!-- <div id="nav_caret_container" class="nav-caret-container" style="display: inline-block;">
				    		<div id="nav_caret" class="nav-caret nav-caret-down"></div>
				    	</div> -->
				    	<!-- <div id="container_drop" class="dropdownContain hidden"> -->
				    	<div id="drop_1_container" class="drop-1-container hidden">
							<!-- <div id="container_dropOut" class="dropOut background-transparent"> -->
							<div class="drop-1-box background-transparent margin-top-hide">
								<div class="drop-1-triangle"></div>
								<div style="clear: both;"></div>
								<div class="drop-1-container-links background-white drop-1-border drop-1-shadow">
									<div class="drop-1-divider-2"></div>
									<div class="drop-1-link-1">
										<a href="/" class="drop-1-link-a-1"><span class="drop-1-span-1">Activity</span></a>
									</div>
									<div class="drop-1-divider-1"></div>
									<div class="drop-1-link-1">
										<a href="/Journal" class="drop-1-link-a-1"><span class="drop-1-span-1">Journal</span></a>
									</div>
									<div class="drop-1-divider-1"></div>
									<div class="drop-1-link-1">
										<a href="/KnowCred" class="drop-1-link-a-1"><span class="drop-1-span-1">KnowCred</span></a>
									</div>
									<div class="drop-1-divider-1"></div>
									<div class="drop-1-link-1 cursor-pointer" id="drop_1_link_1">

									    <div class="drop-1a">
									    	<div class="drop-1a-couple">
										    	<div class="drop-1a-target" style="display: inline-block;">
										    		<div style="width: 20px; height: 20px; background-color: blue;"></div>
										    	</div>
										    	<div id="drop_1a_container" class="drop-1a-container hidden">
													<div class="drop-1a-box background-transparent margin-top-hide">
														<div class="drop-1a-triangle"></div>
														<div style="clear: both;"></div>
														<div class="drop-1a-container-links background-white drop-1a-border drop-1a-shadow">
															<div class="drop-1a-divider-2"></div>
															<div class="drop-1a-link-1">
																<a href="/" class="drop-1a-link-a-1"><span class="drop-1a-span-1">Option 1</span></a>
															</div>
															<div class="drop-1a-divider-1"></div>
															<div class="drop-1a-link-1">
																<a href="/Journal" class="drop-1a-link-a-1"><span class="drop-1a-span-1">Option 2</span></a>
															</div>
															<div class="drop-1a-divider-1"></div>
															<div class="drop-1a-link-1">
																<a href="/KnowCred" class="drop-1a-link-a-1"><span class="drop-1a-span-1">Option 3</span></a>
															</div>
															<div class="drop-1a-divider-2"></div>
														</div>
													</div>
										        </div>
									        </div>
									   	</div>
										
									</div>
									<div class="drop-1-divider-2"></div>
								</div>
							</div>
				        </div>
			        </div>
			   	</div>
			   	
		  	</li>
			<li class="li-1">
				<a class="a-1" href="<%= @url_user_story %>">
					<span class="span-1">My Story</span>
				</a>
		    	<ul class="ul-2">
		      		<li class="li-2">
		      			<a href="/" class="a-2">
		      				<span class="span-2">Activity</span>
		      			</a>
		      		</li>
		      		<li class="li-2">
		      			<a href="/Journal" class="a-2">
		      				<span class="span-2">Journal</span>
		      			</a>
		      		</li>
		      		<li class="li-2">
		      			<a href="/KnowCred" class="a-2">
		      				<span class="span-2">KnowCred</span>
		      			</a>
		      		</li>
		    	</ul>
		  	</li>
		  	<li class="li-1">
		  		<a class="a-1" href="<%= @url_profile_story %>">
		  			<span class="span-1">Corporate Story</span>
		  		</a>
		    	<ul class="ul-2">
		      		<li class="li-2">
		      			<a href="<%= @url_profile_story_home %>" class="a-2">
		      				<span class="span-2">Corporate Activity</span>
		      			</a>
		      		</li>
		      		<li class="li-2">
		      			<a href="/Publisher-Advertise" class="a-2">
		      				<span class="span-2">Advertise</span>
		      			</a>
		      		</li>
		    	</ul>
		  	</li>
		  	<li class="li-1">
		  		<a class="a-1" href="/Publisher-Product-Listings">
		  			<span class="span-1">Products</span>
		  		</a>
			</li>
		</ul class="ul-1">
	</div>
</div>	


<script>

	var drop_visible_1a = false;

	function drop_show_1a() {
		// alert('show 1a');
		
		$(".drop-1a").addClass('drop');
		$("#drop_1a_container").removeClass('hidden');
		// $(".drop-namespace .dropOut").fadeIn(500, function() {
			// $(this).removeClass("margin-top-hide").addClass("margin-top-show");
		// });
		$(".drop-1a .drop-1a-box").fadeIn(500).removeClass("margin-top-hide").addClass("margin-top-show");

		// $("#nav_caret").removeClass("nav-caret-down").addClass("nav-caret-up");
		drop_visible_1a = true;			
	}	
	function drop_hide_1a() {
		$(".drop-1a").removeClass('drop');
		// $("#nav_caret_container").removeClass("nav-caret-focus");
		$(".drop-1a .drop-1a-box").removeClass("margin-top-show").addClass("margin-top-hide");		
		$(".drop-1a .drop-1a-container").addClass('hidden');
		drop_visible_1a = false;			
		// $("#nav_caret").removeClass("nav-caret-up").addClass("nav-caret-down");
	}	
	function drop_toggle_1a() {
		if (drop_visible_1a) {
			// alert('toggle 1a hide');					
			drop_hide_1a();
		}
		else {
			// alert('toggle 1a show');					
			drop_show_1a();
		}
	}	

	// $(window).load( function() {
	$(document).ready(function () {				

		// $(document).on('click', function(e) {
			// var o_target_1a = $(e.target).parents('.drop-1a');
			// if (o_target_1a == null) {
				// drop_hide_1a();
			// }
		// });
		
		// $(".drop-1a .drop-1a-target").on('click', function() {
		$("#drop_1_link_1").on('click', function() {
			// $("#render_nav_avatar").addClass("avatar-focus");
			// $("#nav_caret").addClass("nav-caret-focus");
			drop_toggle_1a();
		});

		// $('#div-nav-1').on('click', function() {
			// drop_hide();
			// window.location = document.getElementById('div-nav-1a').href;				
		// });
		// $('#div-nav-2').on('click', function() {
			// drop_hide();
			// window.location = document.getElementById('div-nav-2a').href;				
		// });
		// $('#div-nav-3').on('click', function() {
			// drop_hide();
			// window.location = document.getElementById('div-nav-3a').href;				
		// });
		// $('#div-nav-4').on('click', function() {
			// drop_hide();
			// window.location = document.getElementById('div-nav-4a').href;				
		// });


		
	});
	
</script>

<script>

	var drop_visible_1 = false;

	function drop_show_1() {
		$(".drop-1").addClass('drop');
		$("#drop_1_container").removeClass('hidden');
		// $(".drop-namespace .dropOut").fadeIn(500, function() {
			// $(this).removeClass("margin-top-hide").addClass("margin-top-show");
		// });
		$(".drop-1 .drop-1-box").fadeIn(500).removeClass("margin-top-hide").addClass("margin-top-show");

		// $("#nav_caret").removeClass("nav-caret-down").addClass("nav-caret-up");
		drop_visible_1 = true;			
	}	
	function drop_hide_1() {
		$(".drop-1").removeClass('drop');
		// $("#nav_caret_container").removeClass("nav-caret-focus");
		$(".drop-1 .drop-1-box").removeClass("margin-top-show").addClass("margin-top-hide");		
		$(".drop-1 .drop-1-container").addClass('hidden');
		drop_visible_1 = false;			
		// $("#nav_caret").removeClass("nav-caret-up").addClass("nav-caret-down");
	}	
	function drop_toggle_1() {
		if (drop_visible_1) {
			// alert('toggle 1 hide');					
			drop_hide_1();
			drop_hide_1a();
		}
		else {
			// alert('toggle 1 show');					
			drop_show_1();
		}
	}	
	
	// $(window).load( function() {
	$(document).ready(function () {				

		$(document).on('click', function(e) {
			var o_target_1 = $(e.target).parents('#drop_1');
			var o_target_1a = $(e.target).parents('#drop_1_link_1');
			if (o_target_1a == null) {
				drop_hide_1a();
				if (o_target_1 == null) {
					drop_hide_1();
				}
			}
		});

		$(".drop-1 .drop-1-target").on('click', function() {
			// alert('drop-1-target');
			// $("#render_nav_avatar").addClass("avatar-focus");
			// $("#nav_caret").addClass("nav-caret-focus");
			drop_toggle_1();
		});

		// $(".drop-1 .drop-1-couple").on('click', function() {
			// alert('drop-1-couple');
			// // $("#render_nav_avatar").addClass("avatar-focus");
			// // $("#nav_caret").addClass("nav-caret-focus");
			// drop_toggle_1();
		// });

		// $('#div-nav-1').on('click', function() {
			// drop_hide();
			// window.location = document.getElementById('div-nav-1a').href;				
		// });
		// $('#div-nav-2').on('click', function() {
			// drop_hide();
			// window.location = document.getElementById('div-nav-2a').href;				
		// });
		// $('#div-nav-3').on('click', function() {
			// drop_hide();
			// window.location = document.getElementById('div-nav-3a').href;				
		// });
		// $('#div-nav-4').on('click', function() {
			// drop_hide();
			// window.location = document.getElementById('div-nav-4a').href;				
		// });


		
	});
	
</script>

<script>
	

	// function test() {
		// var obj = {
			// "one",
			// "two"
		// };
		// $.each( obj, function( value) {
			// alert( value );
		// });
		
		// $.each( [ "a", "b", "c" ], function( i, l ){
			// // alert( "Index #" + i + ": " + l );
			// alert( l );
		// });
					
		// var obj = {
			// "flammable": "inflammable",
			// "duh": "no duh"
		// };
		// $.each( obj, function( key, value ) {
			// alert( key + ": " + value );
		// });
	// }


	// $(window).load( function() {
	$(document).ready(function () {				

	});
	
	
		
</script>






