<!-- <link rel="stylesheet" href="menu.css" type="text/css" media="screen" /> -->

<!-- <script type="text/javascript" src="../scripts/jquery-1.9.1.js"></script> -->	
<!-- <script type="text/javascript" src="/assets/jquery.js"></script> -->


<!-- <#%= stylesheet_link_tag "profile-new", media: "all" %#> -->

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
<script type="text/javascript" src="/assets/jquery.js"></script>


<style>

	
	
	
	
	.dropdown_1column, 
	.dropdown_2columns, 
	.dropdown_3columns, 
	.dropdown_4columns,
	.dropdown_5columns {
		margin:0px auto;
		float:left;
		position:absolute;
		left:-999em; /* Hides the drop down */
		text-align:left;
		padding:12px 0px 2px 0px;
		/*background:#F4F4F4;
		background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));*/
		background: none repeat scroll 0 0 #F8F8F8;
	    border: 1px solid #41B737;
	    border-top:none;
		box-shadow: 0 4px 4px #CCCCCC;
		-moz-border-radius: 0px 5px 5px 5px;
		-webkit-border-radius: 0px 5px 5px 5px;
		border-radius: 0px 5px 5px 5px;
		z-index: 100;
	}
	.dropdown_1column {width: 110px;}
	.dropdown_2columns {width: 280px;}
	.dropdown_3columns {width: 420px;}
	.dropdown_4columns {width: 560px;}
	.dropdown_5columns {width: 700px;}
	/*#menu li:hover .dropdown_1column, 
	#menu li:hover .dropdown_2columns, 
	#menu li:hover .dropdown_3columns,
	#menu li:hover .dropdown_4columns,
	#menu li:hover .dropdown_5columns {
		left:-1px;
		top:auto;
	}*/
	.col_1,
	.col_2,
	.col_3,
	.col_4,
	.col_5 {
		display:inline;
		float: left;
		position: relative;
		margin-left: 5px;
		margin-right: 5px;
	}
	.col_1 {width:100px;}
	.col_2 {width:270px;}
	.col_3 {width:410px;}
	.col_4 {width:550px;}
	.col_5 {width:690px;}
	#menu .menu_right {
		float:right;
		margin-right:0px;
	}
	#menu li .align_right {
		/* Rounded Corners */
		-moz-border-radius: 0px 0px 5px 5px;
	    -webkit-border-radius: 0px 0px 5px 5px;
	    border-radius: 0px 0px 5px 5px;
	}
	#menu li:hover .align_right {
		left:auto;
		right:-1px;
		top:auto;
	}
	#menu p, #menu h2, #menu h3, #menu ul li {
		text-align:left;
		/*text-shadow: 1px 1px 1px #FFFFFF;*/
	}
	#menu h2 {
		font-size:21px;
		font-weight:400;
		letter-spacing:-1px;
		margin:7px 0 14px 0;
		padding-bottom:14px;
		border-bottom:1px solid #666666;
	}
	#menu h3 {
		font-family: Arial, Helvetica, sans-serif;
		/*line-height: 21px;*/
		font-size: 14px;
	}
	#menu p {
		line-height:18px;
		margin:0 0 10px 0;
	}
	#menu div.separator_line {
		height: 1px;
		width: 100%;
		border-bottom: 1px solid silver;
	}
	#menu div.separator_line_container {
		width: 100%;
		padding: 0px 5% 6px 4%;
		margin: 2px 0px 3px 0px;		
		/*text-align: center;*/
	}
	#menu li:hover div a {
		font-size:12px;
		color:#015b86;
	}
	#menu li:hover div a:hover {
		color:#029feb;
	}
	.strong {
		font-weight:bold;
	}
	.italic {
		font-style:italic;
	}

	.imgshadow {
		background:#FFFFFF;
		padding:4px;
		border:1px solid #777777;
		margin-top:5px;
		-moz-box-shadow:0px 0px 5px #666666;
		-webkit-box-shadow:0px 0px 5px #666666;
		box-shadow:0px 0px 5px #666666;
	}
	.img_left {
		width:auto;
		float:left;
		margin:5px 15px 5px 5px;
	}
	#menu li .black_box {
		background-color:#333333;
		color: #eeeeee;
		text-shadow: 1px 1px 1px #000;
		padding:4px 6px 4px 6px;
		-moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    border-radius: 5px;
		-webkit-box-shadow:inset 0 0 3px #000000;
		-moz-box-shadow:inset 0 0 3px #000000;
		box-shadow:inset 0 0 3px #000000;
	}
	#menu li ul {
		list-style:none;
		padding:0;
		margin:0 0 12px 0;
	}
	#menu li ul li {
		font-size:12px;
		line-height:24px;
		position:relative;
		text-shadow: 1px 1px 1px #ffffff;
		padding:0;
		margin:0;
		float:none;
		text-align:left;
		width:130px;
	}
	#menu li ul li:hover {
		background:none;
		border:none;
		padding:0;
		margin:0;
	}
	#menu li .greybox li {
		background:#F4F4F4;
		border:1px solid #bbbbbb;
		margin:0px 0px 4px 0px;
		padding:4px 6px 4px 6px;
		width:116px;
	
		-moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -khtml-border-radius: 5px;
	    border-radius: 5px;
	}
	#menu li .greybox li:hover {
		background:#ffffff;
		border:1px solid #aaaaaa;
		padding:4px 6px 4px 6px;
		margin:0px 0px 4px 0px;
	}
	#menu li#with_sub_1 {
		display:block;
		text-align:center;
		position:relative;
		border:none;
	}
	#menu li#with_sub_1:hover {
		/*color: #41B737;		
	    border: 1px solid #41B737;
		padding: 6px 9px 6px 9px;
		background: none repeat scroll 0 0 #F8F8F8;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border-radius: 5px 5px 5px 5px;*/
		cursor: pointer;
	}
	#menu li div.drop-container {
		display: inline-block;
	}
	#menu li div.display-none {
		display: none;
	}
	#menu li .dropdown-caret-down {
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid silver;
	}
	#menu li .dropdown-caret-up {
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid silver;
	}
	.nav-avatar {
		width: 34px;
		border-radius: 4px;
	}	
	/*
	#D98D2D	knowstory logo orange
	#96C785 knowstory logo green dark 
	#A9D996 knowstory logo green light
	#214025 footer green
	background-color: rgba( 65, 183, 55, 0.92); nav green
	background-color: #41B737;	nav green		
	*/ 

	
</style>


<!-- <div style="height: 60px;" id="top-black-bar-marker"></div> -->	    
	<div id="nav_ks_marker" class="nav-bar-ks"></div>

	<div id="nav_ks" class="nav-ks">
		<ul id="menu">
			
		    <li class="icon">
		    	<img src="/assets/knowstory-icon-2-w224-h75.png" alt="knowstory-icon-2-w224-h75.png" height="75px">
		    	<!-- <img src="assets_knowstory/knowstory-icon-2-w634-h212.png" alt="knowstory-icon-2-w150-h50.png" height="75px"> -->
		    </li>
			
          	<% if signed_in? %>

		    <!-- <li class="profile-type">
		    	<img src="assets_knowstory//icons/publisher.png"><span>Publisher</span>
		    </li> -->

		    <li class="profile-type-dd" id="with_sub_1">

		    	<div class="menu-title" id="dropdown_1">
		    		<span>Publisher</span>
		    		<div class="drop-container">
		    			<!-- <div class="drop" id="dropdown_1_caret"></div> -->
		    			<div class="drop"></div>
		    		</div>
		    	</div>
		        <div class="dropdown_1column align_right display-none" id="dropdown_1_menu">
		            <div class="col_1">
						<a href="/id1">
							<h3>My page</h3>
						</a>
		            </div>
		            <div class="col_1">
		            	<div class="separator_line_container"><div class="separator_line"></div></div>
		            </div>
		            <div class="col_1">
						<a href="/Signout">
							<h3>Sign out</h3>
						</a>
		            </div>
		        </div>
		    </li>
		    <li class="profile-type">
				<a href="/<%= current_user_account_type %>">
					<img src="../assets_knowstory/icons/publisher.png">
				</a>
		    </li>

			<% end %>
			
		    <!-- <li class="icon">
		    	<img src="assets_knowstory/knowstory-icon-2-w634-h212.png" alt="knowstory-icon-2-w150-h50.png" height="75px">
		    </li>
		    <li class="profile-type">
		    	<img src="assets_knowstory//icons/publisher.png"><span>Publisher</span>
		    </li> -->
		    
		</ul>
	</div>
	<div style="clear: both;"></div>

	<script>
		
		
		function open_dropdown_1() {
			$("#dropdown_1_menu").removeClass("display-none");
			// $("#dropdown_1_caret").removeClass("dropdown-caret-down").addClass("dropdown-caret-up");
		}
		function close_dropdown_1() {
			$("#dropdown_1_menu").addClass("display-none");
			// $("#dropdown_1_caret").removeClass("dropdown-caret-up").addClass("dropdown-caret-down");
		}
		
		function init() {
			// $("#dropdown_1_menu").css({ 'display':'none' });
			$("#dropdown_1_menu").addClass("display-none");
			// $("#dropdown_1_caret").addClass("dropdown-caret-down");
		}
		
		$(document).ready(function() {
		//$(window).load(function() {
			
			init();
			
			$("#dropdown_1").on('click', function() {
				open_dropdown_1();
				// if( $("#dropdown_1_caret").hasClass("dropdown-caret-down") ) {
					// open_dropdown_1();
				// }
				// else {
					// close_dropdown_1();
				// }				
			});

			var dropdown_1_mouseover = false;
			var dropdown_1_menu_mouseover = false;
			$("#dropdown_1").mouseover ( function () {
				dropdown_1_mouseover = true;
			}).mouseleave ( function() {
				dropdown_1_mouseover = false;
				if(!dropdown_1_mouseover && !dropdown_1_menu_mouseover && $("#dropdown_1_menu").hasClass("display-none") ) {
					close_dropdown_1();
				}				
			});			
			$("#dropdown_1_menu").mouseover ( function () {
				dropdown_1_menu_mouseover = true;
			}).mouseleave ( function() {
				dropdown_1_menu_mouseover = false;
				if(!dropdown_1_mouseover && !dropdown_1_menu_mouseover ) {
					close_dropdown_1();
				}
			});


			
			// $("#dropdown_1_menu").on('blur', function() {
				// alert('blur');
			// });
			
			// $(document).on('click', function(elem) {
				// alert(elem.target);
				// elem = mtab1let.target.className;
				// if ((elem === 'hover-col') || (elem === 'delete-btn') || (elem === 'member-table')) {
					// //
				// }
				// else {
					// $("table.tbltablets tr").removeClass('row-select');					
				// }
			// });
			
			
			
		});	
// 		
		// $(window).scroll(function(e){ 
		  // $el = $('#nav_ks'); 
		  // $topmark = $('#nav_ks_marker');
// 
// 
		  // if ($(this).scrollTop() > $topmark.position().top){ 
		     // $el.css({'top': '4px'}); 
		  // } else {
		  	// $el.css({'top': '0'});
		  // }
		// });
		
	</script>
