	<!--[if gte IE 9]>
	  <style type="text/css">
	    .gradient {
	       filter: none;
	    }
	  </style>
	<![endif]-->
	<!-- <script type="text/javascript" src="/assets/jquery.js"></script> -->
	
	<style>
		/*
		#D98D2D	knowstory logo orange
		#96C785 knowstory logo green dark 
		#A9D996 knowstory logo green light
		#214025 footer green
		background-color: rgba( 65, 183, 55, 0.92); nav green
		background-color: #41B737;	nav green		
		*/ 
	</style>
	
	<style>

		.ks-nav-title-1 {
			position: relative;
			float: right;
			/*padding: 30px 0 0 0;*/
			margin: 0 14px 0 0;
			/*position: relative;*/
			width: 100px;
			height: 75px;
		}
		.ks-nav-title-1 span {
			position: absolute;
			bottom: 9px;
			right: 0px;
			font-family: KlavikaBlack;
			/*font-family: Arial, Helvetica, sans-serif;*/
			color: #ccc; 
			/*font-size:1.3em;*/
			font-weight: 200;
			font-size: 22px;
		}
		.ks-nav-title-1 span:hover {
			color: #ddd;
		}
		
	</style>
	
	<style>
		
		ul#menu li {
			/*font: 13px Verdana, 'Lucida Grande';*/
			/*cursor: pointer;*/
			/*-webkit-transition: padding .05s linear;
			-moz-transition: padding .05s linear;
			-ms-transition: padding .05s linear;
			-o-transition: padding .05s linear;
			transition: padding .05s linear;*/
		}
		ul li.drop {
			position: relative;
		}
		ul > li {
			display: inline-block;
		}
		/*#menu ul li a {*/
		ul#menu li div.li-title {
			/*line-height: 80px;*/
			/*padding: 0 20px;*/
			height: 26px;
			/*color: #777;*/
			/*-webkit-transition: all .1s ease-out;
			-moz-transition: all .1s ease-out;
			-ms-transition: all .1s ease-out;
			-o-transition: all .1s ease-out;
			transition: all .1s ease-out;*/
		}
		/*ul#menu li div.li-title:hover div.dropdownContain {
			top: 58px;
		}*/
	
		/*ul li a:hover {
			color: #eee;
		}*/
		
		/*.dropOut .triangle {
			width: 0;
			height: 0;
			position: absolute;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid white;
			top: -8px;
			right: 0px;
		}*/
		.dropOut .triangle {
			width: 8px;
			height: 8px;
			/*position: absolute;*/
			position: relative;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #fff;
			/*top: -28px;*/
			right: 30px;
			float: right;
		}
		ul#menu li div.dropdownContain {
			width: 140px;
			/*height: 100px;*/
			position: absolute;
			z-index: 2;
			/*left: -40px;*/
			right: 0px;
			/*margin-left: -80px;*/
			top: 50px;
		}
		.dropOut {
			width: 140px;
			float: left;
			position: relative;
			/*margin-top: 0px;*/
			/*opacity: 0;*/
			-webkit-transition: all .1s ease-out;
			-moz-transition: all .1s ease-out;
			-ms-transition: all .1s ease-out;
			-o-transition: all .1s ease-out;
			transition: all .1s ease-out;
		}
		/*.dropOut ul {
			float: left;
			padding: 10px 0;
		}*/
		.dropOut div {
			float: left;
			/*padding: 10px 0;*/
		}
		/*ul#menu li div.dropdownContain div.dropOut ul li {
			text-align: left;
			float: left;
			width: 120px;
			padding: 4px 0 6px 10px;
			margin-right: 10px;
			margin-left: 10px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}*/
		ul#menu li div.dropdownContain div.dropOut div.container-links div.div-link {
			text-align: left;
			float: left;
			width: 120px;
			padding: 4px 0 6px 10px;
			/*margin: 4px 0px 4px 0px;*/
			margin-right: 10px;
			margin-left: 10px;
			/*color: #376340;*/
			/*color: #000;*/
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			/*-webkit-transition: background .1s ease-out;
			-moz-transition: background .1s ease-out;
			-ms-transition: background .1s ease-out;
			-o-transition: background .1s ease-out;
			transition: background .1s ease-out;*/
		}
		/*.dropOut ul li:hover {
			background: #f6f6f6;
		}*/
		.dropOut div.container-links div.div-link:hover {
			background: #f6f6f6;
		}
		/*ul#menu li div.dropdownContain div.dropOut ul li a {
			color: #376340;	
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			font-weight: 700;
		}*/
		ul#menu li div.dropdownContain div.dropOut div.container-links div.div-link a {
			color: #376340;	
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			font-weight: 700;
		}

		/*ul#menu li div.dropdownContain div.dropOut ul li:hover a {
			color: #376340;	
			text-decoration: none;
		}*/
		ul#menu li div.dropdownContain div.dropOut div.container-links div.div-link:hover a {
			color: #376340;	
			text-decoration: none;
		}
		
		/*ul li:hover a { color: red; underline: none;}*/
		/*ul li:hover .dropdownContain { top: 65px; left: -60px;}*/
		/*ul#menu li:hover div.dropdownContain { top: 60px; }*/
		/*ul li:hover .underline { border-bottom-color: #777; }*/
		/*ul#menu li:hover div.dropdownContain div.dropOut { opacity: 1; margin-top: 0px; }*/
		
	  	/*.type-style {
	  		float:right; 
	    	padding: 28px 0 0 0; 
	    	color: #f8f8f8; 
	    	font-size:1.3em;
	    	height: 70px;
	  	}*/
		/*#menu div.separator_line {
			height: 1px;
			width: 100%;
			border-bottom: 1px solid silver;
		}*/
		
	</style>

	<style>
		
		.nav-avatar {
			width: 50px;
			height: 50px;
			margin: 10px 6px 0 0;
		}
		.nav-avatar img {
			border-radius: 4px; 
			margin: 0; 
			border-width: 2px;
			border-style: solid;
			border-color: #999;
		}
		.nav-avatar-focus img {
			border: 2px solid #A9D996;
		}
		.li-link:hover {
			cursor: pointer;
		}
		.div-link:hover {
			cursor: pointer;
		}
		.hidden {
			display: none;
		}
		.border-drop {
			-webkit-border-top-left-radius: 4px;
			-moz-border-top-left-radius: 4px;
			border-top-left-radius: 4px;			

			-webkit-border-top-right-radius: 4px;
			-moz-border-top-right-radius: 4px;
			border-top-right-radius: 4px;			

			-webkit-border-bottom-right-radius: 4px;
			-moz-border-bottom-right-radius: 4px;
			border-bottom-right-radius: 4px;			

			-webkit-border-bottom-left-radius: 4px;
			-moz-border-bottom-left-radius: 4px;
			border-bottom-left-radius: 4px;			
		}
		.drop-shadow {
			-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
			-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
			box-shadow: 0 1px 6px rgba(0,0,0,.15);			
		}
		
	</style>

	<style>
		
		.drop-divider-1 {
			height: 10px;
		}
		.drop-divider-2 {
			height: 10px;
		}
		.background-transparent {
			background-color: transparent;
		}
		.background-white {
			background-color: #fff;
		}
		
	</style>

	<style>
	
		.nav-caret-container {
			width: 14px;
			height: 64px;
			padding: 0 0 0 2px;			
		}
		.nav-caret {
			width: 4px;
			height: 4px;
			position: relative;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			margin: 36px 0 0 0px;
		}
		/*.nav-caret-down {
			border-top-width: 4px;
			border-top-style: solid;
			border-bottom: 0;
		}
		.nav-caret-up {
			border-bottom-width: 4px;
			border-bottom-style: solid;
			border-top: 0;
		}*/
		.nav-caret-down {
			border-top: 4px solid #999;
			border-bottom: 0;			
		}
		.nav-caret-up {
			border-bottom: 4px solid #999;
			border-top: 0;
		}
		.nav-drop-1:hover {
			cursor: pointer;
		}
		.nav-drop-1:hover .nav-avatar img {
			border: 2px solid #A9D996;
		}
		.nav-drop-1:hover .nav-caret-down {
			border-top: 4px solid #A9D996;
		}
		.nav-drop-1:hover .nav-caret-up {
			border-bottom: 4px solid #A9D996;
		}
		
	</style>
	
	<div id="nav_ks" class="nav-ks">
		<ul id="menu">
			
		    <li class="icon">
		    	<img src="/assets/knowstory-icon-2-w224-h75.png" alt="knowstory-icon-2-w224-h75.png" height="75px">
		    </li>
			
          	<% if signed_in? %>

		    <!-- <li class="profile-type">
		    	<img src="assets_knowstory//icons/publisher.png"><span>Publisher</span>
		    </li> -->

		    <li class="nav-drop-1" id="li_drop_1" style="float: right; margin: 0;">
		    		
		    	<div id="container_couple_1" class="">
			    	<div id="render_nav_avatar" class="nav-avatar" style="display: inline-block;">
			    		<%= render 'layouts/nav_avatar' %>
			    	</div>
			    	<div id="nav_caret_container" class="nav-caret-container" style="display: inline-block;">
			    		<div id="nav_caret" class="nav-caret nav-caret-down"></div>
			    	</div>
			    	<div id="container_drop" class="dropdownContain hidden">
						<div id="container_dropOut" class="dropOut background-transparent">
							<div class="triangle"></div>
							<div style="clear: both;"></div>
							<div class="container-links background-white border-drop drop-shadow">
								<div class="drop-divider-1"></div>
								<div id="div-nav-1" class="div-link" style="margin-top: 10px;">
									<a href="/" id="div-nav-1a">
										My page
									</a>
								</div>
								<div class="drop-divider-2"></div>
								<div id="div-nav-2" class="div-link">
									<a href="/Signout" id="div-nav-2a">
										Sign out
									</a>
								</div>
								<div class="drop-divider-2"></div>
								<div id="div-nav-3" class="div-link" style="margin-bottom: 10px;">
									<a href="/Posters-Demo" id="div-nav-3a">
										Posters
									</a>
								</div>
								<div class="drop-divider-1"></div>
							</div>
						</div>
			        </div>
		        </div>
		        
		    </li>
		    <!-- <li style="float: right; margin: 10px 10 0 0;">
				<a href="/">
					<img src="../assets_knowstory/icons/publisher.png">
				</a>
		    </li> -->
		    <li class="ks-nav-title-1">
				<a href="/">
		    		<span>Publisher</span>
				</a>
		    </li>

			<% end %>
			
		</ul>
	</div>
	<div style="clear: both;"></div>

	<script>

		var drop_visible = false;

		function drop_show() {
			$("#li_drop_1").addClass('drop');
			$("#container_drop").removeClass('hidden');
			$("ul#menu li div.dropdownContain div.dropOut").fadeIn(200, function() {
				$(this).css({ 
					'margin-top' : 10
				});
			});
			$("#nav_caret").removeClass("nav-caret-down").addClass("nav-caret-up");
			drop_visible = true;			
		}	
		function drop_hide() {
			$("#li_drop_1").removeClass('drop');
			$("#container_drop").addClass('hidden');
			drop_visible = false;			
			// $("#render_nav_avatar").removeClass("avatar-focus");
			// $("#nav_caret_container").removeClass("nav-caret-focus");
			$("ul#menu li div.dropdownContain div.dropOut").css({
				'margin-top' : 0
			});
			$("#nav_caret").removeClass("nav-caret-up").addClass("nav-caret-down");
		}	
		function drop_toggle_1() {
			if (drop_visible) {
				drop_hide();
			}
			else {
				drop_show();
			}
		}	

		// function test() {
			// var obj = {
				// "one",
				// "two"
			// };
			// $.each( obj, function( value) {
				// alert( value );
			// });
			
			// $.each( [ "a", "b", "c" ], function( i, l ){
				// // alert( "Index #" + i + ": " + l );
				// alert( l );
			// });
						
			// var obj = {
				// "flammable": "inflammable",
				// "duh": "no duh"
			// };
			// $.each( obj, function( key, value ) {
				// alert( key + ": " + value );
			// });
		// }


		// $(window).load( function() {
		$(document).ready(function () {				

			$(document).on('click', function(e) {
				var o_target = $(e.target).parents('.nav-drop-1').attr('id');
				if (o_target == null) {
					drop_hide();
				}
			});

			$("#container_couple_1").on('click', function() {
				$("#render_nav_avatar").addClass("avatar-focus");
				$("#nav_caret").addClass("nav-caret-focus");
				drop_toggle_1();
			});
			

			$('#div-nav-1').on('click', function() {
				drop_hide();
				window.location = document.getElementById('div-nav-1a').href;				
			});
			$('#div-nav-2').on('click', function() {
				drop_hide();
				window.location = document.getElementById('div-nav-2a').href;				
			});
			$('#div-nav-3').on('click', function() {
				drop_hide();
				window.location = document.getElementById('div-nav-3a').href;				
			});


			
		});
		
		
	</script>