<div class="nav-main">
	<div class="nav-main-inner">
		<ul>
		    <li class="icon">
		    	<%= image_tag('global/knowstory-icon-2-w224-h75.png', alt: '', width: "224px", height: "75px" ) %>
		    </li>
		    <li style="float: right; margin: 0;">
		    	<div></div>
		    </li>
		    <li class="ks-nav-title-1">
				<a href="/Publisher">
		    		<span>Publisher</span>
				</a>
		    </li>
		</ul>
	</div>
</div>
<div style="clear: both;"></div>

<!-- <script>
	$(document).ready(function () {				
	});
</script> -->
