
<div class="nav-publisher-product-summary">
	<div class="nav-publisher-product-summary-inner">
		<div class="nav-publisher-product-summary-list">

			<div class="nav-publisher-product-summary-item-1">
				<div id="drop_namespace16" class="drop-16">
					<div class="drop-16-couple">
						<a href="/Advertisements">
				    	<div class="drop-16-target cursor-pointer">
				    		<div class="drop-16-target-text">
				    			<span class="drop-16-span-1">Ad Summary</span>
				    		</div>						    		
				    	</div>
				    	</a>
				    </div>
				</div>
		  	</div>
			
			<div class="nav-publisher-product-summary-item-1">
				<div id="drop_namespace11" class="drop-11">
					<div class="drop-11-couple">
						<a href="/Publisher-Listings">
				    	<div class="drop-11-target cursor-pointer">
				    		<div class="drop-11-target-text">
				    			<span class="drop-11-span-1">Listing</span>
				    		</div>						    		
				    	</div>
				    	</a>
				    </div>
				</div>
		  	</div>
		  	
			<div class="nav-publisher-product-summary-item-1">
				<div id="drop_namespace12" class="drop-12">
					<div class="drop-12-couple">
						<a href="/Publisher-Squares">
				    	<div class="drop-12-target cursor-pointer">
				    		<div class="drop-12-target-text">
				    			<span class="drop-12-span-1">Square</span>
				    		</div>						    		
				    	</div>
				    	</a>
				    </div>
				</div>
		  	</div>

			<div class="nav-publisher-product-summary-item-1">
				<div id="drop_namespace13" class="drop-13">
					<div class="drop-13-couple">
						<a href="/Publisher-Pins">
				    	<div class="drop-13-target cursor-pointer">
				    		<div class="drop-13-target-text">
				    			<span class="drop-13-span-1">Poster Pin</span>
				    		</div>						    		
				    	</div>
				    	</a>
				    </div>
				</div>
		  	</div>

			<div class="nav-publisher-product-summary-item-1">
				<div id="drop_namespace14" class="drop-14">
					<div class="drop-14-couple">
						<a href="/See-Posters">
				    	<div class="drop-14-target cursor-pointer">
				    		<div class="drop-14-target-text">
				    			<span class="drop-14-span-1">See Posters</span>
				    		</div>						    		
				    	</div>
				    	</a>
				    </div>
				</div>
		  	</div>

			<div class="nav-publisher-product-summary-item-1">
				<div id="drop_namespace15" class="drop-15">
					<div class="drop-15-couple">
						<a href="/Poster-Premium-Positions">
				    	<div class="drop-15-target cursor-pointer">
				    		<div class="drop-15-target-text">
				    			<span class="drop-15-span-1">Premium Positions</span>
				    		</div>						    		
				    	</div>
				    	</a>
				    </div>
				</div>
		  	</div>
		  	
		  	
		</div>
	</div>
</div>	

<script>

	var drop_visible_namespace11 = false;
	function drop_show_namespace11() {
		$("#drop_namespace11 .drop-11-container").removeClass('drop-hidden');
		$("#drop_namespace11 .drop-11-box").fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
		drop_visible_namespace11 = true;			
	}	
	function drop_hide_namespace11() {
		$("#drop_namespace11 .drop-11-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);		
		drop_visible_namespace11 = false;			
	}	
	function drop_toggle_namespace11() {
		if (drop_visible_namespace11) {
			drop_hide_namespace11();
		}
		else {
			drop_close_all_called_1 = false;
			drop_show_namespace11();
		}
	}	
	
	function dropCloseAll_1() {
		drop_close_all_called_1 = true;
		drop_hide_namespace11();
	}
	
	
	var drop_close_all_called_1 = false;
	
	
	$(document).ready(function () {				

		$(document).on('click', function(e) {
			var target_namespace11 = $(e.target).parents('#drop_namespace11').attr("id");
			if (target_namespace11 == null) {
				drop_hide_namespace11();
			}
		});

		$("#drop_namespace11 .drop-11-target").on('click', function() {
			drop_toggle_namespace11();
		});
		// $("#drop_namespace11 .drop-11-link-1[data-id='1']").on("click", function() {
			// dropCloseAll_1();
		// });

	});
	
</script>

<script>

	var drop_visible_namespace12 = false;
	function drop_show_namespace12() {
		$("#drop_namespace12 .drop-12-container").removeClass('drop-hidden');
		$("#drop_namespace12 .drop-12-box").fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
		drop_visible_namespace12 = true;			
	}	
	function drop_hide_namespace12() {
		$("#drop_namespace12 .drop-12-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);		
		drop_visible_namespace12 = false;			
	}	
	function drop_toggle_namespace12() {
		if (drop_visible_namespace12) {
			drop_hide_namespace12();
		}
		else {
			drop_close_all_called_2 = false;
			drop_show_namespace12();
		}
	}	
	
	function dropCloseAll_2() {
		drop_close_all_called_2 = true;
		drop_hide_namespace12();
	}
	
	
	var drop_close_all_called_2 = false;
	
	
	$(document).ready(function () {				

		$(document).on('click', function(e) {
			var target_namespace12 = $(e.target).parents('#drop_namespace12').attr("id");
			if (target_namespace12 == null) {
				drop_hide_namespace12();
			}
		});

		$("#drop_namespace12 .drop-12-target").on('click', function() {
			drop_toggle_namespace12();
		});
		// $("#drop_namespace12 .drop-12-link-1[data-id='1']").on("click", function() {
			// dropCloseAll_2();
		// });

	});
	
</script>

<script>

	var drop_visible_namespace13 = false;
	function drop_show_namespace13() {
		$("#drop_namespace13 .drop-13-container").removeClass('drop-hidden');
		$("#drop_namespace13 .drop-13-box").fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
		drop_visible_namespace13 = true;			
	}	
	function drop_hide_namespace13() {
		$("#drop_namespace13 .drop-13-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);		
		drop_visible_namespace13 = false;			
	}	
	function drop_toggle_namespace13() {
		if (drop_visible_namespace13) {
			drop_hide_namespace13();
		}
		else {
			drop_close_all_called_3 = false;
			drop_show_namespace13();
		}
	}	
	
	function dropCloseAll_3() {
		drop_close_all_called_3 = true;
		drop_hide_namespace13();
	}
	
	
	var drop_close_all_called_3 = false;
	
	
	$(document).ready(function () {				

		$(document).on('click', function(e) {
			var target_namespace13 = $(e.target).parents('#drop_namespace13').attr("id");
			if (target_namespace13 == null) {
				drop_hide_namespace13();
			}
		});

		$("#drop_namespace13 .drop-13-target").on('click', function() {
			drop_toggle_namespace13();
		});
		// $("#drop_namespace13 .drop-13-link-1[data-id='1']").on("click", function() {
			// dropCloseAll_3();
		// });

	});
	
</script>

<script>

	var drop_visible_namespace14 = false;
	function drop_show_namespace14() {
		$("#drop_namespace14 .drop-14-container").removeClass('drop-hidden');
		$("#drop_namespace14 .drop-14-box").fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
		drop_visible_namespace14 = true;			
	}	
	function drop_hide_namespace14() {
		$("#drop_namespace14 .drop-14-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);		
		drop_visible_namespace14 = false;			
	}	
	function drop_toggle_namespace14() {
		if (drop_visible_namespace14) {
			drop_hide_namespace14();
		}
		else {
			drop_close_all_called_1 = false;
			drop_show_namespace14();
		}
	}	
	
	function dropCloseAll_1() {
		drop_close_all_called_1 = true;
		drop_hide_namespace14();
	}
	
	
	var drop_close_all_called_1 = false;
	
	
	$(document).ready(function () {				

		$(document).on('click', function(e) {
			var target_namespace14 = $(e.target).parents('#drop_namespace14').attr("id");
			if (target_namespace14 == null) {
				drop_hide_namespace14();
			}
		});

		$("#drop_namespace14 .drop-14-target").on('click', function() {
			drop_toggle_namespace14();
		});
		// $("#drop_namespace14 .drop-14-link-1[data-id='1']").on("click", function() {
			// dropCloseAll_1();
		// });

	});
	
</script>

<script>

	var drop_visible_namespace15 = false;
	function drop_show_namespace15() {
		$("#drop_namespace15 .drop-15-container").removeClass('drop-hidden');
		$("#drop_namespace15 .drop-15-box").fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
		drop_visible_namespace15 = true;			
	}	
	function drop_hide_namespace15() {
		$("#drop_namespace15 .drop-15-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);		
		drop_visible_namespace15 = false;			
	}	
	function drop_toggle_namespace15() {
		if (drop_visible_namespace15) {
			drop_hide_namespace15();
		}
		else {
			drop_close_all_called_1 = false;
			drop_show_namespace15();
		}
	}	
	
	function dropCloseAll_1() {
		drop_close_all_called_1 = true;
		drop_hide_namespace15();
	}
	
	
	var drop_close_all_called_1 = false;
	
	
	$(document).ready(function () {				

		$(document).on('click', function(e) {
			var target_namespace15 = $(e.target).parents('#drop_namespace15').attr("id");
			if (target_namespace15 == null) {
				drop_hide_namespace15();
			}
		});

		$("#drop_namespace15 .drop-15-target").on('click', function() {
			drop_toggle_namespace15();
		});
		// $("#drop_namespace15 .drop-15-link-1[data-id='1']").on("click", function() {
			// dropCloseAll_1();
		// });

	});
	
</script>
