

<div style="height: 100px;"></div>

<%= button_to "Pay with PayPal", { :action => 'pay', :method => :post } %>

<div style="height: 50px;"></div>



 <!-- link_to "Checkout", @cart.paypal_url(products_url)  -->


